/****** Object:  View [dbo].[dim_ent_week_closing_period_active_v]    Script Date: 8/16/2021 2:15:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_week_closing_period_active_v]
AS SELECT [dim_ent_week_closing_period_sk]
      ,[dim_ent_week_closing_period_nk]
      ,[week_closing_period]
      ,[start_date]
      ,[end_date]
      ,[hash_code]
      ,[active]
      ,[created_date_time]
      ,[modified_date_time]
      ,[late_arrival_flag]
  FROM [dbo].[dim_ent_week_closing_period]
  where active = 1;
GO
