/****** Object:  Table [gpd].[iDocs_P21A_spoolstatus]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[iDocs_P21A_spoolstatus]
(
	[stage_idoc_P21A_SpoolStatus_id] [int] IDENTITY(1,1) NOT NULL,
	[PROJNAME] [varchar](1000) NOT NULL,
	[PROJNO] [varchar](30) NULL,
	[DOC_ID] [varchar](30) NULL,
	[DocumentNumber] [varchar](100) NULL,
	[Revision] [varchar](10) NULL,
	[RevisionDate] [varchar](30) NULL,
	[Title] [varchar](1000) NULL,
	[IssueState] [varchar](100) NULL,
	[TransmittalNumber] [varchar](50) NULL,
	[TransmittalDate] [varchar](30) NULL,
	[Deliverable] [varchar](5) NULL,
	[ISONumber] [varchar](100) NULL,
	[iDocsFolder] [varchar](50) NULL,
	[RefDoc] [varchar](100) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[iDocs_P24A_ConsDocMaster]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[iDocs_P24A_ConsDocMaster]
(
	[stage_idoc_P24A_ConsDocMaster_id] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NAME] [varchar](1000) NULL,
	[PROJECT_NUMBER] [varchar](100) NULL,
	[DOC_ID] [varchar](30) NULL,
	[DELIVERABLE] [varchar](100) NULL,
	[DOCUMENT_NUMBER] [varchar](100) NULL,
	[Title] [varchar](1000) NULL,
	[Issue_State] [varchar](100) NULL,
	[Revision] [varchar](10) NULL,
	[Revision_Date] [varchar](30) NULL,
	[DISCIPLINE] [varchar](300) NULL,
	[UNIT] [varchar](30) NULL,
	[OFFICE_LOCATION] [varchar](300) NULL,
	[FILENAME] [varchar](300) NULL,
	[SUPERSEDED_BY] [varchar](300) NULL,
	[HOLDS] [varchar](100) NULL,
	[WORK_PACKAGE] [varchar](100) NULL,
	[CWA] [varchar](100) NULL,
	[CWP] [varchar](300) NULL,
	[CWP_DISCIPLINE] [varchar](300) NULL,
	[CWP_ISO] [varchar](100) NULL,
	[IDOCS_FOLDER] [varchar](300) NULL,
	[REVISION_COUNT] [varchar](30) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[iDocs_P24B_ConsMSMaster]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[iDocs_P24B_ConsMSMaster]
(
	[stage_idoc_P24B_ConsMSMaster_id] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_NAME] [varchar](1000) NULL,
	[PROJECT_NUMBER] [varchar](1000) NULL,
	[DOC_ID] [varchar](30) NULL,
	[DELIVERABLE] [varchar](100) NULL,
	[DOCUMENT_NUMBER] [varchar](100) NULL,
	[MS_ORDER] [varchar](1000) NULL,
	[MS_ID] [varchar](100) NULL,
	[MS_GATE_NAME] [varchar](100) NULL,
	[MS_WEIGHT] [varchar](30) NULL,
	[SCHEDULED_DATE] [varchar](30) NULL,
	[FORECAST_DATE] [varchar](30) NULL,
	[ACTUAL_DATE] [varchar](30) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Activity]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Activity]
(
	[stage_ncsa_activity_id] [int] NOT NULL,
	[Project] [varchar](12) NOT NULL,
	[ProjectDescription] [varchar](512) NULL,
	[activity] [varchar](50) NOT NULL,
	[Description] [varchar](512) NULL,
	[ScheduleUnit] [varchar](10) NULL,
	[ScheduleResource] [varchar](10) NULL,
	[ActivityStatus] [varchar](20) NULL,
	[OriginalDuration] [int] NULL,
	[RemainingDuration] [int] NULL,
	[ActualStart] [varchar](20) NULL,
	[ActualFinish] [varchar](20) NULL,
	[PercentCompleteType] [varchar](20) NULL,
	[ExecutedByType] [varchar](20) NULL,
	[Prime] [varchar](2) NULL,
	[SubPrime] [varchar](3) NULL,
	[ScheduleWorkArea] [varchar](10) NULL,
	[ExecutedBy] [varchar](20) NULL,
	[EarlyStartDate] [varchar](20) NULL,
	[EarlyFinishDate] [varchar](20) NULL,
	[IsOnCriticalPath] [varchar](10) NULL,
	[TotalFloat] [int] NULL,
	[CWP] [varchar](50) NULL,
	[CWPDescription] [varchar](600) NULL,
	[ProjectID] [int] NULL,
	[S_WorkArea] [varchar](10) NULL,
	[PlannedStart] [varchar](20) NULL,
	[PlannedFinish] [varchar](20) NULL,
	[dim_entp_project_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Employee]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Employee]
(
	[TMID] [varchar](20) NULL,
	[SupervisorDescription] [varchar](500) NULL,
	[Employee_id] [varchar](20) NULL,
	[rssk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_country_iso_nk] [int] NULL,
	[dim_ent_city_iso_nk] [int] NULL,
	[dim_ent_mdr_location_nk] [int] NULL,
	[dim_ent_entity_nk] [int] NULL,
	[dim_ent_cost_center_nk] [int] NULL,
	[dim_ent_business_function_nk] [int] NULL,
	[dim_ent_payroll_nk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[employee_legacy_number] [varchar](50) NULL,
	[sap_global_number] [nvarchar](50) NULL,
	[sap_person_number] [nvarchar](50) NULL,
	[jde_number] [nvarchar](50) NULL,
	[peoplesoft_number] [nvarchar](50) NULL,
	[last_name] [varchar](300) NULL,
	[middle_name] [varchar](300) NULL,
	[first_name] [varchar](300) NULL,
	[gender] [varchar](10) NULL,
	[business_unit] [varchar](100) NULL,
	[department] [varchar](100) NULL,
	[payroll_type] [varchar](100) NULL,
	[worker_type] [varchar](100) NULL,
	[worker_type2] [varchar](100) NULL,
	[operating_unit] [varchar](100) NULL,
	[employee_functional_manager] [varchar](300) NULL,
	[employee_matrix_manager] [varchar](300) NULL,
	[job_group] [varchar](100) NULL,
	[job_family] [varchar](100) NULL,
	[job_discipline] [varchar](100) NULL,
	[job_position] [varchar](100) NULL,
	[standard_work_hours] [money] NULL,
	[employee_status] [varchar](50) NULL,
	[area] [varchar](100) NULL,
	[assignment_location] [varchar](100) NULL,
	[company_number] [varchar](100) NULL,
	[person_type] [varchar](100) NULL,
	[original_hire_date] [datetime] NULL,
	[payroll_name] [nvarchar](100) NULL,
	[employee_type] [varchar](24) NULL,
	[Foreman_name] [varchar](500) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_IWP]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_IWP]
(
	[stage_ncsa_iwp_id] [varchar](15) NULL,
	[ActivityID] [varchar](15) NULL,
	[ScheduleResourceID] [varchar](15) NULL,
	[Name] [varchar](50) NULL,
	[ScheduleOffset] [varchar](10) NULL,
	[ROCID] [varchar](15) NULL,
	[PeriodID] [varchar](15) NULL,
	[ForemanID] [varchar](15) NULL,
	[Priority] [varchar](15) NULL,
	[PeriodPriority] [varchar](15) NULL,
	[IssuedByID] [varchar](15) NULL,
	[IssuedDate] [varchar](30) NULL,
	[ExportedByID] [varchar](15) NULL,
	[ExportedDate] [varchar](30) NULL,
	[CreateByID] [varchar](15) NULL,
	[ModifiedByID] [varchar](15) NULL,
	[CreatedDate] [varchar](30) NULL,
	[ModifiedDate] [varchar](30) NULL,
	[ParentID] [varchar](15) NULL,
	[DurationInDays] [varchar](15) NULL,
	[CWPStartDate] [varchar](30) NULL,
	[CWPEndDate] [varchar](30) NULL,
	[PrelimDurationInHours] [varchar](15) NULL,
	[DurationInWorkDays] [varchar](15) NULL,
	[RestartDate] [varchar](30) NULL,
	[RemainingDuration] [varchar](15) NULL,
	[ModifiedStartDate] [varchar](30) NULL,
	[ModifiedDuration] [varchar](15) NULL,
	[RestrictionID] [varchar](15) NULL,
	[RestrictionPercentage] [varchar](15) NULL,
	[RestrictionNotes] [varchar](1000) NULL,
	[Text1] [varchar](1000) NULL,
	[Text2] [varchar](1000) NULL,
	[Text3] [varchar](1000) NULL,
	[Text4] [varchar](1000) NULL,
	[Text5] [varchar](1000) NULL,
	[ConstructionManagerID] [varchar](15) NULL,
	[SuperID] [varchar](15) NULL,
	[GeneralForemanID] [varchar](15) NULL,
	[FieldEngineerID] [varchar](15) NULL,
	[CoordinatorID] [varchar](15) NULL,
	[CompletedBy] [varchar](15) NULL,
	[CompletedDate] [varchar](30) NULL,
	[IWPStatusID] [varchar](15) NULL,
	[project_id] [varchar](50) NULL,
	[MatlPercAllocated] [varchar](30) NULL,
	[CostCode] [varchar](8) NULL,
	[UOM] [varchar](10) NULL,
	[Description] [varchar](1000) NULL,
	[Notes] [varchar](4000) NULL,
	[Activity_Code] [varchar](50) NULL,
	[Schedule_Resource_Code] [varchar](10) NULL,
	[dim_entp_project_nk] [int] NULL,
	[IWP_Status] [varchar](255) NULL,
	[progress_status] [varchar](200) NULL,
	[Supervisor_Name] [varchar](250) NULL,
	[Construction_Manager_Name] [varchar](250) NULL,
	[Foreman_Name] [varchar](250) NULL,
	[Field_Engineer_Name] [varchar](250) NULL,
	[Coordinator_Name] [varchar](250) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_MCPM_dim_ent_jde_coa]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_MCPM_dim_ent_jde_coa]
(
	[stage_mcpm_coa_id] [int] IDENTITY(1,1) NOT NULL,
	[CoA] [varchar](50) NULL,
	[Domain] [varchar](30) NULL,
	[MCPM_PSRLevel1] [varchar](3) NULL,
	[MCPM_PSRLevel2] [varchar](5) NULL,
	[MCPM_PSRL1Description] [varchar](50) NULL,
	[MCPM_PSRL2Description] [varchar](100) NULL,
	[dim_entp_project_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_MCPM_Onshore]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_MCPM_Onshore]
(
	[stage_ncsa_mcpm_onshore_id] [int] IDENTITY(1,1) NOT NULL,
	[Domain] [varchar](30) NULL,
	[DomainName] [varchar](100) NULL,
	[CutOff] [varchar](30) NULL,
	[Currency] [varchar](3) NULL,
	[CoA] [varchar](50) NULL,
	[Title] [varchar](200) NULL,
	[ProgressType] [varchar](50) NULL,
	[ContractNo] [varchar](30) NULL,
	[SummaryCostType] [varchar](5) NULL,
	[CostType] [varchar](5) NULL,
	[Unit] [varchar](5) NULL,
	[WorkArea] [varchar](3) NULL,
	[Prime] [varchar](2) NULL,
	[SubPrime] [varchar](3) NULL,
	[CostCode] [varchar](5) NULL,
	[Measurable] [varchar](5) NULL,
	[Phase] [varchar](2) NULL,
	[PSRLevel1] [varchar](2) NULL,
	[PSRLevel2] [varchar](4) NULL,
	[PSRL1Description] [varchar](50) NULL,
	[PSRL2Description] [varchar](100) NULL,
	[UoM] [varchar](10) NULL,
	[OBQty] [varchar](20) NULL,
	[OBHrs] [varchar](20) NULL,
	[OBAmt] [varchar](20) NULL,
	[OBRate] [varchar](20) NULL,
	[CBQty] [varchar](20) NULL,
	[CBHrs] [varchar](20) NULL,
	[CBAmt] [varchar](20) NULL,
	[PBQty] [varchar](20) NULL,
	[PBHrs] [varchar](20) NULL,
	[PBAmt] [varchar](20) NULL,
	[ActualHrs] [varchar](20) NULL,
	[ActualAmt] [varchar](20) NULL,
	[ActualRate] [varchar](20) NULL,
	[CommittedHrs] [varchar](20) NULL,
	[CommittedAmt] [varchar](20) NULL,
	[EarnedQty] [varchar](20) NULL,
	[EarnedHrs] [varchar](20) NULL,
	[EarnedAmt] [varchar](20) NULL,
	[TakeOffQty] [varchar](20) NULL,
	[TakeOffHrs] [varchar](20) NULL,
	[PctComplete] [varchar](20) NULL,
	[EACHrs] [varchar](20) NULL,
	[EACAmt] [varchar](20) NULL,
	[ETCHrs] [varchar](20) NULL,
	[ETCAmt] [varchar](20) NULL,
	[ETCRate] [varchar](20) NULL,
	[ForecastHrs] [varchar](20) NULL,
	[ForecastAmt] [varchar](20) NULL,
	[ForecastRate] [varchar](20) NULL,
	[CWP_CODE] [varchar](50) NULL,
	[SCHEDULE_RESOURCE_CODE] [varchar](100) NULL,
	[ACTIVITY_CODE] [varchar](50) NULL,
	[IWP_CODE] [varchar](50) NULL,
	[PIM_CODE] [varchar](50) NULL,
	[ROC_CODE] [varchar](50) NULL,
	[FUNCTION_CODE] [varchar](50) NULL,
	[data_class_quantity_code] [varchar](50) NULL,
	[data_class_hours_code] [varchar](50) NULL,
	[data_class_amount_code] [varchar](50) NULL,
	[data_class_rate_code] [varchar](50) NULL,
	[data_class_precentage_code] [varchar](50) NULL,
	[sub_class_original_budget_quantity_code] [varchar](100) NULL,
	[sub_class_original_budget_hours_code] [varchar](100) NULL,
	[sub_class_original_budget_amount_code] [varchar](100) NULL,
	[sub_class_original_budget_rate_code] [varchar](100) NULL,
	[sub_class_current_budget_quantity_code] [varchar](100) NULL,
	[sub_class_current_budget_hours_code] [varchar](100) NULL,
	[sub_class_current_budget_amount_code] [varchar](100) NULL,
	[sub_class_progress_budget_quantity_code] [varchar](100) NULL,
	[sub_class_progress_budget_hours_code] [varchar](100) NULL,
	[sub_class_progress_budget_amount_code] [varchar](100) NULL,
	[sub_class_estimated_completion_hours_code] [varchar](100) NULL,
	[sub_class_estimated_completion_amount_code] [varchar](100) NULL,
	[sub_class_estimated_take_of_completion_hours_code] [varchar](100) NULL,
	[sub_class_estimated_take_of_completion_amount_code] [varchar](100) NULL,
	[sub_class_estimated_take_of_completion_rate_code] [varchar](100) NULL,
	[sub_class_committed_amount_code] [varchar](100) NULL,
	[sub_class_committed_hours_code] [varchar](100) NULL,
	[sub_class_actual_hours_code] [varchar](100) NULL,
	[sub_class_actual_amount_code] [varchar](100) NULL,
	[sub_class_actual_rate_code] [varchar](100) NULL,
	[sub_class_earned_quantity_code] [varchar](100) NULL,
	[sub_class_earned_hours_code] [varchar](100) NULL,
	[sub_class_earned_amount_code] [varchar](100) NULL,
	[sub_class_take_off_quantity_code] [varchar](100) NULL,
	[sub_class_take_off_hours_code] [varchar](100) NULL,
	[sub_class_forecast_hours_code] [varchar](100) NULL,
	[sub_class_forecast_amount_code] [varchar](100) NULL,
	[sub_class_forecast_rate_code] [varchar](100) NULL,
	[sub_class_percentage_complete_code] [varchar](100) NULL,
	[source_code] [varchar](50) NULL,
	[sub_source_code] [varchar](50) NULL,
	[unit_of_measure_code_quantity] [varchar](50) NULL,
	[unit_of_measure_code_hours] [varchar](50) NULL,
	[unit_of_measure_code_amount] [varchar](50) NULL,
	[unit_of_measure_code_precentage] [varchar](50) NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[dim_ent_work_unit_sk] [int] NULL,
	[dim_ent_work_unit_nk] [int] NULL,
	[dim_ent_work_area_sk] [int] NULL,
	[dim_ent_work_area_nk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_ent_data_class_quantity_sk] [int] NULL,
	[dim_ent_data_class_quantity_nk] [int] NULL,
	[dim_ent_data_class_hours_sk] [int] NULL,
	[dim_ent_data_class_hours_nk] [int] NULL,
	[dim_ent_data_class_amount_sk] [int] NULL,
	[dim_ent_data_class_amount_nk] [int] NULL,
	[dim_ent_data_class_rate_sk] [int] NULL,
	[dim_ent_data_class_rate_nk] [int] NULL,
	[dim_ent_data_class_percentage_sk] [int] NULL,
	[dim_ent_data_class_percentage_nk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_rate_sk] [int] NULL,
	[dim_ent_data_sub_class_original_budget_rate_nk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_current_budget_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_budget_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_estimated_at_completion_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_estimated_at_completion_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_estimated_at_completion_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_estimated_at_completion_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_rate_sk] [int] NULL,
	[dim_ent_data_sub_class_estimated_take_of_completion_rate_nk] [int] NULL,
	[dim_ent_data_sub_class_committed_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_committed_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_committed_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_committed_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_actual_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_actual_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_actual_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_actual_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_actual_rate_sk] [int] NULL,
	[dim_ent_data_sub_class_actual_rate_nk] [int] NULL,
	[dim_ent_data_sub_class_earned_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_earned_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_earned_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_earned_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_earned_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_earned_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_take_off_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_take_off_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_take_off_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_take_off_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_forecast_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_forecast_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_forecast_amount_sk] [int] NULL,
	[dim_ent_data_sub_class_forecast_amount_nk] [int] NULL,
	[dim_ent_data_sub_class_forecast_rate_sk] [int] NULL,
	[dim_ent_data_sub_class_forecast_rate_nk] [int] NULL,
	[dim_ent_data_sub_class_percentage_complete_sk] [int] NULL,
	[dim_ent_data_sub_class_percentage_complete_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_sk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_sk] [int] NULL,
	[dim_ent_unit_of_measure_hours_nk] [int] NULL,
	[dim_ent_unit_of_measure_amount_sk] [int] NULL,
	[dim_ent_unit_of_measure_amount_nk] [int] NULL,
	[dim_ent_unit_of_measure_percentage_sk] [int] NULL,
	[dim_ent_unit_of_measure_percentage_nk] [int] NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_MCPM_ProgressItems_Onshore]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_MCPM_ProgressItems_Onshore]
(
	[stage_ncsa_mcpm_progress_items_onshore_id] [int] IDENTITY(1,1) NOT NULL,
	[Domain] [varchar](30) NULL,
	[KeyUoM] [varchar](5) NULL,
	[CutOff] [varchar](30) NULL,
	[CoA] [varchar](100) NULL,
	[EarnedQty] [varchar](30) NULL,
	[EarnedHrs] [varchar](30) NULL,
	[PrevEarnedQty] [varchar](30) NULL,
	[PrevEarnedHrs] [varchar](30) NULL,
	[VarianceEarnedQty] [varchar](30) NULL,
	[VarianceEarnedHrs] [varchar](30) NULL,
	[TakeOffQty] [varchar](30) NULL,
	[TakeOffHrs] [varchar](30) NULL,
	[ProgressBaseQty] [varchar](30) NULL,
	[ProgressBaseHrs] [varchar](30) NULL,
	[ProgressBaseAmt] [varchar](30) NULL,
	[ActualHrs] [varchar](30) NULL,
	[ActualAmt] [varchar](30) NULL,
	[Phase] [varchar](2) NULL,
	[Prime] [varchar](2) NULL,
	[SubPrime] [varchar](3) NULL,
	[CostCode] [varchar](5) NULL,
	[Contract] [varchar](30) NULL,
	[WorkArea] [varchar](3) NULL,
	[SummaryCostType] [varchar](5) NULL,
	[CostType] [varchar](5) NULL,
	[OriginalHrs] [varchar](30) NULL,
	[OriginalQty] [varchar](30) NULL,
	[OriginalAmt] [varchar](30) NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[dim_ent_work_unit_sk] [int] NULL,
	[dim_ent_work_unit_nk] [int] NULL,
	[dim_ent_work_area_sk] [int] NULL,
	[dim_ent_work_area_nk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_ent_data_class_quantity_sk] [int] NULL,
	[dim_ent_data_class_quantity_nk] [int] NULL,
	[dim_ent_data_class_hours_sk] [int] NULL,
	[dim_ent_data_class_hours_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_sk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_sk] [int] NULL,
	[dim_ent_unit_of_measure_hours_nk] [int] NULL,
	[load_date_time] [datetime] NULL,
	[cwp_code] [varchar](50) NULL,
	[schedule_resource_code] [varchar](100) NULL,
	[activity_code] [varchar](50) NULL,
	[iwp_code] [varchar](50) NULL,
	[pim_code] [varchar](50) NULL,
	[roc_code] [varchar](50) NULL,
	[function_code] [varchar](50) NULL,
	[source_code] [varchar](50) NULL,
	[sub_source_code] [varchar](50) NULL,
	[dim_ent_data_sub_class_variance_earned_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_variance_earned_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_variance_earned_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_variance_earned_hours_nk] [int] NULL,
	[sub_class_earned_variance_quantity_code] [varchar](100) NULL,
	[sub_class_earned_variance_hours_code] [varchar](100) NULL,
	[unit_of_measure_code_quantity] [varchar](50) NULL,
	[unit_of_measure_code_hours] [varchar](50) NULL,
	[data_class_quantity_code] [varchar](50) NULL,
	[data_class_hours_code] [varchar](50) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_P6_Labor_Units]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_P6_Labor_Units]
(
	[stage_ncsa_p6_labor_units_id] [int] IDENTITY(1,1) NOT NULL,
	[Activity_ID] [varchar](55) NOT NULL,
	[Activity_Name] [varchar](512) NULL,
	[Resource_ID_Name] [varchar](512) NOT NULL,
	[Global_Executed_By_Type] [varchar](55) NULL,
	[Start] [varchar](55) NULL,
	[Finish] [varchar](55) NULL,
	[Spreadsheet_Field] [varchar](512) NULL,
	[Period] [varchar](55) NULL,
	[Units] [float] NULL,
	[fx] [nvarchar](100) NULL,
	[project] [nvarchar](100) NULL,
	[phase] [nvarchar](100) NULL,
	[work_unit] [nvarchar](100) NULL,
	[work_area] [nvarchar](100) NULL,
	[cwp] [nvarchar](100) NULL,
	[schedule_resource] [nvarchar](100) NULL,
	[activity] [nvarchar](100) NULL,
	[iwp] [nvarchar](100) NULL,
	[pim] [nvarchar](100) NULL,
	[roc] [nvarchar](100) NULL,
	[data_sub_class] [nvarchar](100) NULL,
	[data_class] [nvarchar](100) NULL,
	[sub_source] [nvarchar](100) NULL,
	[source] [nvarchar](100) NULL,
	[unit_of_measure] [nvarchar](100) NULL,
	[dim_entp_function_sk] [int] NULL,
	[dim_entp_function_nk] [int] NULL,
	[dim_entp_project_sk] [int] NULL,
	[dim_entp_project_nk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_entp_data_sub_class_sk] [int] NULL,
	[dim_entp_data_sub_class_nk] [int] NULL,
	[dim_entp_data_class_sk] [int] NULL,
	[dim_entp_data_class_nk] [int] NULL,
	[dim_entp_sub_source_sk] [int] NULL,
	[dim_entp_sub_source_nk] [int] NULL,
	[dim_entp_source_sk] [int] NULL,
	[dim_entp_source_nk] [int] NULL,
	[dim_entp_unit_of_measure_sk] [int] NULL,
	[dim_entp_unit_of_measure_nk] [int] NULL,
	[LU_Date] [date] NULL,
	[Planned_Start] [varchar](55) NULL,
	[Planned_End] [varchar](55) NULL,
	[rk_failure_info] [varchar](5000) NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_P6_ProjectMilestones]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_P6_ProjectMilestones]
(
	[project_id] [varchar](50) NULL,
	[ActivityID] [varchar](50) NULL,
	[ActivityStatus] [varchar](50) NULL,
	[ActivityName] [varchar](255) NULL,
	[OriginalDuration] [varchar](10) NULL,
	[StartDate] [varchar](30) NULL,
	[FinishDate] [varchar](30) NULL,
	[CurrentDate] [varchar](30) NULL,
	[PercentageCompletion] [varchar](10) NULL,
	[Resource] [varchar](30) NULL,
	[ScheduleWorkArea] [varchar](100) NULL,
	[CWP] [varchar](50) NULL,
	[ScheduleResource] [varchar](10) NULL,
	[stage_nsca_projectmilestones_id] [int] IDENTITY(1,1) NOT NULL,
	[rk_failure_info] [varchar](5000) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Phases]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Phases]
(
	[stage_ncsa_phase_id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateByID] [int] NULL,
	[ModifiedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[project_id] [varchar](255) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Prime]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Prime]
(
	[rssk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_project_nk] [int] NULL,
	[Domain] [varchar](50) NULL,
	[KeyUoMImperial] [varchar](150) NULL,
	[KeyUoMMetric] [varchar](150) NULL,
	[Prime] [varchar](10) NULL,
	[Prime_Title] [varchar](4000) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Rules_of_Credit]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Rules_of_Credit]
(
	[stage_ncsa_roc_id] [int] IDENTITY(1,1) NOT NULL,
	[Project_ID] [int] NULL,
	[ROC_ID] [int] NULL,
	[ROCS_ID] [int] NULL,
	[Project_Number] [varchar](100) NULL,
	[Project_Description] [varchar](512) NULL,
	[Code] [varchar](100) NULL,
	[Name] [varchar](250) NULL,
	[Sub_Prime] [varchar](250) NULL,
	[ROCS_Name] [varchar](250) NULL,
	[ROCS_Step] [varchar](250) NULL,
	[ROCS_Percentage] [varchar](100) NULL,
	[Driving] [varchar](250) NULL,
	[Quantity] [varchar](250) NULL,
	[Quantity_Description ] [varchar](512) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_ScheduleResource]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_ScheduleResource]
(
	[stage_ncsa_scheduleresource_id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[DefaultCrewSize] [int] NULL,
	[PF_Planned] [int] NULL,
	[PF_Actual] [int] NULL,
	[PF_RollingPeriods] [int] NULL,
	[MaxWorkPackThreshold] [int] NULL,
	[MinWorkPackThreshold] [int] NULL,
	[CreateByID] [int] NULL,
	[ModifiedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[FirstImportID] [int] NULL,
	[LastImportID] [int] NULL,
	[SubPrime] [nvarchar](3) NULL,
	[IsActive] [varchar](10) NULL,
	[SPMDiscipline] [nvarchar](50) NULL,
	[MaterialCategoryID] [int] NULL,
	[project_id] [varchar](10) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Sitepro_6WkLAhead]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Sitepro_6WkLAhead]
(
	[ncsa_sitepro_6wklahead_id] [int] IDENTITY(1,1) NOT NULL,
	[project_code] [varchar](14) NULL,
	[function_code] [varchar](20) NULL,
	[source_code] [varchar](20) NULL,
	[sub_source_code] [varchar](7) NULL,
	[data_class_code] [varchar](4) NULL,
	[data_sub_class_code] [varchar](25) NULL,
	[unit_of_measure] [varchar](20) NULL,
	[phase_code] [varchar](20) NULL,
	[schedule_resource_code] [varchar](20) NULL,
	[work_unit_code] [varchar](20) NULL,
	[work_area_code] [varchar](20) NULL,
	[activity_code] [varchar](50) NULL,
	[IWP_Code] [varchar](50) NULL,
	[CWP_Code] [varchar](50) NULL,
	[WK1] [decimal](38, 2) NULL,
	[WK2] [decimal](38, 2) NULL,
	[WK3] [decimal](38, 2) NULL,
	[WK4] [decimal](38, 2) NULL,
	[WK5] [decimal](38, 2) NULL,
	[WK6] [decimal](38, 2) NULL,
	[eff_date_wk1] [datetime] NULL,
	[eff_date_wk2] [datetime] NULL,
	[eff_date_wk3] [datetime] NULL,
	[eff_date_wk4] [datetime] NULL,
	[eff_date_wk5] [datetime] NULL,
	[eff_date_wk6] [datetime] NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_data_class_sk] [int] NULL,
	[dim_ent_data_class_nk] [int] NULL,
	[dim_ent_data_sub_class_sk] [int] NULL,
	[dim_ent_data_sub_class_nk] [int] NULL,
	[dim_ent_unit_of_measure_sk] [int] NULL,
	[dim_ent_unit_of_measure_nk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[process_date] [datetime] NULL,
	[rk_failure_info] [varchar](5000) NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Sitepro_Budget]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Sitepro_Budget]
(
	[Project_id] [varchar](120) NULL,
	[function_code] [varchar](50) NULL,
	[source_name] [varchar](100) NULL,
	[sub_source_name] [varchar](100) NULL,
	[class_name_hours] [varchar](100) NULL,
	[class_name_quantity] [varchar](100) NULL,
	[sub_class_name_qty] [varchar](100) NULL,
	[sub_class_name_hours] [varchar](100) NULL,
	[sub_class_plan] [varchar](100) NULL,
	[unit_of_measure_qty] [varchar](100) NULL,
	[unit_of_measure_hours] [varchar](100) NULL,
	[pim_code] [varchar](120) NULL,
	[roc_code] [varchar](120) NULL,
	[ROC_Step] [varchar](20) NULL,
	[Phase_Code] [varchar](120) NULL,
	[WorkArea_Code] [varchar](120) NULL,
	[WorkUnit_Code] [varchar](120) NULL,
	[ScheduleResource_Code] [varchar](120) NULL,
	[cwp_code] [varchar](120) NULL,
	[Activity] [varchar](120) NULL,
	[iwp_Code] [varchar](120) NULL,
	[Budget_date] [date] NULL,
	[budget_qty] [varchar](20) NULL,
	[budget_hours] [varchar](20) NULL,
	[PlannedHours] [varchar](20) NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_data_class_hours_sk] [int] NULL,
	[dim_ent_data_class_hours_nk] [int] NULL,
	[dim_ent_data_class_quantity_sk] [int] NULL,
	[dim_ent_data_class_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_qty_sk] [int] NULL,
	[dim_ent_data_sub_class_qty_nk] [int] NULL,
	[dim_ent_data_sub_class_plan_sk] [int] NULL,
	[dim_ent_data_sub_class_plan_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_sk] [int] NULL,
	[dim_ent_unit_of_measure_qty_nk] [int] NULL,
	[dim_ent_unit_of_measure_qty_sk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[rk_failure_info] [varchar](5000) NULL,
	[contract] [varchar](120) NULL,
	[costcode] [varchar](120) NULL,
	[costcode_desription] [varchar](1000) NULL,
	[costtype] [varchar](120) NULL,
	[costingcoa] [varchar](120) NULL,
	[Description] [varchar](4000) NULL,
	[DrawingNo] [varchar](1000) NULL,
	[TagNo] [varchar](1000) NULL,
	[Spool] [varchar](500) NULL,
	[Line] [varchar](255) NULL,
	[spec] [varchar](500) NULL,
	[System] [varchar](500) NULL,
	[PieceMark] [varchar](255) NULL,
	[NumberOfPieces] [varchar](255) NULL,
	[Subsystem] [varchar](250) NULL,
	[text5] [varchar](2000) NULL,
	[Level6] [varchar](255) NULL,
	[PlannedStatus] [varchar](100) NULL,
	[ProgressStatus] [varchar](100) NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[coa_value] [varchar](100) NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Sitepro_Progress]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Sitepro_Progress]
(
	[ncsa_sitepro_prog_id] [int] IDENTITY(1,1) NOT NULL,
	[project_number] [varchar](14) NULL,
	[function_code] [varchar](50) NULL,
	[source_code] [varchar](80) NULL,
	[sub_source_code] [varchar](80) NULL,
	[data_class_budget_code] [varchar](80) NULL,
	[data_class_progress_code] [varchar](80) NULL,
	[data_class_quantity_name] [varchar](80) NULL,
	[data_class_time_name] [varchar](80) NULL,
	[sub_class_budget_hours_code] [varchar](100) NULL,
	[sub_class_budget_quantity_code] [varchar](100) NULL,
	[sub_class_progress_hours_code] [varchar](100) NULL,
	[sub_class_progress_quantity_code] [varchar](100) NULL,
	[sub_class_progress_installed_quantity_code] [varchar](100) NULL,
	[unit_of_measure_code_quantity] [varchar](30) NULL,
	[unit_of_measure_code_hours] [varchar](30) NULL,
	[phase_code] [varchar](30) NULL,
	[schedule_resource_code] [varchar](30) NULL,
	[work_unit_code] [varchar](30) NULL,
	[work_area_code] [varchar](30) NULL,
	[activity_code] [varchar](100) NULL,
	[IWP_Code] [varchar](100) NULL,
	[IWP_Status_Code] [varchar](30) NULL,
	[IWP_StatusDescription] [varchar](255) NULL,
	[PMID] [varchar](50) NULL,
	[PMID_Description] [varchar](250) NULL,
	[Contract] [varchar](80) NULL,
	[Cost_Code] [varchar](80) NULL,
	[Cost_Code_Description] [varchar](255) NULL,
	[Costing_COA] [varchar](8) NULL,
	[Drawing_No] [varchar](255) NULL,
	[Tag_No] [varchar](255) NULL,
	[spool] [varchar](255) NULL,
	[line] [varchar](255) NULL,
	[spec] [varchar](255) NULL,
	[system] [varchar](255) NULL,
	[Piece_Mark] [varchar](255) NULL,
	[Cost_Type] [varchar](6) NULL,
	[Number_Of_Pieces] [varchar](255) NULL,
	[Subsystem] [varchar](255) NULL,
	[Text5] [varchar](255) NULL,
	[Bom_Node_ID] [varchar](30) NULL,
	[Doc_ID] [varchar](30) NULL,
	[Staging_Reference] [varchar](30) NULL,
	[Level6] [varchar](255) NULL,
	[planned_Status] [varchar](17) NULL,
	[progress_Status] [varchar](100) NULL,
	[workpack_status] [varchar](11) NULL,
	[IFC] [varchar](50) NULL,
	[ProgressHistoryID] [varchar](100) NULL,
	[ROCCode] [varchar](100) NULL,
	[Step] [varchar](30) NULL,
	[Is_Driving] [varchar](5) NULL,
	[Name] [varchar](250) NULL,
	[Capture_Origin] [varchar](100) NULL,
	[UserName] [varchar](101) NULL,
	[Progress_Entry_Date_Time] [varchar](100) NULL,
	[TimestampShift] [varchar](50) NULL,
	[ProgressDate] [varchar](100) NULL,
	[ProgressDelta] [varchar](100) NULL,
	[ProgressCumulative] [varchar](100) NULL,
	[Step_Percent] [varchar](100) NULL,
	[Budget_Hrs] [varchar](100) NULL,
	[Progressed_Hrs] [varchar](100) NULL,
	[Budget_Qty] [varchar](100) NULL,
	[Progressed_Qty] [varchar](100) NULL,
	[Install_Qty] [varchar](100) NULL,
	[max_date] [varchar](100) NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_data_class_budget_sk] [int] NULL,
	[dim_ent_data_class_budget_nk] [int] NULL,
	[dim_ent_data_class_progress_sk] [int] NULL,
	[dim_ent_data_class_progress_nk] [int] NULL,
	[dim_ent_data_class_quantity_sk] [int] NULL,
	[dim_ent_data_class_quantity_nk] [int] NULL,
	[dim_ent_data_class_time_sk] [int] NULL,
	[dim_ent_data_class_time_nk] [int] NULL,
	[dim_ent_data_sub_class_budget_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_budget_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_budget_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_budget_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_hours_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_hours_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_quantity_nk] [int] NULL,
	[dim_ent_data_sub_class_progress_installed_quantity_sk] [int] NULL,
	[dim_ent_data_sub_class_progress_installed_quantity_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_nk] [int] NULL,
	[dim_ent_unit_of_measure_quantity_sk] [int] NULL,
	[dim_ent_unit_of_measure_hours_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_sk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[CWP_Code] [varchar](80) NULL,
	[dim_ent_unit_of_measure_percentage_sk] [int] NULL,
	[dim_ent_unit_of_measure_percentage_nk] [int] NULL,
	[dim_ent_data_Percentage_sk] [int] NULL,
	[dim_ent_data_Percentage_nk] [int] NULL,
	[dim_ent_data_sub_Percentage_sk] [int] NULL,
	[dim_ent_data_sub_Percentage_nk] [int] NULL,
	[rk_failure_info] [varchar](5000) NULL,
	[coa_value] [varchar](100) NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[load_date_time] [datetime] NULL,
	[data_class_percentage_code] [varchar](100) NULL,
	[sub_class_percentage_code] [varchar](100) NULL,
	[unit_of_measure_code_percentage] [varchar](100) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Sitepro_Timesheet]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Sitepro_Timesheet]
(
	[ncsa_sitepro_timesheet_id] [int] IDENTITY(1,1) NOT NULL,
	[Project_id] [varchar](14) NULL,
	[function_code] [varchar](20) NOT NULL,
	[source_name] [varchar](20) NOT NULL,
	[sub_source_name] [varchar](7) NOT NULL,
	[class_name] [varchar](4) NOT NULL,
	[sub_class_name] [varchar](100) NULL,
	[unit_of_measure] [varchar](5) NOT NULL,
	[pim_code] [varchar](20) NOT NULL,
	[roc_code] [varchar](20) NOT NULL,
	[Phase_Code] [varchar](20) NULL,
	[WorkArea_Code] [varchar](20) NULL,
	[WorkUnit_Code] [varchar](20) NULL,
	[ScheduleResource_Code] [varchar](20) NULL,
	[cwp_code] [varchar](50) NULL,
	[Activity] [varchar](50) NULL,
	[iwp_Code] [varchar](50) NULL,
	[DateWorked] [date] NOT NULL,
	[EmployeeID] [nvarchar](20) NULL,
	[Spent_Hours] [decimal](18, 2) NOT NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_data_class_sk] [int] NULL,
	[dim_ent_data_class_nk] [int] NULL,
	[dim_ent_data_sub_class_sk] [int] NULL,
	[dim_ent_data_sub_class_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_nk] [int] NULL,
	[dim_ent_unit_of_measure_sk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_ent_employee_sk] [int] NULL,
	[dim_ent_employee_nk] [int] NULL,
	[rk_failure_info] [varchar](5000) NULL,
	[coa_value] [varchar](100) NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_SMAT_PO_EXTRACT]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_SMAT_PO_EXTRACT]
(
	[stage_smat_po_id] [int] IDENTITY(1,1) NOT NULL,
	[PO_NBR] [varchar](50) NOT NULL,
	[PO_SUPPL] [varchar](5) NULL,
	[PO_DESCR] [varchar](100) NULL,
	[PO_ISSUE_DATE] [varchar](30) NULL,
	[PO_APPR_DATE] [varchar](30) NULL,
	[SUPPLIER_CODE] [varchar](10) NULL,
	[SUPPLIER_NAME] [varchar](100) NULL,
	[SUPPLIER_COUNTRY] [varchar](5) NULL,
	[PO_ITEM_POS] [varchar](10) NULL,
	[PO_ITEM_SUB] [varchar](3) NULL,
	[ISH_POS] [varchar](2) NULL,
	[ITEM_SHIP_SUB] [varchar](3) NULL,
	[ITEM_DESC] [varchar](1000) NULL,
	[IDENT_CODE] [varchar](100) NULL,
	[CLIENT_IDENT_CODE] [varchar](30) NULL,
	[TAG_NO] [varchar](100) NULL,
	[COMMODITY_CODE] [varchar](100) NULL,
	[SIZE1] [varchar](10) NULL,
	[SIZE2] [varchar](10) NULL,
	[SIZE3] [varchar](10) NULL,
	[SIZE4] [varchar](10) NULL,
	[ITEM_SHIP_ID] [varchar](10) NOT NULL,
	[TOTAL_POLI_QT] [varchar](10) NULL,
	[ITEM_SHIP_QTY] [varchar](10) NULL,
	[RECD_QTY] [varchar](10) NULL,
	[UOM] [varchar](5) NULL,
	[UNIT_PRICE] [varchar](30) NULL,
	[CURRENCY] [varchar](3) NULL,
	[DELIVERY_DEIGNATION] [varchar](30) NULL,
	[ROUTING_METHOD] [varchar](50) NULL,
	[INCOTERM] [varchar](10) NULL,
	[DELIVERY_PLACE] [varchar](30) NULL,
	[PROM_CONTRACT] [varchar](30) NULL,
	[ROS_DATE] [varchar](30) NULL,
	[RN_NUMBER] [varchar](60) NULL,
	[RN_DATE] [varchar](30) NULL,
	[RN_QTY] [varchar](10) NULL,
	[RB_APPR_DATE] [varchar](30) NULL,
	[RN_DELIV_DATE] [varchar](30) NULL,
	[RN_READY_DATE] [varchar](30) NULL,
	[IRCT_NUMBER] [varchar](50) NULL,
	[IRCT_DATE] [varchar](30) NULL,
	[INSP_DATE] [varchar](30) NULL,
	[IRC_QTY] [varchar](10) NULL,
	[MCS_NR] [varchar](30) NULL,
	[MCS_DATE] [varchar](30) NULL,
	[HAND_OVER_DEST] [varchar](30) NULL,
	[HAND_OVER_PLAN] [varchar](30) NULL,
	[HAND_OVER_FCST] [varchar](30) NULL,
	[HAND_OVER_ACT] [varchar](30) NULL,
	[SHIP_DEST_1] [varchar](30) NULL,
	[SHIP_PLAN_1] [varchar](30) NULL,
	[SHIP_FCST_1] [varchar](30) NULL,
	[SHIP_ACT_1] [varchar](30) NULL,
	[SHIP_DEST_2] [varchar](30) NULL,
	[SHIP_PLAN_2] [varchar](30) NULL,
	[SHIP_FCST_2] [varchar](30) NULL,
	[SHIP_ACT_2] [varchar](30) NULL,
	[SHIP_DEST_3] [varchar](30) NULL,
	[SHIP_PLAN_3] [varchar](30) NULL,
	[SHIP_FCST_3] [varchar](30) NULL,
	[SHIP_ACT_3] [varchar](30) NULL,
	[TRAFF_ARR_DEST] [varchar](30) NULL,
	[TRAFF_ARR_PLAN] [varchar](30) NULL,
	[TRAFF_ARR_FCST] [varchar](30) NULL,
	[TRAFF_ARR_ACT] [varchar](30) NULL,
	[ARR_ON_SITE_DEST] [varchar](30) NULL,
	[ARR_ON_SITE_PLAN] [varchar](30) NULL,
	[ARR_ON_SITE_FCST] [varchar](30) NULL,
	[ARR_ON_SITE_ACT] [varchar](30) NULL,
	[MOC_CARRIER] [varchar](50) NULL,
	[MOC_VOYFLT_NUM] [varchar](50) NULL,
	[MOC_NAME_1] [varchar](50) NULL,
	[MOC_NAME_2] [varchar](50) NULL,
	[MOC_ETD] [varchar](30) NULL,
	[MOC_ATD] [varchar](30) NULL,
	[MOC_ETA] [varchar](30) NULL,
	[MOC_ATA] [varchar](30) NULL,
	[MOC_LOADING_PT] [varchar](50) NULL,
	[MOC_UNLOADING_POINT] [varchar](50) NULL,
	[MOC_BOL] [varchar](50) NULL,
	[BUYER] [varchar](50) NULL,
	[EXPEDITER] [varchar](50) NULL,
	[REQUISITION] [varchar](50) NULL,
	[REQ_SUPP] [varchar](10) NULL,
	[REQ_LI] [varchar](10) NULL,
	[REQ_SUB_LI] [varchar](10) NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
	[FORECASTED_DEL_DATE] [varchar](30) NULL,
	[IRC_DEST] [varchar](30) NULL,
	[IRC_PLAN] [varchar](30) NULL,
	[IRC_FCST] [varchar](30) NULL,
	[IRC_ACT] [varchar](30) NULL,
	[project_number] [varchar](100) NULL,
	[dim_ent_country_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_SMAT_RPSR]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_SMAT_RPSR]
(
	[stage_smat_rpsr_id] [int] IDENTITY(1,1) NOT NULL,
	[ECI_ID] [varchar](30) NULL,
	[PROJ_NB] [varchar](30) NULL,
	[R_CODE] [varchar](100) NOT NULL,
	[R_SUPP] [varchar](50) NULL,
	[ACTUAL_IND] [varchar](30) NULL,
	[ORDER_SEQ] [varchar](30) NULL,
	[SHORT_DESC] [varchar](100) NULL,
	[SCHEDULED_DATE] [varchar](30) NULL,
	[PLANNED_DATE] [varchar](30) NULL,
	[ACTUAL_DATE] [varchar](30) NULL,
	[ECI_COMMENT] [varchar](100) NULL,
	[ECI_ATTR_4] [varchar](50) NULL,
	[DISCIPLINE] [varchar](50) NULL,
	[DEPARTMENT] [varchar](50) NULL,
	[PLANNED_BUYER] [varchar](100) NULL,
	[REQ_DESC] [varchar](200) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Sub_Prime]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Sub_Prime]
(
	[rssk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_project_nk] [int] NULL,
	[Domain] [varchar](50) NULL,
	[KeyUoMImperial] [varchar](150) NULL,
	[KeyUoMMetric] [varchar](150) NULL,
	[Prime] [varchar](10) NULL,
	[SubPrime] [varchar](10) NULL,
	[Title] [varchar](4000) NULL,
	[dim_ent_prime_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_SubcontractEmployee]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_SubcontractEmployee]
(
	[EmplId] [varchar](15) NOT NULL,
	[Name] [varchar](30) NULL,
	[CompanyCode] [varchar](10) NULL,
	[CompanyName] [varchar](30) NULL,
	[JobClass] [varchar](10) NULL,
	[WorkDate] [varchar](50) NULL,
	[DailyHours] [varchar](5) NULL,
	[employee_type] [varchar](30) NULL,
	[employee_legacy_number] [varchar](30) NULL,
	[rssk] [int] IDENTITY(1,1) NOT NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Summary_cost_type]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Summary_cost_type]
(
	[rssk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_project_nk] [int] NULL,
	[Domain] [varchar](50) NULL,
	[SummaryCostType] [varchar](10) NULL,
	[Title] [varchar](4000) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Unit]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Unit]
(
	[stage_ncsa_unit_id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[CreateByID] [int] NULL,
	[ModifiedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[project_id] [varchar](255) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_Work_Plan]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_Work_Plan]
(
	[WWP_ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNumber] [varchar](30) NULL,
	[IWP] [varchar](100) NULL,
	[Hrs] [varchar](30) NULL,
	[WED] [varchar](100) NULL,
	[PIM_CODE] [varchar](30) NULL,
	[ROC_CODE] [varchar](30) NULL,
	[FUNCTION_CODE] [varchar](30) NULL,
	[source_code] [varchar](30) NULL,
	[sub_source_code] [varchar](30) NULL,
	[unit_of_measure_code_hours] [varchar](30) NULL,
	[data_class_plan_code] [varchar](30) NULL,
	[data_sub_class_weeklyPlan_code] [varchar](30) NULL,
	[dim_ent_function_sk] [int] NULL,
	[dim_ent_function_nk] [int] NULL,
	[dim_ent_project_sk] [int] NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_ent_data_sub_class_weeklyplan_sk] [int] NULL,
	[dim_ent_data_sub_class_weeklyplan_nk] [int] NULL,
	[dim_ent_data_class_plan_sk] [int] NULL,
	[dim_ent_data_class_plan_nk] [int] NULL,
	[dim_ent_sub_source_sk] [int] NULL,
	[dim_ent_sub_source_nk] [int] NULL,
	[dim_ent_source_sk] [int] NULL,
	[dim_ent_source_nk] [int] NULL,
	[dim_ent_unit_of_measure_hours_sk] [int] NULL,
	[dim_ent_unit_of_measure_hours_nk] [int] NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
	[load_date_time] [datetime] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NCSA_WorkArea]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NCSA_WorkArea]
(
	[stage_ncsa_workarea_id] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreateByID] [int] NULL,
	[ModifiedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[PhaseID] [varchar](3) NULL,
	[UnitID] [varchar](3) NULL,
	[project_id] [varchar](120) NULL,
	[dim_entp_project_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[NSCA_pim]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[NSCA_pim]
(
	[dim_entp_pim_sk] [int] IDENTITY(1,1) NOT NULL,
	[project_number] [varchar](20) NULL,
	[PMID] [varchar](50) NULL,
	[PMID_Description] [varchar](250) NULL,
	[contract] [varchar](12) NULL,
	[cost_code] [varchar](8) NULL,
	[Cost_Code_Description] [varchar](255) NULL,
	[costing_coa] [varchar](8) NULL,
	[Drawing_no] [varchar](255) NULL,
	[Tag_no] [varchar](255) NULL,
	[spool] [varchar](255) NULL,
	[line] [varchar](255) NULL,
	[spec] [varchar](255) NULL,
	[system] [varchar](255) NULL,
	[piece_mark] [varchar](255) NULL,
	[cost_type] [varchar](255) NULL,
	[number_of_pieces] [varchar](255) NULL,
	[sub_system] [varchar](255) NULL,
	[text5] [varchar](255) NULL,
	[level6] [varchar](255) NULL,
	[planned_status] [varchar](20) NULL,
	[progress_status] [varchar](20) NULL,
	[IWP_Code] [varchar](50) NULL,
	[dim_entp_project_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[tmp_NCSA_Activity]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[tmp_NCSA_Activity]
(
	[stage_ncsa_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[Project] [varchar](12) NOT NULL,
	[ProjectDescription] [varchar](512) NULL,
	[activity] [varchar](50) NOT NULL,
	[Description] [varchar](512) NULL,
	[ScheduleUnit] [varchar](10) NULL,
	[ScheduleResource] [varchar](100) NULL,
	[ActivityStatus] [varchar](20) NULL,
	[OriginalDuration] [int] NULL,
	[RemainingDuration] [int] NULL,
	[ActualStart] [date] NULL,
	[ActualFinish] [date] NULL,
	[PercentCompleteType] [varchar](20) NULL,
	[ExecutedByType] [varchar](20) NULL,
	[Prime] [varchar](2) NULL,
	[SubPrime] [varchar](3) NULL,
	[ScheduleWorkArea] [varchar](10) NULL,
	[ExecutedBy] [varchar](20) NULL,
	[EarlyStartDate] [datetime] NULL,
	[EarlyFinishDate] [datetime] NULL,
	[IsOnCriticalPath] [bit] NOT NULL,
	[TotalFloat] [int] NULL,
	[CWP] [varchar](50) NULL,
	[CWPDescription] [varchar](600) NULL,
	[ProjectID] [int] NULL,
	[S_WorkArea] [varchar](10) NULL,
	[PlannedStart] [date] NULL,
	[PlannedFinish] [date] NULL,
	[dim_entp_project_nk] [int] NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [gpd].[tmpresource]    Script Date: 4/19/2021 12:47:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gpd].[tmpresource]
(
	[stage_temp_scheduleresource_id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[DefaultCrewSize] [int] NULL,
	[PF_Planned] [int] NULL,
	[PF_Actual] [int] NULL,
	[PF_RollingPeriods] [int] NULL,
	[MaxWorkPackThreshold] [int] NULL,
	[MinWorkPackThreshold] [int] NULL,
	[CreateByID] [int] NULL,
	[ModifiedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[FirstImportID] [int] NULL,
	[LastImportID] [int] NULL,
	[SubPrime] [nvarchar](3) NULL,
	[IsActive] [varchar](10) NULL,
	[SPMDiscipline] [nvarchar](50) NULL,
	[MaterialCategoryID] [int] NULL,
	[project_id] [varchar](10) NULL,
	[dim_entp_project_nk] [int] NULL,
	[project] [varchar](20) NULL
)
WITH
(
	DISTRIBUTION = ROUND_ROBIN,
	CLUSTERED COLUMNSTORE INDEX
)
GO
