/*** Deactivating business line */

DECLARE @BusinessLine VARCHAR(100)

/* Please change the below value to disable business line*/
SET @BusinessLine ='Test_BL'
/*  Upto Here  */

IF EXISTS(SELECT TOP 1 business_line from dim_entp_fss_business_line WHERE business_line =@BusinessLine)
BEGIN
update dim_entp_fss_business_line
set active =0
WHERE business_line = @BusinessLine
END
