/****** Object:  Table [dbo].[dim_ent_document_milestone_sequence]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_document_milestone_sequence]
(
	[dim_ent_document_milestone_sequence_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_document_milestone_sequence_nk] [int] NOT NULL,
	[milestone_order] [varchar](250) NULL,
	[milestone_id] [int] NULL,
	[milestone_gate_name] [varchar](250) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
 CONSTRAINT [Cnstr_e7c9fc4348b646d5a78b15628432c5d7] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_document_milestone_sequence_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_document_status]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_document_status]
(
	[dim_ent_document_status_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_document_status_nk] [int] NOT NULL,
	[document_status_code] [varchar](250) NULL,
	[document_status_desc] [varchar](250) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
 CONSTRAINT [Cnstr_63c98007ee6647f98b97ee1ae6c9af0f] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_document_status_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_idocs]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_idocs]
(
	[dim_ent_idocs_doc_master_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_idocs_doc_master_nk] [int] NOT NULL,
	[project_number] [varchar](120) NOT NULL,
	[document_id] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[deliverable] [varchar](10) NULL,
	[document_number] [varchar](100) NULL,
	[document_title] [varchar](1000) NULL,
	[revision] [varchar](5) NULL,
	[revision_date] [datetime] NULL,
	[unit] [varchar](5) NULL,
	[file_name] [varchar](100) NULL,
	[holds] [varchar](10) NULL,
	[cwa] [varchar](10) NULL,
	[cwp_disciplines] [varchar](50) NULL,
	[cwp_iso] [varchar](50) NULL,
	[idocs_folder] [varchar](30) NULL,
	[revision_count] [int] NULL,
	[dim_entp_project_nk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_ent_discipline_nk] [int] NULL,
	[dim_entp_document_status_nk] [int] NULL,
	[office_location] [varchar](300) NULL,
 CONSTRAINT [Cnstr_3bbd193cbe964714b05ec52a74082a73] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_idocs_doc_master_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_idocs_milestone]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_idocs_ms_master_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_idocs_ms_master_nk] [int] NOT NULL,
	[project_number] [varchar](120) NOT NULL,
	[document_id] [varchar](50) NOT NULL,
	[milestone_order] [varchar](250) NOT NULL,
	[milestone_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[ms_weight] [int] NULL,
	[scheduled_date] [datetime] NULL,
	[forecast_date] [datetime] NULL,
	[actual_date] [datetime] NULL,
	[dim_entp_project_nk] [int] NULL,
	[dim_ent_idocs_doc_master_nk] [int] NULL,
	[dim_ent_document_milestone_sequence_nk] [int] NULL,
 CONSTRAINT [Cnstr_3244ebeaa8cb4cffaac3d7bb4b586d5e] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_idocs_ms_master_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_idocs_spool]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_idocs_spool_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_idocs_spool_nk] [int] NOT NULL,
	[project_number] [varchar](120) NOT NULL,
	[transmittal_number] [varchar](100) NULL,
	[document_id] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[spool_number] [varchar](100) NULL,
	[transmittal_date] [datetime] NULL,
	[ref_doc] [varchar](30) NULL,
	[dim_ent_project_nk] [int] NULL,
	[dim_ent_idocs_doc_master_nk] [int] NULL,
	[dim_ent_document_status_nk] [int] NULL,
 CONSTRAINT [Cnstr_bf76d642358d4222991c392eb0f91f7d] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_idocs_spool_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_prime]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_prime]
(
	[dim_ent_prime_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_prime_nk] [int] NOT NULL,
	[prime_code] [varchar](10) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[hash_code] [varchar](5000) NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NULL,
	[prime_description] [varchar](1000) NULL,
	[dim_entp_project_nk] [int] NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_d8c348166cc747f834fdff780280] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_prime_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [prime_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_sub_prime]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_sub_prime]
(
	[dim_ent_sub_prime_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_sub_prime_nk] [int] NOT NULL,
	[sub_prime_code] [varchar](10) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[hash_code] [varchar](5000) NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NULL,
	[sub_prime_description] [varchar](1000) NULL,
	[dim_ent_prime_nk] [int] NOT NULL,
	[prime_code] [varchar](20) NULL,
	[project_number] [varchar](120) NULL,
	[dim_entp_project_nk] [int] NULL,
 CONSTRAINT [Cnstr_d8c34816235ds7f834fdff780280] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_sub_prime_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [sub_prime_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_summary_cost_type]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_summary_cost_type]
(
	[dim_ent_summary_cost_type_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_summary_cost_type_nk] [int] NOT NULL,
	[summary_cost_type] [varchar](10) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[hash_code] [varchar](5000) NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NULL,
	[summary_cost_type_description] [varchar](1000) NULL,
	[dim_entp_project_nk] [int] NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_d8c3481667364747f834fdff780280] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_summary_cost_type_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [summary_cost_type] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_supplier]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_supplier]
(
	[dim_ent_supplier_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_supplier_nk] [int] NOT NULL,
	[supplier_code] [varchar](100) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NOT NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[supplier_name] [varchar](1000) NULL,
	[dim_ent_country_nk] [int] NULL,
 CONSTRAINT [Cnstr_ca019e0e1a2e4b2cbbc1403083af1391] PRIMARY KEY NONCLUSTERED 
	(
		[dim_ent_supplier_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_ent_week_closing_period]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ent_week_closing_period]
(
	[dim_ent_week_closing_period_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_ent_week_closing_period_nk] [int] NOT NULL,
	[week_closing_period] [varchar](25) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL
)
WITH
(
	DISTRIBUTION = HASH ( [week_closing_period] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_activity]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_activity]
(
	[dim_entp_activity_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_activity_nk] [int] NOT NULL,
	[activity_code] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[activity_description] [varchar](600) NOT NULL,
	[schedule_unit] [varchar](10) NULL,
	[schedule_resource] [varchar](100) NULL,
	[original_duration] [int] NULL,
	[remaining_duration] [int] NULL,
	[actual_start] [date] NULL,
	[actual_finish] [date] NULL,
	[percent_complete_type] [varchar](20) NULL,
	[executed_by_type] [varchar](20) NULL,
	[prime] [varchar](2) NULL,
	[sub_prime] [varchar](3) NULL,
	[schedule_work_area] [varchar](10) NULL,
	[executed_by] [varchar](20) NULL,
	[early_start_date] [datetime] NULL,
	[early_finish_date] [datetime] NULL,
	[is_on_critical_path] [varchar](20) NULL,
	[total_float] [int] NULL,
	[activity_status] [varchar](20) NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[planned_start] [datetime] NULL,
	[planned_finish] [datetime] NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_42d4114d8290460eb1f721eee83eec9d] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_activity_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [activity_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_cwp]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_cwp]
(
	[dim_entp_cwp_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_cwp_nk] [int] NOT NULL,
	[cwp_code] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[cwp_description] [varchar](600) NOT NULL,
	[cwp_status] [varchar](20) NOT NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_a3d081925d514b2685bd2a296b8ec984] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_cwp_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [cwp_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_iwp]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_iwp]
(
	[dim_entp_iwp_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_iwp_nk] [int] NOT NULL,
	[iwp_code] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[iwp_name] [varchar](1000) NULL,
	[cost_code] [varchar](8) NULL,
	[foreman_id] [varchar](15) NULL,
	[notes] [varchar](4000) NULL,
	[priority] [varchar](15) NULL,
	[period_priority] [varchar](15) NULL,
	[duration_in_days] [varchar](15) NULL,
	[cwp_start_date] [date] NULL,
	[cwp_end_date] [date] NULL,
	[prelim_duration_in_hours] [varchar](15) NULL,
	[duration_in_workdays] [varchar](15) NULL,
	[material_percentage_allocated] [varchar](50) NULL,
	[restart_date] [datetime] NULL,
	[remaining_duration] [varchar](15) NULL,
	[restriction_id] [varchar](15) NULL,
	[restriction_percentage] [varchar](15) NULL,
	[restriction_notes] [varchar](1000) NULL,
	[text1] [varchar](255) NULL,
	[text2] [varchar](255) NULL,
	[text3] [varchar](255) NULL,
	[text4] [varchar](255) NULL,
	[text5] [varchar](255) NULL,
	[construction_manager_id] [varchar](15) NULL,
	[supervisor_id] [varchar](15) NULL,
	[general_foreman_id] [varchar](15) NULL,
	[field_engineer_id] [varchar](15) NULL,
	[coordinator_id] [varchar](15) NULL,
	[completed_by] [varchar](15) NULL,
	[completed_date] [datetime] NULL,
	[iwp_status_id] [varchar](15) NULL,
	[workpack_status] [varchar](20) NULL,
	[add_ifc] [varchar](20) NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[dim_entp_activity_nk] [int] NOT NULL,
	[dim_entp_schedule_resource_nk] [int] NOT NULL,
	[IWP_Status] [varchar](255) NULL,
	[project_number] [varchar](120) NULL,
	[progress_status] [varchar](200) NULL,
	[Supervisor_Name] [varchar](250) NULL,
	[Construction_Manager_Name] [varchar](250) NULL,
	[Foreman_Name] [varchar](250) NULL,
	[Field_Engineer_Name] [varchar](250) NULL,
	[Coordinator_Name] [varchar](250) NULL,
 CONSTRAINT [Cnstr_f3c5a445bfa0431bb22cf3504fc87a19] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_iwp_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [iwp_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_phase]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_phase]
(
	[dim_entp_phase_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_phase_nk] [int] NOT NULL,
	[phase_code] [varchar](3) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[phase_name] [varchar](50) NOT NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_2d9563afbd6849ceb944447886a9250f] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_phase_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = REPLICATE,
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_pim]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_pim]
(
	[dim_entp_pim_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_pim_nk] [int] NOT NULL,
	[pim_code] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[pimid_description] [varchar](250) NOT NULL,
	[contract] [varchar](12) NULL,
	[cost_code] [varchar](8) NULL,
	[cost_code_description] [varchar](255) NULL,
	[costing_coa] [varchar](8) NULL,
	[drawing_number] [varchar](255) NULL,
	[tag_number] [varchar](255) NULL,
	[spool] [varchar](255) NULL,
	[line] [varchar](255) NULL,
	[spec] [varchar](255) NULL,
	[system_str] [varchar](255) NULL,
	[piece_mark] [varchar](255) NULL,
	[cost_type] [varchar](255) NULL,
	[number_of_pieces] [varchar](255) NULL,
	[sub_system] [varchar](255) NULL,
	[text5] [varchar](255) NULL,
	[level6] [varchar](255) NULL,
	[planned_status] [varchar](20) NULL,
	[progress_status] [varchar](20) NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[dim_entp_iwp_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_de4b97fd2a484ccea838836d428aec1f] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_pim_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [pim_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_roc]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_roc]
(
	[dim_entp_roc_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_roc_nk] [int] NOT NULL,
	[roc_code] [varchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[roc_name] [varchar](600) NOT NULL,
	[sub_prime] [varchar](250) NULL,
	[rocs_step] [varchar](250) NULL,
	[rocs_percentage] [varchar](100) NULL,
	[driving] [varchar](250) NULL,
	[quantity] [varchar](250) NULL,
	[quantity_description] [varchar](512) NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
	[rocs_name] [varchar](250) NULL,
 CONSTRAINT [Cnstr_08baddcd132f4b1f9d4899abb71350c1] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_roc_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [roc_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_schedule_resource]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_schedule_resource]
(
	[dim_entp_schedule_resource_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_schedule_resource_nk] [int] NOT NULL,
	[schedule_resource_code] [varchar](100) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[schedule_resource_name] [varchar](50) NOT NULL,
	[sub_prime] [varchar](3) NULL,
	[max_wp_threshold] [int] NULL,
	[spm_discipline] [varchar](50) NULL,
	[source_created_date] [date] NULL,
	[source_is_active] [varchar](10) NULL,
	[first_import_id] [int] NULL,
	[pf_rolling_periods] [int] NULL,
	[source_modified_by_id] [int] NULL,
	[default_crew_size] [int] NULL,
	[source_created_by_id] [int] NULL,
	[last_import_id] [int] NULL,
	[pf_planned] [int] NULL,
	[source_modified_date] [date] NULL,
	[material_category_id] [int] NULL,
	[pf_actual] [int] NULL,
	[min_wp_threshold] [int] NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_7aa0d0c0de7d49c38d0a9243c1013c4c] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_schedule_resource_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [schedule_resource_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_work_area]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_work_area]
(
	[dim_entp_work_area_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_work_area_nk] [int] NOT NULL,
	[work_area_code] [varchar](3) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[work_area_name] [varchar](50) NOT NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[dim_entp_phase_nk] [int] NOT NULL,
	[dim_entp_work_unit_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_d3f2e02b0157408ca37d719bc8acda8c] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_work_area_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [work_area_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Table [dbo].[dim_entp_work_unit]    Script Date: 8/17/2021 7:11:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_entp_work_unit]
(
	[dim_entp_work_unit_sk] [int] IDENTITY(1,1) NOT NULL,
	[dim_entp_work_unit_nk] [int] NOT NULL,
	[work_unit_code] [varchar](3) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[hash_code] [varchar](5000) NOT NULL,
	[active] [int] NULL,
	[created_date_time] [datetime] NULL,
	[modified_date_time] [datetime] NULL,
	[late_arrival_flag] [varchar](1) NOT NULL,
	[work_unit_name] [varchar](50) NOT NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[project_number] [varchar](120) NULL,
 CONSTRAINT [Cnstr_27e94acc1e814b43a4d7bc4966732772] PRIMARY KEY NONCLUSTERED 
	(
		[dim_entp_work_unit_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [work_unit_code] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[dim_ent_document_milestone_sequence_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[dim_ent_document_milestone_sequence_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[milestone_order] ASC,
	[milestone_id] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[milestone_order] ASC,
	[milestone_id] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[milestone_order] ASC,
	[milestone_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_document_milestone_sequence]
(
	[dim_ent_document_milestone_sequence_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_document_status]
(
	[dim_ent_document_status_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_document_status]
(
	[dim_ent_document_status_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_document_status]
(
	[document_status_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_document_status]
(
	[document_status_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_document_status]
(
	[document_status_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_document_status]
(
	[dim_ent_document_status_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_idocs]
(
	[dim_ent_idocs_doc_master_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_idocs]
(
	[dim_ent_idocs_doc_master_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_idocs]
(
	[project_number] ASC,
	[document_id] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_idocs]
(
	[project_number] ASC,
	[document_id] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_idocs]
(
	[project_number] ASC,
	[document_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_ent_idocs]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK2]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK2] ON [dbo].[dim_ent_idocs]
(
	[dim_entp_cwp_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK3]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK3] ON [dbo].[dim_ent_idocs]
(
	[dim_ent_discipline_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK4]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK4] ON [dbo].[dim_ent_idocs]
(
	[dim_entp_document_status_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_idocs]
(
	[dim_ent_idocs_doc_master_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_idocs_ms_master_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_idocs_ms_master_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_idocs_milestone]
(
	[project_number] ASC,
	[document_id] ASC,
	[milestone_order] ASC,
	[milestone_id] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_idocs_milestone]
(
	[project_number] ASC,
	[document_id] ASC,
	[milestone_order] ASC,
	[milestone_id] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_idocs_milestone]
(
	[project_number] ASC,
	[document_id] ASC,
	[milestone_order] ASC,
	[milestone_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK2]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK2] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_idocs_doc_master_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK3]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK3] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_document_milestone_sequence_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_idocs_milestone]
(
	[dim_ent_idocs_ms_master_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_idocs_spool_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_idocs_spool_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_idocs_spool]
(
	[project_number] ASC,
	[document_id] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_idocs_spool]
(
	[project_number] ASC,
	[document_id] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_idocs_spool]
(
	[project_number] ASC,
	[document_id] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK2]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK2] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_document_status_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK3]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK3] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_idocs_doc_master_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_idocs_spool]
(
	[dim_ent_idocs_spool_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_ent_supplier]
(
	[dim_ent_supplier_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_ent_supplier]
(
	[dim_ent_supplier_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_ent_supplier]
(
	[supplier_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_ent_supplier]
(
	[supplier_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_ent_supplier]
(
	[supplier_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_ent_supplier]
(
	[dim_ent_country_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_ent_supplier]
(
	[dim_ent_supplier_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_activity]
(
	[dim_entp_activity_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_activity]
(
	[dim_entp_activity_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_activity]
(
	[activity_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_activity]
(
	[activity_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_activity]
(
	[activity_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_activity]
(
	[dim_entp_project_nk] ASC,
	[dim_entp_work_area_nk] ASC,
	[dim_entp_cwp_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_activity]
(
	[dim_entp_activity_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_cwp]
(
	[dim_entp_cwp_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_cwp]
(
	[dim_entp_cwp_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_cwp]
(
	[cwp_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_cwp]
(
	[cwp_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_cwp]
(
	[cwp_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_cwp]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_cwp]
(
	[dim_entp_cwp_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_iwp]
(
	[dim_entp_iwp_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_iwp]
(
	[dim_entp_iwp_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_iwp]
(
	[iwp_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_iwp]
(
	[iwp_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_iwp]
(
	[iwp_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_iwp]
(
	[dim_entp_project_nk] ASC,
	[dim_entp_activity_nk] ASC,
	[dim_entp_schedule_resource_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_iwp]
(
	[dim_entp_iwp_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_phase]
(
	[dim_entp_phase_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_phase]
(
	[dim_entp_phase_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_phase]
(
	[phase_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_phase]
(
	[phase_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_phase]
(
	[phase_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_phase]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_phase]
(
	[dim_entp_phase_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_pim]
(
	[dim_entp_pim_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_pim]
(
	[dim_entp_pim_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_pim]
(
	[pim_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_pim]
(
	[pim_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_pim]
(
	[pim_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_pim]
(
	[dim_entp_project_nk] ASC,
	[dim_entp_iwp_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_pim]
(
	[dim_entp_pim_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_roc]
(
	[dim_entp_roc_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_roc]
(
	[dim_entp_roc_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_roc]
(
	[roc_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_roc]
(
	[roc_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_roc]
(
	[roc_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_roc]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_roc]
(
	[dim_entp_roc_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_schedule_resource]
(
	[dim_entp_schedule_resource_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_schedule_resource]
(
	[dim_entp_schedule_resource_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_schedule_resource]
(
	[schedule_resource_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_schedule_resource]
(
	[schedule_resource_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_schedule_resource]
(
	[schedule_resource_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_schedule_resource]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_schedule_resource]
(
	[dim_entp_schedule_resource_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_work_area]
(
	[dim_entp_work_area_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_work_area]
(
	[dim_entp_work_area_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_work_area]
(
	[work_area_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_work_area]
(
	[work_area_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_work_area]
(
	[work_area_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_work_area]
(
	[dim_entp_project_nk] ASC,
	[dim_entp_phase_nk] ASC,
	[dim_entp_work_unit_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_work_area]
(
	[dim_entp_work_area_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKA] ON [dbo].[dim_entp_work_unit]
(
	[dim_entp_work_unit_nk] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indGNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indGNKSE] ON [dbo].[dim_entp_work_unit]
(
	[dim_entp_work_unit_nk] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNK] ON [dbo].[dim_entp_work_unit]
(
	[work_unit_code] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKA]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKA] ON [dbo].[dim_entp_work_unit]
(
	[work_unit_code] ASC,
	[active] ASC
)WITH (DROP_EXISTING = OFF)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indNKSE]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indNKSE] ON [dbo].[dim_entp_work_unit]
(
	[work_unit_code] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[dim_entp_work_unit]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:11:20 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[dim_entp_work_unit]
(
	[dim_entp_work_unit_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
