/****** Object:  Table [dbo].[fact_ops]    Script Date: 8/17/2021 7:21:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ops]
(
	[fact_entp_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[dim_entp_function_sk] [int] NOT NULL,
	[dim_entp_function_nk] [int] NOT NULL,
	[dim_entp_project_sk] [int] NOT NULL,
	[dim_entp_project_nk] [int] NOT NULL,
	[dim_entp_phase_sk] [int] NULL,
	[dim_entp_phase_nk] [int] NULL,
	[dim_entp_work_unit_sk] [int] NULL,
	[dim_entp_work_unit_nk] [int] NULL,
	[dim_entp_work_area_sk] [int] NULL,
	[dim_entp_work_area_nk] [int] NULL,
	[dim_entp_cwp_sk] [int] NULL,
	[dim_entp_cwp_nk] [int] NULL,
	[dim_entp_schedule_resource_sk] [int] NULL,
	[dim_entp_schedule_resource_nk] [int] NULL,
	[dim_entp_activity_sk] [int] NULL,
	[dim_entp_activity_nk] [int] NULL,
	[dim_entp_iwp_sk] [int] NULL,
	[dim_entp_iwp_nk] [int] NULL,
	[dim_entp_pim_sk] [int] NULL,
	[dim_entp_pim_nk] [int] NULL,
	[dim_entp_roc_sk] [int] NULL,
	[dim_entp_roc_nk] [int] NULL,
	[dim_entp_data_sub_class_sk] [int] NULL,
	[dim_entp_data_sub_class_nk] [int] NULL,
	[dim_entp_data_class_sk] [int] NULL,
	[dim_entp_data_class_nk] [int] NULL,
	[dim_entp_sub_source_sk] [int] NULL,
	[dim_entp_sub_source_nk] [int] NULL,
	[dim_entp_source_sk] [int] NULL,
	[dim_entp_source_nk] [int] NULL,
	[dim_entp_unit_of_measure_sk] [int] NULL,
	[dim_entp_unit_of_measure_nk] [int] NULL,
	[transaction_date] [date] NULL,
	[transaction_quantity] [decimal](15, 5) NULL,
	[created_date_time] [datetime] NULL,
	[temp_hash_code] [varchar](120) NULL,
	[temp_panned] [decimal](15, 5) NULL,
	[dim_ent_employee_sk] [int] NULL,
	[dim_ent_employee_nk] [int] NULL,
	[dim_ent_jde_coa_sk] [int] NULL,
	[dim_ent_jde_coa_nk] [int] NULL,
 CONSTRAINT [Cnstr_18735f87dca347bcaaea2116c0588dd5] PRIMARY KEY NONCLUSTERED 
	(
		[fact_entp_sk] ASC
	) NOT ENFORCED 
)
WITH
(
	DISTRIBUTION = HASH ( [dim_entp_function_sk] ),
	CLUSTERED COLUMNSTORE INDEX
)
GO
/****** Object:  Index [indRK1]    Script Date: 8/17/2021 7:21:31 AM ******/
CREATE NONCLUSTERED INDEX [indRK1] ON [dbo].[fact_ops]
(
	[dim_entp_project_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK2]    Script Date: 8/17/2021 7:21:31 AM ******/
CREATE NONCLUSTERED INDEX [indRK2] ON [dbo].[fact_ops]
(
	[dim_entp_project_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indRK2_dim_entp_iwp_nk]    Script Date: 8/17/2021 7:21:31 AM ******/
CREATE NONCLUSTERED INDEX [indRK2_dim_entp_iwp_nk] ON [dbo].[fact_ops]
(
	[dim_entp_iwp_nk] ASC
)WITH (DROP_EXISTING = OFF)
GO
/****** Object:  Index [indSK]    Script Date: 8/17/2021 7:21:31 AM ******/
CREATE NONCLUSTERED INDEX [indSK] ON [dbo].[fact_ops]
(
	[fact_entp_sk] ASC
)WITH (DROP_EXISTING = OFF)
GO
