/****** Object:  View [dbo].[ADFlogs_v]    Script Date: 4/19/2021 1:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ADFlogs_v]
AS SELECT A.[id]
      ,A.[DataFactoryName]
      ,A.[PipelineName] as MasterPipeline
      ,A.[RunId]
      ,A.[Status]
	  , B.value as ChildPipeline
      ,A.[ErrorMessage]
     -- ,A.[Error_pipeline_name] --Removing it as it might be redundant to Child pipeline.
      ,A.[Error_pipeline_runid]
      ,A.[CreatedOn]
FROM ADFlogs A 
	CROSS APPLY STRING_SPLIT(ISNULL(Error_pipeline_name,''), ';') AS B;
GO
/****** Object:  View [gpd].[MCPM_coa_v]    Script Date: 4/19/2021 1:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gpd].[MCPM_coa_v]
AS SELECT 
	  D.[dim_ent_jde_coa_sk] as stage_mcpm_coa_id
      ,D.[coa_value] 
      ,D.[contract_entity]
      ,D.[contract] 
      ,D.[area_unit] 
      ,D.[cost_code] 
      ,D.[cost_type] 
      ,D.[coa_type]
      ,D.[project] 
      ,D.[account_code] 
      ,D.[contract_status]
      ,D.[area_description] 
      ,D.[cost_description] 
      ,D.[coa_status] 
      ,D.[source_name] 
      ,D.[sub_source_name] 
      ,D.[projectname] 
      ,D.[contractdesc] 
      ,D.[contract_entity_desc]
      ,D.[project_entity] 
      ,D.[project_entity_description] 
      ,S.[MCPM_PSRLevel1] PSRLevel1
      ,S.[MCPM_PSRLevel2] PSRLevel2
      ,S.[MCPM_PSRL1Description] PSRL1Description
      ,S.[MCPM_PSRL2Description] PSRL2Description
  FROM [dbo].[dim_ent_jde_coa] D,
  gpd.[NCSA_MCPM_dim_ent_jde_coa] S
  WHERE TRIM(D.account_code) = S.CoA
  And D.project = S.Domain
  and D.active=1;
GO
/****** Object:  View [gpd].[NCSA_P6_Labor_Units_v]    Script Date: 4/19/2021 1:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [gpd].[NCSA_P6_Labor_Units_v]
AS (select *
from 
(select [stage_ncsa_p6_labor_units_id]
      ,[Activity_ID]
      ,[Activity_Name]
      ,[Resource_ID_Name]
      ,[Global_Executed_By_Type]
      ,[Start]
      ,[Finish]
      ,[Spreadsheet_Field]
      ,[Period]
      ,[fx]
      ,[project]
      ,[phase]
      ,[work_unit]
      ,[work_area]
      ,[cwp]
      ,[schedule_resource]
      ,[activity]
      ,[iwp]
      ,[pim]
      ,[roc]
      ,[data_sub_class]
      ,[data_class]
      ,[sub_source]
      ,[source]
      ,[unit_of_measure]
      ,[dim_entp_function_sk]
      ,[dim_entp_function_nk]
      ,[dim_entp_project_sk]
      ,[dim_entp_project_nk]
      ,[dim_entp_phase_sk]
      ,[dim_entp_phase_nk]
      ,[dim_entp_work_unit_sk]
      ,[dim_entp_work_unit_nk]
      ,[dim_entp_work_area_sk]
      ,[dim_entp_work_area_nk]
      ,[dim_entp_cwp_sk]
      ,[dim_entp_cwp_nk]
      ,[dim_entp_schedule_resource_sk]
      ,[dim_entp_schedule_resource_nk]
      ,[dim_entp_activity_sk]
      ,[dim_entp_activity_nk]
      ,[dim_entp_iwp_sk]
      ,[dim_entp_iwp_nk]
      ,[dim_entp_pim_sk]
      ,[dim_entp_pim_nk]
      ,[dim_entp_roc_sk]
      ,[dim_entp_roc_nk]
      ,[dim_entp_data_sub_class_sk]
      ,[dim_entp_data_sub_class_nk]
      ,[dim_entp_data_class_sk]
      ,[dim_entp_data_class_nk]
      ,[dim_entp_sub_source_sk]
      ,[dim_entp_sub_source_nk]
      ,[dim_entp_source_sk]
      ,[dim_entp_source_nk]
      ,[dim_entp_unit_of_measure_sk]
      ,[dim_entp_unit_of_measure_nk]
      ,[LU_Date]
      ,[Planned_Start]
      ,[Planned_End]
      ,sum(units) over (partition by Activity_ID, Spreadsheet_Field, Start, Finish, LU_Date) as Units
      ,row_number() over (partition by Activity_ID, Spreadsheet_Field, Start, Finish, LU_Date order by stage_ncsa_p6_labor_units_id) as sl_no
	  ,load_date_time
from [gpd].[NCSA_P6_Labor_Units]) x
where sl_no = 1);
GO
