/****** Object:  View [dbo].[dim_ent_contract_active_v]    Script Date: 4/21/2021 10:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_contract_active_v]
AS select dim_ent_contract_sk,dim_ent_contract_nk,contract_number,contract_name,contract_geac_number,contract_jde_number,contract_oracle_number,dim_ent_project_nk
from [dbo].[dim_ent_contract]
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_contract_v]    Script Date: 4/21/2021 10:12:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_contract_v]
AS select
[dim_ent_contract_sk]
      ,[dim_ent_contract_nk]
      ,[contract_number]
      ,[start_date]
      ,[end_date]
      ,[hash_code]
      ,[active]
      ,[created_date_time]
      ,[modified_date_time]
      ,[late_arrival_flag]
      ,[project_number]
      ,[contract_name]
      ,[contract_geac_number]
      ,[contract_jde_number]
      ,[contract_oracle_number]
      ,[dim_ent_project_nk]
      ,[dim_ent_source_nk]
      ,[dim_ent_sub_source_nk]
      ,[enable_analytics]
  FROM [dbo].[dim_ent_contract];
GO
/****** Object:  View [dbo].[dim_entp_schedule_resource_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_schedule_resource_active_v] AS select
a.dim_entp_schedule_resource_nk,
a.schedule_resource_code,
a.schedule_resource_name,
a.max_wp_threshold,
a.spm_discipline,
a.source_created_date,
a.source_is_active,
a.first_import_id,			
a.pf_rolling_periods,
a.source_modified_by_id,
a.default_crew_size,
a.source_created_by_id,
a.last_import_id,
a.pf_planned,
a.source_modified_date,
a.material_category_id,
a.pf_actual,
a.min_wp_threshold,
'' prime_code,
'' prime_description,
'' discipline_code,
'' discipline_name


from dim_entp_schedule_resource a
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_phase_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_phase_active_v]
AS select 	dim_entp_phase_nk,
	phase_code,
	phase_name
from dim_entp_phase
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_iwp_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_iwp_active_v]
AS select 
dim_entp_iwp_nk,
iwp_code,
iwp_name,
cost_code,
foreman_id,
notes,
priority,
period_priority,
duration_in_days,
cwp_start_date,
cwp_end_date,
prelim_duration_in_hours,
duration_in_workdays,
material_percentage_allocated,
restart_date,
remaining_duration,
restriction_id,
restriction_percentage,
restriction_notes,
text1,
text2,
text3,
text4,
text5,
construction_manager_id,
supervisor_id,
general_foreman_id,
field_engineer_id,
coordinator_id,
completed_by,
completed_date,
iwp_status_id,
workpack_status,
add_ifc,
IWP_Status,
Progress_Status,
CASE WHEN Progress_Status<> 'Fully Progressed' 
     THEN CASE WHEN DATEDIFF( wk, cwp_start_date , GETDATE() ) <= 3 THEN '3 Weeks or Less'
                 WHEN ( DATEDIFF( wk, cwp_start_date , GETDATE() ) > 3 AND DATEDIFF( wk, cwp_start_date , GETDATE() ) <= 6  ) THEN '4 -6 Weeks'
                 WHEN DATEDIFF( wk, cwp_start_date , GETDATE() ) > 6 THEN 'More than 6 Weeks'
                 END
     END as [IWP Duration Range],
Supervisor_Name,
Construction_Manager_Name,
Foreman_Name,
Field_Engineer_Name,
Coordinator_Name,
dim_entp_schedule_resource_nk,
dim_entp_activity_nk

from dim_entp_iwp
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_cwp_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_cwp_active_v]
AS select 
dim_entp_cwp_nk,
cwp_code,
cwp_description,
cwp_status
from dim_entp_cwp
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_activity_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_activity_active_v]
AS select
dim_entp_activity_nk,
activity_code,
activity_description,
schedule_unit,
schedule_resource,
original_duration,
remaining_duration,
actual_start,
actual_finish,
percent_complete_type,
executed_by_type,
prime,
sub_prime,
schedule_work_area,
executed_by,
early_start_date,
early_finish_date,
is_on_critical_path,
total_float,
planned_start,
planned_finish,
activity_status,
(select [prime_description] from [dbo].[dim_ent_prime] a where a.active = 1 and a.[prime_code] = dim_entp_activity.prime and a.[dim_entp_project_nk] = dim_entp_activity.dim_entp_project_nk)
as [Prime Description] ,
(select [sub_prime_description] from [dbo].[dim_ent_sub_prime] a where a.active = 1 and a.[sub_prime_code] = dim_entp_activity.sub_prime and a.[dim_entp_project_nk] = dim_entp_activity.dim_entp_project_nk)
as [Sub Prime Description],
dim_entp_work_area_nk,
dim_entp_cwp_nk,
dim_entp_schedule_resource_nk
from  dim_entp_activity
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_work_area_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_work_area_active_v]
AS select
dim_entp_work_area_nk,
work_area_code,
work_area_name,
dim_entp_work_unit_nk,
dim_entp_phase_nk
from dim_entp_work_area
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_work_unit_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_work_unit_active_v]
AS select 
dim_entp_work_unit_nk,
work_unit_code,
work_unit_name
from dim_entp_work_unit
where active = 1;
GO
/****** Object:  View [dbo].[fact_ops_v1]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_v1]
AS select 
				a.[dim_entp_function_nk]
				,a.[dim_entp_project_nk]
				,ph.[dim_entp_phase_nk]
				,wu.[dim_entp_work_unit_nk]
				,wa.[dim_entp_work_area_nk]
				,cwp.[dim_entp_cwp_nk]
				,(case when sr2.schedule_resource_code = 'ZZZ' or sr2.dim_entp_schedule_resource_nk is null then sr1.dim_entp_schedule_resource_nk else sr2.dim_entp_schedule_resource_nk end) as dim_entp_schedule_resource_nk
				,act.[dim_entp_activity_nk]
				,a.[dim_entp_iwp_nk]
				,a.[dim_entp_pim_nk]
				,a.[dim_entp_roc_nk]
				,a.[dim_entp_data_sub_class_nk]
				,a.dim_entp_data_class_nk
				,a.[dim_entp_sub_source_nk]
				,a.dim_entp_source_nk
				,a.[dim_entp_unit_of_measure_nk]
				,a.[dim_ent_employee_nk]
				,a.dim_ent_jde_coa_nk 
				,a.[transaction_date]
				,a.[transaction_quantity]
				,a.[created_date_time]
				,HASHBYTES('MD5',   concat(isnull(trim(str(a.dim_entp_function_nk)), '~'),
									isnull(trim(str(a.dim_entp_project_nk)), '~'),
									isnull(trim(str(ph.dim_entp_phase_nk)), '~'),
									isnull(trim(str(wu.dim_entp_work_unit_nk)), '~'),
									isnull(trim(str(wa.dim_entp_work_area_nk)), '~'),
									isnull(trim(str(cwp.dim_entp_cwp_nk)), '~'),
									isnull(trim(str(case when sr2.schedule_resource_code = 'ZZZ' or sr2.dim_entp_schedule_resource_nk is null then sr1.dim_entp_schedule_resource_nk else sr2.dim_entp_schedule_resource_nk end )), '~'),
									isnull(trim(str(act.dim_entp_activity_nk)), '~'),
									isnull(trim(str(a.dim_entp_iwp_nk)), '~'),
									isnull(trim(str(a.dim_entp_pim_nk)), '~'),
									isnull(trim(str(a.dim_entp_roc_nk)), '~'),
									isnull(trim(str(a.dim_entp_data_class_nk)), '~'),
									isnull(trim(str(a.dim_entp_data_sub_class_nk)), '~'),
									isnull(trim(str(a.dim_entp_sub_source_nk)), '~'),
									isnull(trim(str(a.dim_entp_source_nk)), '~'),
									isnull(trim(str(a.dim_ent_employee_nk)), '~'),
									isnull(trim(str(a.dim_ent_jde_coa_nk)), '~'),
									isnull(trim(str(a.dim_entp_unit_of_measure_nk)), '~')
									)) temp_hash_key
				from [dbo].[fact_ops] a
				left outer join [dbo].[dim_entp_iwp_active_v] iwp on a.dim_entp_iwp_nk = iwp.dim_entp_iwp_nk
				left outer join [dbo].[dim_entp_activity_active_v] act on iwp.dim_entp_activity_nk = act.dim_entp_activity_nk
				left outer join [dbo].[dim_entp_cwp_active_v] cwp on act.dim_entp_cwp_nk = cwp.dim_entp_cwp_nk
				left outer join [dbo].[dim_entp_work_area_active_v] wa on act.dim_entp_work_area_nk = wa.dim_entp_work_area_nk
				left outer join [dbo].[dim_entp_work_unit_active_v] wu on wa.dim_entp_work_unit_nk = wu.dim_entp_work_unit_nk
				left outer join [dbo].[dim_entp_phase_active_v] ph on wa.dim_entp_phase_nk = ph.dim_entp_phase_nk
				left outer join [dbo].[dim_entp_schedule_resource_active_v] sr1 on act.dim_entp_schedule_resource_nk = sr1.dim_entp_schedule_resource_nk
				left outer join [dbo].[dim_entp_schedule_resource_active_v] sr2 on iwp.dim_entp_schedule_resource_nk = sr2.dim_entp_schedule_resource_nk;
GO
/****** Object:  View [dbo].[fact_ent_time_ets_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ent_time_ets_v]
AS SELECT
	[created_date_time] ,
	a.[dim_ent_source_sk] ,
	a.[dim_ent_source_nk] ,
	a.[dim_ent_sub_source_sk] ,
	a.[dim_ent_sub_source_nk] ,
	[dim_ent_data_class_sk] ,
	[dim_ent_data_class_nk] ,
	[dim_ent_data_sub_class_sk] ,
	[dim_ent_data_sub_class_nk] ,
	[dim_ent_timesheet_date_sk] ,
	[dim_ent_employee_sk] ,
	[dim_ent_employee_nk] ,
	[dim_ent_equipment_sk] ,
	[dim_ent_equipment_nk] ,
	[dim_ent_timesheet_approver_date] ,
	[dim_ent_contract_sk] ,
	[dim_ent_contract_nk] ,
	[dim_ent_extracted_date] ,
	[dim_ent_pay_type_sk] ,
	[dim_ent_pay_type_nk] ,
	[dim_ent_combined_coa_sk] ,
	[dim_ent_combined_coa_nk] ,
	[dim_ent_geac_coa_sk] ,
	[dim_ent_geac_coa_nk] ,
	[dim_ent_jde_coa_sk] ,
	[dim_ent_jde_coa_nk] ,
	[dim_ent_unit_of_measure_sk] ,
	[dim_ent_unit_of_measure_nk] ,
	[comment],
	[units]
FROM 
Fact_ent_time a,
[dbo].[dim_ent_sub_source_active_v] b
WHERE a.dim_ent_sub_source_nk = b.dim_ent_sub_source_nk 
and b.sub_source_name = 'Timeworks';
GO
/****** Object:  View [dbo].[dim_ent_summary_cost_type_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_summary_cost_type_active_v]
AS select *  from [dbo].dim_ent_summary_cost_type
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_prime_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_prime_active_v]
AS select *  from [dbo].[dim_ent_prime]
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_sub_prime_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_sub_prime_active_v]
AS select *  from [dbo].dim_ent_sub_prime
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_jde_coa_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_jde_coa_active_v] AS select a.*,
left(cost_code,2) prime,
(select b.prime_description from dim_ent_prime_active_v b where b.project_number = a.project and  b.prime_code =  left(cost_code,2)) prime_description,
left(cost_code,3) Sub_prime,
(select b.sub_prime_description from dim_ent_sub_prime_active_v b where b.project_number = a.project and  b.sub_prime_code =  left(cost_code,3)) sub_prime_description,
left(cost_type,2) Summary_Cost_Type,
(select b.Summary_Cost_Type_description from dim_ent_summary_cost_type_active_v b where b.project_number = a.project and  b.summary_cost_type =  left(cost_type,2)) summary_cost_type_description
from dim_ent_jde_coa  a where active = 1 
and coa_type = 'Project';
GO
/****** Object:  View [dbo].[dim_date_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_date_v]
AS select *, 
case when day(standard_date) = day(getdate()) and month(standard_date) = month(getdate())
and year(standard_date) = year(getdate()) then '1' else '0' end  current_day_flag,
case when month(standard_date) = month(getdate())
and year(standard_date) = year(getdate()) then '1' else '0' end  current_month_flag,
case when year(standard_date) = year(getdate()) then '1' else '0' end  current_year_flag,
case when year(standard_date) = year(getdate()) and  quarter_attribute = 
(select quarter_attribute from  dim_ent_date a where a.standard_date = convert(date,getdate())) then  '1' else '0' end  current_quarter_flag,
case when year(standard_date) = year(getdate()) and month(standard_date) = month(getdate()) and  week_of_month = 
(select week_of_month from  dim_ent_date a where a.standard_date = convert(date,getdate())) then  '1' else '0' end  current_week_flag,
datediff(week,getdate(),week_start_date) week_offset,
datediff(month,getdate(),week_start_date) month_offset,
datediff(year,getdate(),week_start_date) year_offset
from [dbo].[dim_ent_date];
GO
/****** Object:  View [dbo].[fact_ops_as_rows_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_as_rows_v] AS select 	x.[dim_entp_function_nk]
		,x.[dim_entp_project_nk]
		,x.[dim_entp_phase_nk]
		,x.[dim_entp_work_unit_nk]
		,x.[dim_entp_work_area_nk]
		,x.[dim_entp_cwp_nk]
		,x.[dim_entp_schedule_resource_nk]
		,x.[dim_entp_activity_nk]
		,x.[dim_entp_iwp_nk]
		,x.[dim_entp_pim_nk]
		,x.[dim_entp_roc_nk]
		,x.[dim_entp_data_sub_class_nk]
		,x.[dim_entp_data_class_nk]
		,x.[dim_entp_sub_source_nk]
		,x.[dim_entp_source_nk]
		,x.[dim_entp_unit_of_measure_nk]
		,x.dim_ent_jde_coa_nk
		,x.[dim_ent_employee_nk]
		,x.dim_ent_prime_nk
		,x.dim_ent_sub_prime_nk
		,x.[transaction_date]
		,x.[transaction_quantity]
		,x.[created_date_time],
		case when x.created_date_time  > v.created_date_time then x.created_date_time else v.created_date_time end touched_dtm,
		case when v.sec_sa_rule_id is null then 0 else v.sec_sa_rule_id end rule_id
from 
(select b.[dim_entp_function_nk]
		,b.[dim_entp_project_nk]
		,b.[dim_entp_phase_nk]
		,b.[dim_entp_work_unit_nk]
		,b.[dim_entp_work_area_nk]
		,b.[dim_entp_cwp_nk]
		,b.[dim_entp_schedule_resource_nk]
		,b.[dim_entp_activity_nk]
		,b.[dim_entp_iwp_nk]
		,b.[dim_entp_pim_nk]
		,b.[dim_entp_roc_nk]
		,b.[dim_entp_data_sub_class_nk]
		,b.[dim_entp_data_class_nk]
		,b.[dim_entp_sub_source_nk]
		,b.[dim_entp_source_nk]
		,b.[dim_entp_unit_of_measure_nk]
		,b.dim_ent_jde_coa_nk
		,b.[dim_ent_employee_nk]
		,b.dim_ent_prime_nk
		,b.dim_ent_sub_prime_nk
		,b.[transaction_date]
		,b.[transaction_quantity]
		,b.[created_date_time]
from (
select 		a.[dim_entp_function_nk]
		,a.[dim_entp_project_nk]
		,a.[dim_entp_phase_nk]
		,a.[dim_entp_work_unit_nk]
		,a.[dim_entp_work_area_nk]
		,a.[dim_entp_cwp_nk]
		,a.[dim_entp_schedule_resource_nk]
		,a.[dim_entp_activity_nk]
		,a.[dim_entp_iwp_nk]
		,a.[dim_entp_pim_nk]
		,a.[dim_entp_roc_nk]
		,a.[dim_entp_data_sub_class_nk]
		,a.[dim_entp_data_class_nk]
		,a.[dim_entp_sub_source_nk]
		,a.[dim_entp_source_nk]
		,a.[dim_ent_employee_nk]
		,a.dim_ent_jde_coa_nk
		,a.[dim_entp_unit_of_measure_nk]
		,a.[transaction_date]
		,a.[transaction_quantity]
		,a.[created_date_time]
		,case when isnull(c.dim_ent_prime_nk,0) = 0 then e.dim_ent_prime_nk else c.dim_ent_prime_nk end as dim_ent_prime_nk
		,case when isnull(f.dim_ent_sub_prime_nk,0) = 0 then g.dim_ent_sub_prime_nk else f.dim_ent_sub_prime_nk end as dim_ent_sub_prime_nk
		,a.temp_hash_key,
		dense_rank() over(partition by a.temp_hash_key, a.dim_entp_data_class_nk,  a.dim_entp_data_sub_class_nk, a.transaction_date order by a.created_date_time desc) dr,
		row_number() over(partition by a.temp_hash_key, a.dim_entp_data_class_nk, a.dim_entp_data_sub_class_nk, a.transaction_date order by a.created_date_time desc) rn
from [dbo].[fact_ops_v1]  a
left outer join [dbo].[dim_ent_jde_coa_active_v] b on a.dim_ent_jde_coa_nk = b.dim_ent_jde_coa_nk
left outer join [dbo].[dim_entp_activity_active_v] d on a.dim_entp_activity_nk = d.dim_entp_activity_nk
left outer join [dbo].[dim_ent_prime_active_v] c on b.prime = c.prime_code
left outer join [dbo].[dim_ent_prime_active_v] e on d.prime = e.prime_code
left outer join [dbo].[dim_ent_sub_prime_active_v] f on b.sub_prime = f.sub_prime_code
left outer join [dbo].[dim_ent_sub_prime_active_v] g on d.sub_prime = g.sub_prime_code
) b
where dr = 1
and rn = 1
union all
select null as dim_entp_function_nk ,
b.dim_ent_project_nk,
NULL dim_entp_phase_nk,
NULL dim_entp_work_unit_nk,
NULL dim_entp_work_area_nk,
NULL dim_entp_cwp_nk,
NULL dim_entp_schedule_resource_nk,
NULL dim_entp_activity_nk,
NULL dim_entp_iwp_nk,
NULL dim_entp_pim_nk,
NULL dim_entp_roc_nk,
dim_ent_data_sub_class_nk,
dim_ent_data_class_nk,
dim_ent_sub_source_nk,
dim_ent_source_nk,
dim_ent_unit_of_measure_nk,
a.dim_ent_jde_coa_nk,
dim_ent_employee_nk,
f.dim_ent_prime_nk,
g.dim_ent_sub_prime_nk,
date_attribute,
units,
a.created_date_time
from [dbo].[fact_ent_time_ets_v] a
left outer join dim_ent_contract_active_v b on a.dim_ent_contract_nk = b.dim_ent_contract_nk
left outer join [dbo].[dim_ent_jde_coa_active_v] c on a.dim_ent_jde_coa_nk = c.dim_ent_jde_coa_nk
left outer join [dbo].[dim_ent_prime_active_v] f on c.prime = f.prime_code
left outer join [dbo].[dim_ent_sub_prime_active_v] g on c.sub_prime = g.sub_prime_code
left outer join [dbo].[dim_date_v] h on h.dim_ent_date_sk = a.dim_ent_timesheet_date_sk ) x
left outer join
	(	select	a.sec_sa_rule_id,
				a.created_date_time,
				(select x1.column_value 
				 from sec_sa_rule_detail_value x1 
				 where x1.sec_sa_rule_detail_id = b.sec_sa_rule_detail_id 
				 and  x1.sec_sa_table_column_id = (select y1.sec_sa_table_column_id from sec_sa_table_column y1 where y1.column_name = 'dim_entp_project_nk')) dim_entp_project_nk
from	sec_sa_rule a,
		sec_sa_rule_detail b,
		sec_sa c
where   a.sec_sa_rule_id = b.sec_sa_rule_id
and     a.sec_sa_id = c.sec_sa_id
and     c.description = 'NCSA') v
on v.dim_entp_project_nk = x.dim_entp_project_nk;
GO
/****** Object:  View [dbo].[fact_ops_v2]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_v2]
AS select 
		[dim_entp_function_nk]
		,[dim_entp_project_nk]
		,[dim_entp_phase_nk]
		,[dim_entp_work_unit_nk]
		,[dim_entp_work_area_nk]
		,[dim_entp_cwp_nk]
		,[dim_entp_schedule_resource_nk]
		,[dim_entp_activity_nk]
		,[dim_entp_iwp_nk]
		,[dim_entp_pim_nk]
		,[dim_entp_roc_nk]
		,[dim_entp_data_sub_class_nk]
		,[dim_entp_data_class_nk]
		,[dim_entp_sub_source_nk]
		,[dim_entp_source_nk]
		,[dim_entp_unit_of_measure_nk]
		,dim_ent_jde_coa_nk
		, [dim_ent_employee_nk]
		,[transaction_date]
		,[transaction_quantity]
		,[created_date_time]
		,temp_hash_key,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'At Completion Units')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_at_completion_unit_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Construction Plan - Hours')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_Construction_Plan_Hours_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Earned Units')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_Earned_Units_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Hours')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_Plan_Hours_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Quantity')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_Plan_Quantity_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Remaining Early Units')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end plan_Remaining_Early_Units_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Hours')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end budget_Construction_Budget_Hours_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Quantity')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end budget_Construction_Budget_Quantity_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Percentage' and data_sub_class_name = 'Step Percentage')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Step_Percentage_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Hours')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Hours_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Installed Quantity')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Installed_Quantity_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Quantity')
		then	
			dense_rank() over(partition by temp_hash_key, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Quantity_dr
		from [dbo].[fact_ops_v1];
GO
/****** Object:  View [dbo].[fact_ops_v3]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_v3]
AS select	
		[dim_entp_function_nk]
		,[dim_entp_project_nk]
		,[dim_entp_phase_nk]
		,[dim_entp_work_unit_nk]
		,[dim_entp_work_area_nk]
		,[dim_entp_cwp_nk]
		,[dim_entp_schedule_resource_nk]
		,[dim_entp_activity_nk]
		,[dim_entp_iwp_nk]
		,[dim_entp_pim_nk]
		,[dim_entp_roc_nk]
		,[dim_entp_data_sub_class_nk]
		,[dim_entp_data_class_nk]
		,[dim_entp_sub_source_nk]
		,[dim_entp_source_nk]
		, [dim_ent_employee_nk]
		,dim_ent_jde_coa_nk
		,[dim_entp_unit_of_measure_nk]
		,[transaction_date]
		,[transaction_quantity]
		,[created_date_time]
		,temp_hash_key,
		plan_at_completion_unit_dr,
		plan_Construction_Plan_Hours_dr,
		plan_Earned_Units_dr,
		plan_Plan_Hours_dr,
		plan_Plan_Quantity_dr,
		plan_Remaining_Early_Units_dr,
		budget_Construction_Budget_Hours_dr,
		budget_Construction_Budget_Quantity_dr,
		percentage_Step_Percentage_dr,
		percentage_Progress_Hours_dr,
		percentage_Progress_Installed_Quantity_dr,
		percentage_Progress_Quantity_dr,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'At Completion Units')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_at_completion_unit_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Construction Plan - Hours')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_Construction_Plan_Hours_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Earned Units')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_Earned_Units_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Hours')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_Plan_Hours_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Quantity')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_Plan_Quantity_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Remaining Early Units')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end plan_Remaining_Early_Units_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Hours')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end budget_Construction_Budget_Hours_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Quantity')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end budget_Construction_Budget_Quantity_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Percentage' and data_sub_class_name = 'Step Percentage')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Step_Percentage_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Hours')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Hours_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Installed Quantity')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Installed_Quantity_rn,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Quantity')
		then	
			row_number() over(partition by temp_hash_key, dim_entp_data_class_nk, dim_entp_data_sub_class_nk, transaction_date order by created_date_time desc)
		else
			null
		end percentage_Progress_Quantity_rn
from fact_ops_v2;
GO
/****** Object:  View [dbo].[fact_ops_v4]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_v4]
AS select * from
fact_ops_v3
where (plan_at_completion_unit_rn = 1 and plan_at_completion_unit_dr = 1 )
or (plan_Construction_Plan_Hours_rn = 1 and plan_Construction_Plan_Hours_dr = 1)
or (plan_Earned_Units_rn= 1 and plan_Earned_Units_dr= 1)
or (plan_Plan_Hours_rn = 1 and plan_Plan_Hours_dr = 1)
or (plan_Plan_Quantity_rn = 1 and plan_Plan_Quantity_dr = 1)
or (plan_Remaining_Early_Units_rn = 1 and plan_Remaining_Early_Units_dr = 1)
or (budget_Construction_Budget_Hours_rn = 1 and budget_Construction_Budget_Hours_dr = 1)
or (budget_Construction_Budget_Quantity_rn = 1 and budget_Construction_Budget_Quantity_dr = 1)
or (percentage_Step_Percentage_rn= 1 and percentage_Step_Percentage_dr= 1)
or (percentage_Progress_Hours_rn= 1 and percentage_Progress_Hours_dr= 1)
or (percentage_Progress_Installed_Quantity_rn= 1 and percentage_Progress_Installed_Quantity_dr= 1)
or (percentage_Progress_Quantity_rn =1 and percentage_Progress_Quantity_dr =1);
GO
/****** Object:  View [dbo].[fact_ops_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[fact_ops_v] AS select [dim_entp_function_nk]
		,fact_ops_v4.dim_entp_project_nk
		,[dim_entp_phase_nk]
		,[dim_entp_work_unit_nk]
		,[dim_entp_work_area_nk]
		,[dim_entp_cwp_nk]
		,[dim_entp_schedule_resource_nk]
		,[dim_entp_activity_nk]
		,[dim_entp_iwp_nk]
		,[dim_entp_pim_nk]
		,[dim_entp_roc_nk]
		,[dim_entp_data_sub_class_nk]
		,[dim_entp_data_class_nk]
		,[dim_entp_sub_source_nk]
		,[dim_entp_source_nk]
		,[dim_entp_unit_of_measure_nk]
		,dim_ent_jde_coa_nk
		, [dim_ent_employee_nk]
		,[transaction_date]
		,[transaction_quantity]
		,fact_ops_v4.created_date_time,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'At Completion Units')
		then	
			transaction_quantity
		else
			0
		end at_completion_unit,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Construction Plan - Hours')
		then	
			transaction_quantity
		else
			0
		end Construction_Plan_Hours,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Earned Units')
		then	
			transaction_quantity
		else
			0
		end Earned_Units,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Hours')
		then	
			transaction_quantity
		else
			0
		end Plan_Hours,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Plan - Quantity')
		then	
			transaction_quantity
		else
			0
		end Plan_Quantity,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'plan' and data_sub_class_name = 'Remaining Early Units')
		then	
			transaction_quantity
		else
			0
		end Remaining_Early_Units,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Hours')
		then	
			transaction_quantity
		else
			0
		end Construction_Budget_Hours,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Budget' and data_sub_class_name = 'Construction - Budget Quantity')
		then	
			transaction_quantity
		else
			0
		end Construction_Budget_Quantity,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Percentage' and data_sub_class_name = 'Step Percentage')
		then	
			transaction_quantity
		else
			0
		end Step_Percentage,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Hours')
		then	
			transaction_quantity
		else
			0
		end Progress_Hours,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Installed Quantity')
		then	
			transaction_quantity
		else
			0
		end Progress_Installed_Quantity,
		case when dim_entp_data_sub_class_nk in (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class where data_class_name = 'Progress' and data_sub_class_name = 'Progress Quantity')
		then	
			transaction_quantity
		else
			0
		end Progress_Quantity
		,
		case when fact_ops_v4.created_date_time  > v.created_date_time then fact_ops_v4.created_date_time else v.created_date_time end touched_dtm,
		case when v.sec_sa_rule_id is null then 0 else v.sec_sa_rule_id end rule_id
from fact_ops_v4 
left outer join
	(	select	a.sec_sa_rule_id,
				a.created_date_time,
				(select x1.column_value 
				 from sec_sa_rule_detail_value x1 
				 where x1.sec_sa_rule_detail_id = b.sec_sa_rule_detail_id 
				 and  x1.sec_sa_table_column_id = (select y1.sec_sa_table_column_id from sec_sa_table_column y1 where y1.column_name = 'dim_entp_project_nk')) dim_entp_project_nk
from	sec_sa_rule a,
		sec_sa_rule_detail b,
		sec_sa c
where   a.sec_sa_rule_id = b.sec_sa_rule_id
and     a.sec_sa_id = c.sec_sa_id
and     c.description = 'NCSA') v
on v.dim_entp_project_nk = fact_ops_v4.dim_entp_project_nk;
GO
/****** Object:  View [dbo].[dim_entp_pmid_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_pmid_active_v]
AS select
dim_entp_pim_nk,
pim_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
pimid_description,
contract,
cost_code,
cost_code_description,
costing_coa,
drawing_number,
tag_number,
spool,
line,
spec,
system_str,
piece_mark,
cost_type,
number_of_pieces,
sub_system,
text5,
level6,
planned_status,
progress_status,
ltrim(rtrim(contract)) + '.' + ltrim(rtrim(cost_type)) + '.' + ltrim(rtrim(costing_coa)) account_code,
(select dim_ent_jde_coa_nk from [dbo].[dim_ent_jde_coa_active_v] where ltrim(rtrim(account_code)) = ltrim(rtrim(dim_entp_pim.contract)) + '.' + ltrim(rtrim(dim_entp_pim.cost_type)) + '.' + ltrim(rtrim(dim_entp_pim.costing_coa))) dim_ent_jde_coa_nk
from dim_entp_pim
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_document_milestone_sequence_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_document_milestone_sequence_active_v]
AS select *
from dim_ent_document_milestone_sequence
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_document_status_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_document_status_active_v]
AS select *
from dim_ent_document_status
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_employee_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_employee_active_v] AS select *
from dim_ent_employee
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_idocs_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_idocs_active_v]
AS select * from dim_ent_idocs
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_idocs_milestone_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_idocs_milestone_active_v]
AS select * 
from dim_ent_idocs_milestone
where active = 1;
GO
/****** Object:  View [dbo].[dim_ent_idocs_spool_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_ent_idocs_spool_active_v]
AS select *
from dim_ent_idocs_spool
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_cwp_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_cwp_v]
AS select 
dim_entp_cwp_sk,
dim_entp_cwp_nk,
cwp_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
cwp_description,
cwp_status,
dim_entp_project_nk
from dim_entp_cwp;
GO
/****** Object:  View [dbo].[dim_entp_iwp_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_iwp_v]
AS select 
dim_entp_iwp_sk,
dim_entp_iwp_nk,
iwp_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
iwp_name,
cost_code,
foreman_id,
notes,
priority,
period_priority,
duration_in_days,
cwp_start_date,
cwp_end_date,
prelim_duration_in_hours,
duration_in_workdays,
material_percentage_allocated,
restart_date,
remaining_duration,
restriction_id,
restriction_percentage,
restriction_notes,
text1,
text2,
text3,
text4,
text5,
construction_manager_id,
supervisor_id,
general_foreman_id,
field_engineer_id,
coordinator_id,
completed_by,
completed_date,
iwp_status_id,
workpack_status,
add_ifc,
dim_entp_project_nk,
dim_entp_activity_nk,
dim_entp_schedule_resource_nk,
IWP_Status,
Progress_Status,
Supervisor_Name,
Construction_Manager_Name,
Foreman_Name,
Field_Engineer_Name,
Coordinator_Name

from dim_entp_iwp;
GO
/****** Object:  View [dbo].[dim_entp_phase_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_phase_v]
AS select 	dim_entp_phase_sk,
	dim_entp_phase_nk,
	phase_code,
	start_date,
	end_date,
	hash_code,
	active,
	created_date_time,
	modified_date_time,
	late_arrival_flag,
	phase_name,
	dim_entp_project_nk
from dim_entp_phase;
GO
/****** Object:  View [dbo].[dim_entp_pim_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_pim_v]
AS select
dim_entp_pim_sk,
dim_entp_pim_nk,
pim_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
pimid_description,
contract,
cost_code,
cost_code_description,
costing_coa,
drawing_number,
tag_number,
spool,
line,
spec,
system_str,
piece_mark,
cost_type,
number_of_pieces,
sub_system,
text5,
level6,
planned_status,
progress_status,
dim_entp_project_nk,
dim_entp_iwp_nk
from dim_entp_pim;
GO
/****** Object:  View [dbo].[dim_entp_roc_active_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_roc_active_v]
AS select 
dim_entp_roc_nk,
roc_code,
roc_name,
sub_prime,
rocs_step,
rocs_percentage,
driving,
quantity,
quantity_description
from dim_entp_roc
where active = 1;
GO
/****** Object:  View [dbo].[dim_entp_roc_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_roc_v]
AS select 
dim_entp_roc_sk,
dim_entp_roc_nk,
roc_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
roc_name,
sub_prime,
rocs_step,
rocs_percentage,
driving,
quantity,
quantity_description,
dim_entp_project_nk
from dim_entp_roc;
GO
/****** Object:  View [dbo].[dim_entp_schedule_resource_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_schedule_resource_v] AS select
a.dim_entp_schedule_resource_sk,
a.dim_entp_schedule_resource_nk,
a.schedule_resource_code,
a.start_date,
a.end_date,
a.hash_code,
a.active,
a.created_date_time,
a.modified_date_time,
a.late_arrival_flag,
a.schedule_resource_name,
a.max_wp_threshold,
a.spm_discipline,
a.source_created_date,
a.source_is_active,
a.first_import_id,			
a.pf_rolling_periods,
a.source_modified_by_id,
a.default_crew_size,
a.source_created_by_id,
a.last_import_id,
a.pf_planned,
a.source_modified_date,
a.material_category_id,
a.pf_actual,
a.min_wp_threshold,
a.dim_entp_project_nk,
'' prime_code,
'' prime_description,
'' discipline_code,
'' discipline_name

from dim_entp_schedule_resource a;
GO
/****** Object:  View [dbo].[dim_entp_work_area_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_work_area_v]
AS select
dim_entp_work_area_sk,
dim_entp_work_area_nk,
work_area_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
work_area_name,
dim_entp_project_nk,
dim_entp_phase_nk,
dim_entp_work_unit_nk
from dim_entp_work_area;
GO
/****** Object:  View [dbo].[dim_entp_work_unit_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[dim_entp_work_unit_v]
AS select 
dim_entp_work_unit_sk,
dim_entp_work_unit_nk,
work_unit_code,
start_date,
end_date,
hash_code,
active,
created_date_time,
modified_date_time,
late_arrival_flag,
work_unit_name,
dim_entp_project_nk 
from dim_entp_work_unit;
GO
/****** Object:  View [dbo].[employee_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[employee_v]
AS select 
	dim_ent_employee_nk as employee_key,
	employee_number as person_no,
	sap_global_number as sap_global_no,
	sap_person_number as sap_local_no,
	jde_number as jde_no,
	peoplesoft_number as ps_no,
	employee_legacy_number as person_no_external,
	last_name as person_last_name,
	first_name as person_first_name,
	middle_name as person_middle_name,
	gender,
	business_unit,
	department,
	payroll_type,
	worker_type,
	worker_type2,
	operating_unit,
	ctry.country_name as country,
	ct.city_name as town,
	loc.mdr_location_name as location,
	employee_functional_manager as person_fn_manager,
	employee_matrix_manager as person_mx_manager,
	company_number as entity,
	null as cost_center,
	null as legacy_entity,
	null as legacy_cost_center,
	bf.business_function_name as business_function,
	job_group,
	job_family,
	job_discipline,
	job_position,
	standard_work_hours,
	case
	when employee_status in ('Active','ACTIVE') then 'Active'
	when employee_status in ('Inactive','INACTIVE') then 'Inactive'
	else 'Unknown'
	end as person_assignment_status,
	e.hash_code,
	e.start_date as effective_start_date,
	e.end_date as effectve_end_date,
	case
	when e.active = 1 then 'Y'
	else 'N'
	end as current_ind,
	e.created_date_time as load_date_time,
	--payroll_key,
	--source,
	e.late_arrival_flag,
	convert(varchar, original_hire_date, 23) as hire_date,
	payroll_name
from dim_ent_employee e
left outer join dim_ent_country_iso ctry
on e.dim_ent_country_iso_nk = ctry.dim_ent_country_iso_nk 
left outer join dim_ent_city_iso ct
on e.dim_ent_city_iso_nk = ct.dim_ent_city_iso_nk
left outer join dim_ent_mdr_location loc
on e.dim_ent_mdr_location_nk = loc.dim_ent_mdr_location_nk
left outer join dim_ent_business_function bf
on e.dim_ent_business_function_nk = bf.dim_ent_business_function_nk;
GO
/****** Object:  View [dbo].[ent_security_row_level_v]    Script Date: 4/20/2021 12:24:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ent_security_row_level_v]
AS select  d.sec_sa_rule_table_id,
	    b.table_name,
		b.sec_sa_table_type,
		c.column_name,
		d.rule_weightage,
		f.column_value
from	sec_sa a,
		sec_sa_table b,
		sec_sa_table_column c,
		sec_sa_rule_table d,
		sec_sa_rule_column e,
		sec_sa_rule_column_value f
where	a.sec_sa_id = b.sec_sa_id
and		b.sec_sa_table_id = c.sec_sa_table_id
and		d.sec_sa_table_id = b.sec_sa_table_id
and		e.sec_sa_rule_table_id = d.sec_sa_rule_table_id
and     e.sec_sa_table_column_id = c.sec_sa_table_column_id
and     f.sec_sa_rule_column_id = e.sec_sa_rule_column_id
and		a.active = 1
and     b.active = 1
and     c.active = 1
and     d.active = 1
and		e.active = 1
and     f.active = 1;
GO
