/****** Object:  StoredProcedure [dbo].[load_NCSA_Sitepro_6WkLAhead_validate]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_Sitepro_6WkLAhead_validate] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);


	declare @load_date_time datetime
	select @load_date_time = getdate()

	
	update [gpd].[NCSA_Sitepro_6WkLAhead]
	set load_date_time = @load_date_time

	-- validation
	--if @pContractNumber is null
	--begin
	--	set @errorMessage = 'Contract Number must be specified';
	--	select @exceptionRaiser = '1';
	--end;

--SET IDENTITY_INSERT [gpd].[NCSA_Sitepro_6WkLAhead] ON;

		insert into [gpd].[NCSA_Sitepro_6WkLAhead]
		([project_code],[function_code],[source_code],[sub_source_code],[data_class_code],[data_sub_class_code],[unit_of_measure],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[CWP_Code],[WK1],[WK2],[WK3],[WK4],[WK5],[WK6],[eff_date_wk1],[eff_date_wk2],[eff_date_wk3],[eff_date_wk4],[eff_date_wk5],[eff_date_wk6],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_unit_of_measure_sk],[dim_ent_unit_of_measure_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[process_date],[rk_failure_info],[load_date_time])
		select 
		[project_code],[function_code],[source_code],[sub_source_code],[data_class_code],[data_sub_class_code],[unit_of_measure],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[CWP_Code],[WK1],[WK2],[WK3],[WK4],[WK5],[WK6],[eff_date_wk1],[eff_date_wk2],[eff_date_wk3],[eff_date_wk4],[eff_date_wk5],[eff_date_wk6],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_unit_of_measure_sk],[dim_ent_unit_of_measure_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[process_date],[rk_failure_info],[load_date_time]
		from gpd.reprocess_NCSA_Sitepro_6WkLAhead
	
		delete from gpd.reprocess_NCSA_Sitepro_6WkLAhead

--SET IDENTITY_INSERT [gpd].[NCSA_Sitepro_6WkLAhead] OFF;
		
		---Taking data from reprocesss area

		----update project Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_6WkLAhead', 'dim_entp_project', 'dim_ent_project_sk', 'dim_ent_project_nk', 'dim_entp_project_sk', 
		--	'dim_entp_project_nk', 'project_code', 'project_number', 'eff_date_wk1', 'fact_ops', 1
		----update Function Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_6WkLAhead', 'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'dim_ent_function_sk', 
		--	'dim_ent_function_nk', 'function_code', 'function_code', 'eff_date_wk1', 'fact_ops', 1
		----Update Data class for Budget
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_6WkLAhead', 'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class_code', 'data_class_name', 'eff_date_wk1', 'fact_ops', 1
		----Update Data class for progress
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_6WkLAhead', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source_sk', 
		--	'dim_ent_source_nk', 'source_code', 'source_name', 'eff_date_wk1', 'fact_ops', 1
		----Update Unit of Measure - Hours
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_6WkLAhead', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_sk', 'dim_ent_unit_of_measure_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure', 'unit_of_measure_code', 
		--	'eff_date_wk1', 'fact_ops', 1

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_6WkLAhead','gpd.NCSA_Sitepro_6WkLAhead','ncsa_sitepro_6wklahead_id', 
       'dim_ent_project_sk','dim_ent_project_nk','dim_entp_project','dim_entp_project_sk','dim_entp_project_nk', 
       'project_code','project_number','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_6WkLAhead','gpd.NCSA_Sitepro_6WkLAhead','ncsa_sitepro_6wklahead_id', 
       'dim_ent_function_sk','dim_ent_function_nk','dim_ent_function','dim_ent_function_sk','dim_ent_function_nk', 
       'function_code','function_code','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_6WkLAhead','gpd.NCSA_Sitepro_6WkLAhead','ncsa_sitepro_6wklahead_id', 
       'dim_ent_data_class_sk','dim_ent_data_class_nk','dim_ent_data_class','dim_ent_data_class_sk','dim_ent_data_class_nk', 
       'data_class_code','data_class_name','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_6WkLAhead','gpd.NCSA_Sitepro_6WkLAhead','ncsa_sitepro_6wklahead_id', 
       'dim_ent_source_sk','dim_ent_source_nk','dim_ent_source','dim_ent_source_sk','dim_ent_source_nk', 
       'source_code','source_name','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_6WkLAhead','gpd.NCSA_Sitepro_6WkLAhead','ncsa_sitepro_6wklahead_id', 
       'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk','dim_ent_unit_of_measure','dim_ent_unit_of_measure_sk',
	   'dim_ent_unit_of_measure_nk', 'unit_of_measure','unit_of_measure_code','FL',null;



		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_ent_data_sub_class_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_nk = b.dim_ent_data_class_nk
		and a.data_sub_class_code = b.data_sub_class_name
		and b.active = 1
    

		--Update Sub Source

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_ent_sub_source_sk = b.dim_ent_sub_source_sk,
		dim_ent_sub_source_nk = b.dim_ent_sub_source_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_ent_sub_source b
		where a.dim_ent_source_nk = b.dim_ent_source_nk
		and a.sub_source_code = b.sub_source_name
		and b.active = 1

		--Update Phase

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_phase b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.phase_code = b.phase_code
		and b.active = 1

		--Update Work Unit

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_work_unit b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.work_unit_code = b.work_unit_code
		and b.active = 1

		--Update Work Area

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
		dim_entp_work_area_nk = b.dim_entp_work_area_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_work_area b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.work_area_code = b.work_area_code
		and b.active = 1

		--Update CWP

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_cwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.cwp_code = b.cwp_code
		and b.active = 1

		
		--Update Schedule Resource

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_schedule_resource b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.schedule_resource_code = b.schedule_resource_code
		and b.active = 1

		--Update Activity

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_activity_sk = b.dim_entp_activity_sk,
		dim_entp_activity_nk = b.dim_entp_activity_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_activity b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.activity_code = b.activity_code
		and b.active = 1

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set iwp_code = 'zzz'
		where isnull(IWP_Code,'') = ''

		
		--Update IWP

		update [gpd].[NCSA_Sitepro_6WkLAhead]
		set dim_entp_iwp_sk = b.dim_entp_iwp_sk,
		dim_entp_iwp_nk = b.dim_entp_iwp_nk
		from [gpd].[NCSA_Sitepro_6WkLAhead] a,dbo.dim_entp_iwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.iwp_code = b.iwp_code
		and b.active = 1

		
		select @unprocessed_count  = count(*)  from [gpd].[NCSA_Sitepro_6WkLAhead]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null 
		or dim_entp_iwp_nk is null 


		select @processed_count  = count(*)  from [gpd].[NCSA_Sitepro_6WkLAhead]
		where 
			dim_ent_function_sk is not null
		and  dim_ent_function_nk is not null
		and dim_ent_project_sk is not null
		and dim_ent_project_nk is not null
		and dim_ent_data_class_sk is not null
		and dim_ent_data_class_nk is not null
		and dim_ent_data_sub_class_sk is not null
		and dim_ent_data_sub_class_nk is not null
		and dim_ent_sub_source_sk is not null
		and	dim_ent_sub_source_nk is not null
		and dim_ent_source_sk is not null
		and dim_ent_source_nk is not null
		and dim_ent_unit_of_measure_nk is not null
		and dim_ent_unit_of_measure_sk is not null
		and dim_entp_phase_sk is not null
		and dim_entp_phase_nk is not null
		and dim_entp_work_unit_sk is not null
		and dim_entp_work_unit_nk is not null
		and dim_entp_work_area_sk is not null
		and dim_entp_work_area_nk is not null
		and dim_entp_cwp_sk is not null
		and dim_entp_cwp_nk is not null
		and dim_entp_schedule_resource_sk is not null
		and dim_entp_schedule_resource_nk is not null
		and dim_entp_activity_nk is not null
		and dim_entp_activity_sk is not null
		and dim_entp_iwp_sk is not null
		and dim_entp_iwp_nk is not null

		--select * from [dbo].[dim_entp_activity]

		--select   * from [Stage].[NCSA_Sitepro_Progress]
		--select  * from [dbo].[dim_entp_roc]
		--Moving error data to reprocessing area
		insert into gpd.reprocess_NCSA_Sitepro_6WkLAhead
		([project_code],[function_code],[source_code],[sub_source_code],[data_class_code],[data_sub_class_code],[unit_of_measure],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[CWP_Code],[WK1],[WK2],[WK3],[WK4],[WK5],[WK6],[eff_date_wk1],[eff_date_wk2],[eff_date_wk3],[eff_date_wk4],[eff_date_wk5],[eff_date_wk6],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_unit_of_measure_sk],[dim_ent_unit_of_measure_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[process_date],[rk_failure_info],[load_date_time])
		select 
		[project_code],[function_code],[source_code],[sub_source_code],[data_class_code],[data_sub_class_code],[unit_of_measure],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[CWP_Code],[WK1],[WK2],[WK3],[WK4],[WK5],[WK6],[eff_date_wk1],[eff_date_wk2],[eff_date_wk3],[eff_date_wk4],[eff_date_wk5],[eff_date_wk6],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_unit_of_measure_sk],[dim_ent_unit_of_measure_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[process_date],[rk_failure_info],[load_date_time]
		from [gpd].[NCSA_Sitepro_6WkLAhead]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null 
		or dim_entp_iwp_nk is null 



		update gpd.reprocess_NCSA_Sitepro_6WkLAhead
		 set rk_failure_info = 
		 case when dim_ent_function_nk is null then 'Missing Function - ' + isnull(function_code,'') + ',' else '' end +
		 case when dim_ent_project_nk is null then 'Missing Project Number - ' + isnull(project_code,'') + ',' else '' end +
		 case when dim_ent_data_class_nk is null then 'Missing Data Class - ' + isnull(data_class_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_nk is null then 'Missing Sub Class - ' + isnull(data_sub_class_code,'') + ',' else '' end +
		 case when dim_ent_sub_source_nk is null then 'Missing Sub Source - ' + isnull(sub_source_code,'') + ',' else '' end +
		 case when dim_ent_source_nk is null then 'Missing Source - ' + isnull(source_code,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_sk is null then 'Missing UOM -  ' + isnull(unit_of_measure,'') + ',' else '' end +
		 case when dim_entp_phase_nk is null then 'Missing Phase - ' + isnull(phase_code,'') + ',' else '' end +
		 case when dim_entp_work_unit_nk is null then 'Missing Work Unit - ' +  + isnull(work_unit_code,'') + ',' else '' end +
		 case when dim_entp_work_area_nk is null then 'Missing Work Area - ' +  + isnull(work_area_code,'') + ',' else '' end +
		 case when dim_entp_cwp_nk is null then 'Missing CWP Code - ' +  + isnull(CWP_Code,'') + ',' else '' end +  
		 case when dim_entp_schedule_resource_nk is null then 'Missing Schedule Resource - ' +  + isnull(schedule_resource_code,'') + ',' else '' end +
		 case when dim_entp_activity_nk is null then 'Missing Activity Code - ' +  + isnull(activity_code,'') + ',' else '' end +
		 case when dim_entp_iwp_nk is null then 'Missing IWP Code - ' +  + isnull(IWP_code,'') + ',' else '' end



		delete from [gpd].[NCSA_Sitepro_6WkLAhead]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null 
		or dim_entp_iwp_nk is null


	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Success', error_message()
	end;
end catch;
end;		
GO
