/****** Object:  StoredProcedure [dbo].[load_NCSA_dim_sitepro_Employee]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_dim_sitepro_Employee] AS

begin
begin try
declare @errorMessage varchar(5000)



update [gpd].[NCSA_Employee]
set Employee_id = b.employee_number ,
dim_ent_country_iso_nk = b.dim_ent_country_iso_nk,
dim_ent_city_iso_nk = b.dim_ent_city_iso_nk,
dim_ent_mdr_location_nk = b.dim_ent_mdr_location_nk,
dim_ent_entity_nk = b.dim_ent_entity_nk,
dim_ent_cost_center_nk = b.dim_ent_cost_center_nk,
dim_ent_business_function_nk = b.dim_ent_business_function_nk,
dim_ent_payroll_nk = b.dim_ent_payroll_nk,
dim_ent_source_nk = b.dim_ent_source_nk,
dim_ent_sub_source_nk = b.dim_ent_sub_source_nk,
employee_legacy_number = b.employee_legacy_number,
sap_global_number = b.sap_global_number,
sap_person_number = b.sap_person_number,
jde_number = b.jde_number,
peoplesoft_number = b.peoplesoft_number,
last_name = b.last_name,
middle_name = b.middle_name,
first_name = b.first_name,
gender = b.gender,
business_unit = b.business_unit,
department = b.department,
payroll_type = b.payroll_type,
worker_type = b.worker_type,
worker_type2 = b.worker_type2,
operating_unit = b.operating_unit,
employee_functional_manager = b.employee_functional_manager,
employee_matrix_manager = b.employee_matrix_manager,
job_group = b.job_group,
job_family = b.job_family,
job_discipline = b.job_discipline,
job_position = b.job_position,
standard_work_hours = b.standard_work_hours,
employee_status = b.employee_status,
area = b.area,
assignment_location = b.assignment_location,
company_number = b.company_number,
person_type = b.person_type,
original_hire_date = b.original_hire_date,
payroll_name = b.payroll_name,
employee_type = b.employee_type
from [gpd].[NCSA_Employee] a,
    [dbo].[dim_ent_employee] b
where b.active = 1
and a.TMID = b.employee_legacy_number


delete from [gpd].[NCSA_Employee]
where isnull(Employee_id,'') = ''

execute [dbo].[generic_load_dim_v2] 'dim_ent_NCSA_Employee','Y','N','Y'


declare @error_message varchar(1000)
	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO
