/****** Object:  StoredProcedure [dbo].[usp_idocs_work_package_update]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_idocs_work_package_update] AS 
update  [gpd].[iDocs_P24A_ConsDocMaster] set WORK_PACKAGE = SUBSTRING(DOCUMENT_NUMBER,13,8)
where title = 'PIPING ISOMETRIC SHA FILE'
GO
