/****** Object:  StoredProcedure [dbo].[NCSA_fact_sitepro_budget_fact_load]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NCSA_fact_sitepro_budget_fact_load] AS

begin
begin try


declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

	-- validation
	--if @pContractNumber is null
	--begin
	--	set @errorMessage = 'Contract Number must be specified';
	--	select @exceptionRaiser = '1';
	--end;



		--Inserting Good records to Fact Table
		insert into [dbo].[fact_ops]
		(dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_qty_sk,
		       dim_ent_data_sub_class_qty_nk,
			   dim_ent_data_class_hours_sk,
		       dim_ent_data_class_hours_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_qty_sk,
		       dim_ent_unit_of_measure_qty_nk,
			   convert(datetime,left(Budget_Date,19)),
			   convert(float,budget_qty),
			   load_date_time
			   from [gpd].[NCSA_Sitepro_budget]
		
		insert into [dbo].[fact_ops]
		(dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_hours_sk,
		       dim_ent_data_sub_class_hours_nk,
			   dim_ent_data_class_hours_sk,
		       dim_ent_data_class_hours_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(Budget_Date,19)),
			   convert(float,budget_hours),
			   load_date_time
			   from [gpd].[NCSA_Sitepro_budget]


		insert into [dbo].[fact_ops]
		(dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_plan_sk,
		       dim_ent_data_sub_class_plan_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(Budget_Date,19)),
			   convert(float,PlannedHours),
			   load_date_time
			   from [gpd].[NCSA_Sitepro_budget]


	truncate table [gpd].[NCSA_Sitepro_budget]

	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO
