/****** Object:  StoredProcedure [dbo].[load_NCSA_Sitepro_6WkLAhead_fact_load]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_Sitepro_6WkLAhead_fact_load] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);


	declare @load_date_time datetime
	select @load_date_time = getdate()

	

		--Inserting Good records to Fact Table
		--Week1
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk1,
			   WK1,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]
		
		--Week2
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk2,
			   WK2,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]

			   		--Week3
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk3,
			   WK3,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]

			   		--Week4
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk4,
			   WK4,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]

			   		--Week5
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk5,
			   WK5,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]

			   		--Week6
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   (select dim_entp_pim_sk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_sk,
		       (select dim_entp_pim_nk  from  [dbo].[dim_entp_pim]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [pim_code] = 'ZZZ') dim_entp_pim_nk,
			   (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_sk,
			   (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
				where [dim_entp_project_nk] = dim_ent_project_nk
				and [active] = 1
				and [roc_code] = 'ZZZ') dim_entp_roc_nk,
			   dim_ent_data_sub_class_sk,
		       dim_ent_data_sub_class_nk,
			   dim_ent_data_class_sk,
		       dim_ent_data_class_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_sk,
		       dim_ent_unit_of_measure_nk,
			   eff_date_wk6,
			   WK6,
			   load_date_time
			   from [gpd].[NCSA_Sitepro_6WkLAhead]


	truncate table [gpd].[NCSA_Sitepro_6WkLAhead]

	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Success', error_message()
	end;
end catch;
end;		
GO
