/****** Object:  StoredProcedure [dbo].[usp_project_number_idocs_ms_update]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_project_number_idocs_ms_update] AS 
UPDATE [gpd].[iDocs_P24B_ConsMSMaster] 
SET PROJECT_NUMBER = '99'+PROJECT_NUMBER
GO
