/****** Object:  StoredProcedure [dbo].[NCSA_fact_sitepro_budget_validate]    Script Date: 8/15/2021 11:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NCSA_fact_sitepro_budget_validate] AS

begin
begin try


declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

	-- validation
	--if @pContractNumber is null
	--begin
	--	set @errorMessage = 'Contract Number must be specified';
	--	select @exceptionRaiser = '1';
	--end;

		declare @load_date_time datetime
		select @load_date_time = getdate()

		
		update gpd.NCSA_Sitepro_budget
		set load_date_time = @load_date_time
		


		--update project Key
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_project_sk = b.dim_entp_project_sk,
		dim_ent_project_nk = b.dim_entp_project_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_project b
		where a.project_id = b.project_number
		and b.active = 1


		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_entp_project', 'dim_ent_project_sk', 'dim_ent_project_nk', 'dim_entp_project_sk', 
		--	'dim_entp_project_nk', 'project_id', 'project_number', 'Budget_date', 'fact_ops', 1


		----Update Pim
	truncate table [gpd].[NSCA_pim]


	insert into [gpd].[NSCA_pim]
	(	project_number ,
		[PMID],
		[PMID_Description],
		[contract],
		[cost_code],
		[Cost_Code_Description],
		[costing_coa],
		[Drawing_no],
		[Tag_no],
		[spool],
		[line],
		[spec],
		[sub_system],
		[piece_mark],
		[cost_type],
		[number_of_pieces],
		[system],
		[text5],
		[level6],
		[planned_status],
		[progress_status],
		[IWP_Code],
		dim_entp_project_nk)
		select distinct project_id,PIM_code,Description,contract,CostCode,costcode_desription,costingcoa,DrawingNo,Tagno,spool,line,spec,system,
		piecemark,costtype,numberofpieces,system,text5,level6,plannedstatus,progressstatus,iwp_code,dim_ent_project_nk
		from [gpd].[NCSA_Sitepro_budget]

		execute [dbo].[generic_load_dim_v2 ] 'dim_entp_pim','Y','N','Y' 
			   
		--Update Phase 

		update gpd.reprocess_NCSA_Sitepro_budget
		set phase_code = p.phase_code
		from gpd.reprocess_NCSA_Sitepro_budget a,
		[dbo].[dim_entp_work_area] wa,
		[dbo].[dim_entp_phase] p
		where a.workarea_code = wa.work_area_code
		and wa.dim_entp_project_nk = a.dim_ent_project_nk
		and wa.dim_entp_phase_nk = p.dim_entp_phase_nk

		
	insert into [gpd].[NCSA_Sitepro_budget]
	(	Project_id ,
	function_code ,
	source_name ,
	sub_source_name ,
	class_name_hours ,
	class_name_quantity , 
	sub_class_name_qty ,
	sub_class_name_hours ,
	sub_class_plan ,   
	unit_of_measure_qty ,
	unit_of_measure_hours ,
	pim_code ,
	roc_code ,
	Phase_Code ,
	WorkArea_Code ,
	WorkUnit_Code ,
	ScheduleResource_Code ,
	cwp_code ,
	Activity ,
	iwp_Code ,
	Budget_date ,
	budget_qty ,
	budget_hours ,
	PlannedHours ,
	dim_ent_function_sk ,
	dim_ent_function_nk ,
	dim_ent_project_sk ,
	dim_ent_project_nk ,
	dim_ent_data_class_hours_sk ,
	dim_ent_data_class_hours_nk ,
	dim_ent_data_class_quantity_sk , 
	dim_ent_data_class_quantity_nk , 
	dim_ent_data_sub_class_hours_sk ,
	dim_ent_data_sub_class_hours_nk ,
	dim_ent_data_sub_class_qty_sk ,
	dim_ent_data_sub_class_qty_nk ,
	dim_ent_data_sub_class_plan_sk , 
	dim_ent_data_sub_class_plan_nk ,  
	dim_ent_sub_source_sk ,
	dim_ent_sub_source_nk ,
	dim_ent_source_sk ,
	dim_ent_source_nk ,
	dim_ent_unit_of_measure_hours_nk ,
	dim_ent_unit_of_measure_hours_sk ,
	dim_ent_unit_of_measure_qty_nk ,
	dim_ent_unit_of_measure_qty_sk ,
	dim_entp_phase_sk ,
	dim_entp_phase_nk ,
	dim_entp_work_unit_sk ,
	dim_entp_work_unit_nk ,
	dim_entp_work_area_sk ,
	dim_entp_work_area_nk ,
	dim_entp_cwp_sk ,
	dim_entp_cwp_nk ,
	dim_entp_schedule_resource_sk ,
	dim_entp_schedule_resource_nk ,
	dim_entp_activity_nk ,
	dim_entp_activity_sk ,
	dim_entp_iwp_sk ,
	dim_entp_iwp_nk ,
	dim_entp_pim_nk ,
	dim_entp_pim_sk ,
	dim_entp_roc_sk ,
	dim_entp_roc_nk ,
	rk_failure_info ,
	contract ,
	costcode ,
	costtype ,
	costingcoa ,
	Description , 
	DrawingNo , 
	TagNo , 
	Spool , 
	Line , 
	spec ,
	System ,
	PieceMark ,
	NumberOfPieces ,
	Subsystem ,
	text5 ,
	Level6 ,
	PlannedStatus ,
	ProgressStatus ,
	dim_ent_jde_coa_nk ,
	dim_ent_jde_coa_sk ,
	coa_value ,
	load_date_time,
	ROC_Step,
	costcode_desription)
	select 	Project_id ,
	function_code ,
	source_name ,
	sub_source_name ,
	class_name_hours ,
	class_name_quantity , 
	sub_class_name_qty ,
	sub_class_name_hours ,
	sub_class_plan ,   
	unit_of_measure_qty ,
	unit_of_measure_hours ,
	pim_code ,
	roc_code ,
	Phase_Code ,
	WorkArea_Code ,
	WorkUnit_Code ,
	ScheduleResource_Code ,
	cwp_code ,
	Activity ,
	iwp_Code ,
	Budget_date ,
	budget_qty ,
	budget_hours ,
	PlannedHours ,
	dim_ent_function_sk ,
	dim_ent_function_nk ,
	dim_ent_project_sk ,
	dim_ent_project_nk ,
	dim_ent_data_class_hours_sk ,
	dim_ent_data_class_hours_nk ,
	dim_ent_data_class_quantity_sk , 
	dim_ent_data_class_quantity_nk , 
	dim_ent_data_sub_class_hours_sk ,
	dim_ent_data_sub_class_hours_nk ,
	dim_ent_data_sub_class_qty_sk ,
	dim_ent_data_sub_class_qty_nk ,
	dim_ent_data_sub_class_plan_sk , 
	dim_ent_data_sub_class_plan_nk ,  
	dim_ent_sub_source_sk ,
	dim_ent_sub_source_nk ,
	dim_ent_source_sk ,
	dim_ent_source_nk ,
	dim_ent_unit_of_measure_hours_nk ,
	dim_ent_unit_of_measure_hours_sk ,
	dim_ent_unit_of_measure_qty_nk ,
	dim_ent_unit_of_measure_qty_sk ,
	dim_entp_phase_sk ,
	dim_entp_phase_nk ,
	dim_entp_work_unit_sk ,
	dim_entp_work_unit_nk ,
	dim_entp_work_area_sk ,
	dim_entp_work_area_nk ,
	dim_entp_cwp_sk ,
	dim_entp_cwp_nk ,
	dim_entp_schedule_resource_sk ,
	dim_entp_schedule_resource_nk ,
	dim_entp_activity_nk ,
	dim_entp_activity_sk ,
	dim_entp_iwp_sk ,
	dim_entp_iwp_nk ,
	dim_entp_pim_nk ,
	dim_entp_pim_sk ,
	dim_entp_roc_sk ,
	dim_entp_roc_nk ,
	rk_failure_info ,
	contract ,
	costcode ,
	costtype ,
	costingcoa ,
	Description , 
	DrawingNo , 
	TagNo , 
	Spool , 
	Line , 
	spec ,
	System ,
	PieceMark ,
	NumberOfPieces ,
	Subsystem ,
	text5 ,
	Level6 ,
	PlannedStatus ,
	ProgressStatus ,
	dim_ent_jde_coa_nk ,
	dim_ent_jde_coa_sk ,
	coa_value ,
	load_date_time ,
	ROC_Step,
	costcode_desription
 from gpd.reprocess_NCSA_Sitepro_budget

		delete from gpd.reprocess_NCSA_Sitepro_budget
		  
		---Taking data from reprocesss area

		
		--update project Key
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_project_sk = b.dim_entp_project_sk,
		dim_ent_project_nk = b.dim_entp_project_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_project b
		where a.project_id = b.project_number
		and b.active = 1

		--update Function Key
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_function_sk = b.dim_ent_function_sk,
		dim_ent_function_nk = b.dim_ent_function_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_function b
		where a.function_code = b.function_code
		and b.active = 1

		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'dim_ent_function_sk', 
		--	'dim_ent_function_nk', 'function_code', 'function_code', 'Budget_date', 'fact_ops', 1
		--Update Data class for Plan
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_data_class_quantity_sk = b.dim_ent_data_class_sk,
		dim_ent_data_class_quantity_nk = b.dim_ent_data_class_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_data_class b
		where a.class_name_quantity = b.data_class_name
		and b.active = 1


		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_data_class', 'dim_ent_data_class_plan_sk', 'dim_ent_data_class_plan_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'class_name_plan', 'data_class_name', 'Budget_date', 'fact_ops', 1
		--Update Data class for Budget
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_data_class_hours_sk = b.dim_ent_data_class_sk,
		dim_ent_data_class_hours_nk = b.dim_ent_data_class_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_data_class b
		where a.class_name_hours = b.data_class_name
		and b.active = 1


		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'class_name', 'data_class_name', 'Budget_date', 'fact_ops', 1
		--Update Source
		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_source_sk = b.dim_ent_source_sk,
		dim_ent_source_nk = b.dim_ent_source_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_source b
		where a.source_name = b.source_name
		and b.active = 1


		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source_sk', 
		--	'dim_ent_source_nk', 'source_name', 'source_name', 'Budget_date', 'fact_ops', 1
		--Update Unit of Measure - Hours

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_unit_of_measure_hours_sk = b.dim_ent_unit_of_measure_sk,
		dim_ent_unit_of_measure_hours_nk = b.dim_ent_unit_of_measure_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_unit_of_measure b
		where a.unit_of_measure_hours = b.unit_of_measure_code
		and b.active = 1

		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_hours_sk', 'dim_ent_unit_of_measure_hours_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure_hours', 'unit_of_measure_code', 
		--	'Budget_date', 'fact_ops', 1
		--Update Unit of Measure - Qty

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_unit_of_measure_qty_sk = b.dim_ent_unit_of_measure_sk,
		dim_ent_unit_of_measure_qty_nk = b.dim_ent_unit_of_measure_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_unit_of_measure b
		where a.unit_of_measure_qty = b.unit_of_measure_code
		and b.active = 1


		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'stage.NCSA_Sitepro_budget', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_qty_sk', 'dim_ent_unit_of_measure_qty_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure_qty', 'unit_of_measure_code', 
		--	'Budget_date', 'fact_ops', 1

        --Update Data Sub Class - Budget Hours

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_data_sub_class_hours_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_hours_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_hours_nk = b.dim_ent_data_class_nk
		and a.sub_class_name_hours = b.data_sub_class_name
		and b.active = 1


        --Update Data Sub Class - Budget QTy

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_data_sub_class_qty_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_qty_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_quantity_nk = b.dim_ent_data_class_nk
		and a.sub_class_name_qty = b.data_sub_class_name
		and b.active = 1

        --Update Data Sub Class - Plan

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_data_sub_class_plan_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_plan_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_hours_nk = b.dim_ent_data_class_nk
		and a.sub_class_plan = b.data_sub_class_name
		and b.active = 1

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_sub_source_sk = b.dim_ent_sub_source_sk,
		dim_ent_sub_source_nk = b.dim_ent_sub_source_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_sub_source b
		where a.dim_ent_source_nk = b.dim_ent_source_nk
		and a.sub_source_name = b.sub_source_name
		and b.active = 1

		--update work area code from activity if it is blank or zero
		update [gpd].[NCSA_Sitepro_budget]
		set WorkArea_Code = c.work_area_code
		from [gpd].[NCSA_Sitepro_budget] a,
		  [dbo].[dim_entp_activity] b,
		  [dbo].[dim_entp_work_area] c
        where (WorkArea_Code = '0' or isnull(WorkArea_Code,'') = '')
		and a.Activity = b.activity_code
		and b.dim_entp_work_area_nk = c.dim_entp_work_area_nk
		and b.active = 1
		and c.active = 1

		update [gpd].[NCSA_Sitepro_budget]
		set WorkUnit_Code = c.work_unit_code
		from [gpd].[NCSA_Sitepro_budget] a,
		  [dbo].[dim_entp_work_area] b,
		  [dbo].[dim_entp_work_unit] c
        where (WorkUnit_Code = '0' or isnull(WorkUnit_Code,'') = '')
		and a.WorkArea_Code = b.work_area_code
		and b.dim_entp_work_unit_nk = c.dim_entp_work_unit_nk
		and b.active = 1
		and c.active = 1


		--Update Phase

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_phase b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.phase_code = b.phase_code
		and b.active = 1

		--Update Work Unit

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_work_unit b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.workunit_code = b.work_unit_code
		and b.active = 1

		--Update Work Area

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
		dim_entp_work_area_nk = b.dim_entp_work_area_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_work_area b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.workarea_code = b.work_area_code
		and b.active = 1

		--Update CWP

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_cwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.cwp_code = b.cwp_code
		and b.active = 1

		
		--Update Schedule Resource

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_schedule_resource b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.scheduleresource_code = b.schedule_resource_code
		and b.active = 1

		--Update Activity

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_activity_sk = b.dim_entp_activity_sk,
		dim_entp_activity_nk = b.dim_entp_activity_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_activity b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.activity = b.activity_code
		and b.active = 1

		--Update IWP

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_iwp_sk = b.dim_entp_iwp_sk,
		dim_entp_iwp_nk = b.dim_entp_iwp_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_iwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.iwp_code = b.iwp_code
		and b.active = 1

		--Update PIM

		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_pim_sk = b.dim_entp_pim_sk,
		dim_entp_pim_nk = b.dim_entp_pim_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_pim b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.pim_code = b.pim_code
		and b.active = 1

		--Update ROC
		----Johnson
		update [gpd].[NCSA_Sitepro_budget]
		set dim_entp_roc_sk = b.dim_entp_roc_sk,
		dim_entp_roc_nk = b.dim_entp_roc_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_entp_roc b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.ROC_CODE = b.roc_code
		and b.rocs_step = a.ROC_Step
		and b.active = 1

		--Update Jde Coa
		update gpd.NCSA_Sitepro_Budget set coa_value = 'JDE.' + '00' + left(contract,3) + '.' + ltrim(rtrim(contract)) + '.' + ltrim(rtrim(costtype)) + '.' + ltrim(rtrim(costingcoa))
		--Update JDE Key

		update [gpd].[NCSA_Sitepro_budget]
		set dim_ent_jde_coa_sk = b.dim_ent_jde_coa_sk,
		dim_ent_jde_coa_nk = b.dim_ent_jde_coa_nk
		from [gpd].[NCSA_Sitepro_budget] a,dbo.dim_ent_jde_coa b
		where a.project_id = b.project
		and a.coa_value = b.coa_value
		and b.active = 1
		

		select @unprocessed_count  = count(*)  from [gpd].[NCSA_Sitepro_budget]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_hours_sk is null
		or dim_ent_data_class_hours_nk is null
		or dim_ent_data_sub_class_qty_sk is null
		or dim_ent_data_sub_class_qty_nk is null
		or dim_ent_data_sub_class_hours_sk is null
		or dim_ent_data_sub_class_hours_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_qty_nk is null
		or dim_ent_unit_of_measure_qty_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_sub_class_plan_sk is null
		or dim_ent_data_sub_class_plan_nk is null

		select @processed_count  = count(*)  from [gpd].[NCSA_Sitepro_budget]
		where 
			dim_ent_function_sk is not null
		and dim_ent_function_nk is not null
		and dim_ent_project_sk is not null
		and dim_ent_project_nk is not null
		and dim_ent_data_class_hours_sk is not null
		and dim_ent_data_class_hours_nk is not null
		and dim_ent_data_sub_class_qty_sk is not null
		and dim_ent_data_sub_class_qty_nk is not null
		and dim_ent_data_sub_class_hours_sk is not null
		and dim_ent_data_sub_class_hours_nk is not null
		and dim_ent_sub_source_sk is not null
		and dim_ent_sub_source_nk is not null
		and dim_ent_source_sk is not null
		and dim_ent_source_nk is not null
		and dim_ent_unit_of_measure_qty_nk is not null
		and dim_ent_unit_of_measure_qty_sk is not null
		and dim_ent_unit_of_measure_hours_nk is not null
		and dim_ent_unit_of_measure_hours_sk is not null
		and dim_entp_phase_sk is not null
		and dim_entp_phase_nk is not null
		and dim_entp_work_unit_sk is not null
		and dim_entp_work_unit_nk is not null
		and dim_entp_work_area_sk is not null
		and dim_entp_work_area_nk is not null
		and dim_entp_cwp_sk is not null
		and dim_entp_cwp_nk is not null
		and dim_entp_schedule_resource_sk is not null
		and dim_entp_schedule_resource_nk is not null
		and dim_entp_activity_nk is not null
		and dim_entp_activity_sk is not null
		and dim_entp_iwp_sk is not null
		and dim_entp_iwp_nk is not null
		and dim_entp_pim_nk is not null
		and dim_entp_pim_sk is not null
		and dim_entp_roc_sk is not null
		and dim_entp_roc_nk is not null
		and dim_ent_jde_coa_sk is not null
		and dim_ent_jde_coa_nk is not null
		and dim_ent_data_class_quantity_sk is not null
		and dim_ent_data_class_quantity_nk is not null
		and dim_ent_data_sub_class_plan_sk is not null
		and dim_ent_data_sub_class_plan_nk is not null


		--select * from [dbo].[dim_entp_activity]

		--select   * from [Stage].[NCSA_Sitepro_Progress]
		--select  * from [dbo].[dim_entp_roc]
		--Moving error data to reprocessing area
		insert into gpd.reprocess_NCSA_Sitepro_budget
		(	Project_id ,
	function_code ,
	source_name ,
	sub_source_name ,
	class_name_hours ,
	class_name_quantity , 
	sub_class_name_qty ,
	sub_class_name_hours ,
	sub_class_plan ,   
	unit_of_measure_qty ,
	unit_of_measure_hours ,
	pim_code ,
	roc_code ,
	Phase_Code ,
	WorkArea_Code ,
	WorkUnit_Code ,
	ScheduleResource_Code ,
	cwp_code ,
	Activity ,
	iwp_Code ,
	Budget_date ,
	budget_qty ,
	budget_hours ,
	PlannedHours ,
	dim_ent_function_sk ,
	dim_ent_function_nk ,
	dim_ent_project_sk ,
	dim_ent_project_nk ,
	dim_ent_data_class_hours_sk ,
	dim_ent_data_class_hours_nk ,
	dim_ent_data_class_quantity_sk , 
	dim_ent_data_class_quantity_nk , 
	dim_ent_data_sub_class_hours_sk ,
	dim_ent_data_sub_class_hours_nk ,
	dim_ent_data_sub_class_qty_sk ,
	dim_ent_data_sub_class_qty_nk ,
	dim_ent_data_sub_class_plan_sk , 
	dim_ent_data_sub_class_plan_nk ,  
	dim_ent_sub_source_sk ,
	dim_ent_sub_source_nk ,
	dim_ent_source_sk ,
	dim_ent_source_nk ,
	dim_ent_unit_of_measure_hours_nk ,
	dim_ent_unit_of_measure_hours_sk ,
	dim_ent_unit_of_measure_qty_nk ,
	dim_ent_unit_of_measure_qty_sk ,
	dim_entp_phase_sk ,
	dim_entp_phase_nk ,
	dim_entp_work_unit_sk ,
	dim_entp_work_unit_nk ,
	dim_entp_work_area_sk ,
	dim_entp_work_area_nk ,
	dim_entp_cwp_sk ,
	dim_entp_cwp_nk ,
	dim_entp_schedule_resource_sk ,
	dim_entp_schedule_resource_nk ,
	dim_entp_activity_nk ,
	dim_entp_activity_sk ,
	dim_entp_iwp_sk ,
	dim_entp_iwp_nk ,
	dim_entp_pim_nk ,
	dim_entp_pim_sk ,
	dim_entp_roc_sk ,
	dim_entp_roc_nk ,
	rk_failure_info ,
	contract ,
	costcode ,
	costtype ,
	costingcoa ,
	Description , 
	DrawingNo , 
	TagNo , 
	Spool , 
	Line , 
	spec ,
	System ,
	PieceMark ,
	NumberOfPieces ,
	Subsystem ,
	text5 ,
	Level6 ,
	PlannedStatus ,
	ProgressStatus ,
	dim_ent_jde_coa_nk ,
	dim_ent_jde_coa_sk ,
	coa_value ,
	load_date_time,
	ROC_Step,
	costcode_desription)
		select 	Project_id ,
	function_code ,
	source_name ,
	sub_source_name ,
	class_name_hours ,
	class_name_quantity , 
	sub_class_name_qty ,
	sub_class_name_hours ,
	sub_class_plan ,   
	unit_of_measure_qty ,
	unit_of_measure_hours ,
	pim_code ,
	roc_code ,
	Phase_Code ,
	WorkArea_Code ,
	WorkUnit_Code ,
	ScheduleResource_Code ,
	cwp_code ,
	Activity ,
	iwp_Code ,
	Budget_date ,
	budget_qty ,
	budget_hours ,
	PlannedHours ,
	dim_ent_function_sk ,
	dim_ent_function_nk ,
	dim_ent_project_sk ,
	dim_ent_project_nk ,
	dim_ent_data_class_hours_sk ,
	dim_ent_data_class_hours_nk ,
	dim_ent_data_class_quantity_sk , 
	dim_ent_data_class_quantity_nk , 
	dim_ent_data_sub_class_hours_sk ,
	dim_ent_data_sub_class_hours_nk ,
	dim_ent_data_sub_class_qty_sk ,
	dim_ent_data_sub_class_qty_nk ,
	dim_ent_data_sub_class_plan_sk , 
	dim_ent_data_sub_class_plan_nk ,  
	dim_ent_sub_source_sk ,
	dim_ent_sub_source_nk ,
	dim_ent_source_sk ,
	dim_ent_source_nk ,
	dim_ent_unit_of_measure_hours_nk ,
	dim_ent_unit_of_measure_hours_sk ,
	dim_ent_unit_of_measure_qty_nk ,
	dim_ent_unit_of_measure_qty_sk ,
	dim_entp_phase_sk ,
	dim_entp_phase_nk ,
	dim_entp_work_unit_sk ,
	dim_entp_work_unit_nk ,
	dim_entp_work_area_sk ,
	dim_entp_work_area_nk ,
	dim_entp_cwp_sk ,
	dim_entp_cwp_nk ,
	dim_entp_schedule_resource_sk ,
	dim_entp_schedule_resource_nk ,
	dim_entp_activity_nk ,
	dim_entp_activity_sk ,
	dim_entp_iwp_sk ,
	dim_entp_iwp_nk ,
	dim_entp_pim_nk ,
	dim_entp_pim_sk ,
	dim_entp_roc_sk ,
	dim_entp_roc_nk ,
	rk_failure_info ,
	contract ,
	costcode ,
	costtype ,
	costingcoa ,
	Description , 
	DrawingNo , 
	TagNo , 
	Spool , 
	Line , 
	spec ,
	System ,
	PieceMark ,
	NumberOfPieces ,
	Subsystem ,
	text5 ,
	Level6 ,
	PlannedStatus ,
	ProgressStatus ,
	dim_ent_jde_coa_nk ,
	dim_ent_jde_coa_sk ,
	coa_value ,
	load_date_time ,
	ROC_Step,
	costcode_desription
 from [gpd].[NCSA_Sitepro_budget]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_hours_sk is null
		or dim_ent_data_class_hours_nk is null
		or dim_ent_data_sub_class_qty_sk is null
		or dim_ent_data_sub_class_qty_nk is null
		or dim_ent_data_sub_class_hours_sk is null
		or dim_ent_data_sub_class_hours_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_qty_nk is null
		or dim_ent_unit_of_measure_qty_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_sub_class_plan_sk is null
		or dim_ent_data_sub_class_plan_nk is null


		update [gpd].[reprocess_NCSA_Sitepro_budget]
		 set rk_failure_info = 
		 case when dim_ent_function_nk is null then 'Missing Function - ' + isnull(function_code,'') + ',' else '' end +
		 case when dim_ent_project_nk is null then 'Missing Project Number - ' + isnull(project_id,'') + ',' else '' end +
		 case when dim_ent_data_class_hours_nk is null then 'Missing Data Class - Hours' + isnull(class_name_hours,'') + ',' else '' end +
		 case when dim_ent_data_class_quantity_nk is null then 'Missing Data Class - Quantity' + isnull(class_name_quantity,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_qty_nk is null then 'Missing Data Sub Class - Quantity - ' + isnull(sub_class_name_qty,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_hours_nk is null then 'Missing Data Sub Class - Hours - ' + isnull(sub_class_name_hours,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_plan_nk is null then 'Missing Data Sub Class - Plan - ' + isnull(sub_class_plan,'') + ',' else '' end +
		 case when dim_ent_sub_source_nk is null then 'Missing Sub Source - ' + isnull(sub_source_name,'') + ',' else '' end +
		 case when dim_ent_source_nk is null then 'Missing Source - ' + isnull(source_name,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_qty_sk is null then 'Missing UOM - Quantity - ' + isnull(unit_of_measure_qty,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_hours_nk is null then 'Missing UOM - Hours - ' + isnull(unit_of_measure_hours,'') + ',' else '' end +
		 case when dim_entp_phase_nk is null then 'Missing Phase - ' + isnull(phase_code,'') + ',' else '' end +
		 case when dim_entp_work_unit_nk is null then 'Missing Work Unit - ' +  + isnull(workunit_code,'') + ',' else '' end +
		 case when dim_entp_work_area_nk is null then 'Missing Work Area - ' +  + isnull(workarea_code,'') + ',' else '' end +
		 case when dim_entp_cwp_nk is null then 'Missing CWP Code - ' +  + isnull(CWP_Code,'') + ',' else '' end +  
		 case when dim_entp_schedule_resource_nk is null then 'Missing Schedule Resource - ' +  + isnull(scheduleresource_code,'') + ',' else '' end +
		 case when dim_entp_activity_nk is null then 'Missing Activity Code - ' +  + isnull(activity,'') + ',' else '' end +
		 case when dim_entp_iwp_nk is null then 'Missing IWP Code - ' +  + isnull(IWP_code,'') + ',' else '' end +
		 case when dim_entp_pim_sk is null then 'Missing PMID - ' +  + isnull(pim_code,'') + ',' else '' end +
		 case when dim_entp_roc_nk is null then 'Missing ROC - ' +  + isnull(ROC_code,'') + ',' else '' end +
		 case when dim_ent_jde_coa_nk is null then 'Missing JDE COA - ' +  + isnull(coa_value,'') + ',' else '' end





		delete from [gpd].[NCSA_Sitepro_budget]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_hours_sk is null
		or dim_ent_data_class_hours_nk is null
		or dim_ent_data_sub_class_qty_sk is null
		or dim_ent_data_sub_class_qty_nk is null
		or dim_ent_data_sub_class_hours_sk is null
		or dim_ent_data_sub_class_hours_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_qty_nk is null
		or dim_ent_unit_of_measure_qty_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_sub_class_plan_sk is null
		or dim_ent_data_sub_class_plan_nk is null

		

	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO
