/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_MCPM_ProgressItem_fact_load]    Script Date: 7/12/2021 11:28:48 PM ******/
DROP PROCEDURE [dbo].[load_NCSA_fact_MCPM_ProgressItem_fact_load]
GO

/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_MCPM_ProgressItem_fact_load]    Script Date: 7/12/2021 11:28:48 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[load_NCSA_fact_MCPM_ProgressItem_fact_load] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int
declare @errorMessage varchar(4000)

/*Change Log Date - Developer : Description
07/01/2021 - Satish: Adding FACT load for Earned Quantity and Earned Hours
07/12/2021 - Satish: Adding FACT load for VarianceActualHrs and VarianceActualAmt
*/
		
		--Inserting good records to fact table
		--Variance Earned Quantity 
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,
		transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_variance_earned_quantity_sk,
		       dim_ent_data_sub_class_variance_earned_quantity_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_quantity_sk,
		       dim_ent_unit_of_measure_quantity_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,VarianceEarnedQty),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
			   --where isnull(convert(float,VarianceEarnedQty),0) <> 0 
		       where isnull(convert(float,VarianceEarnedQty),-999.999) <> -999.999 AND LEN(TakeOffHrs)>0 --Check for NULL and Empty fact entries.

		--Variance Earned Hours
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time
		,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_variance_earned_hours_sk,
		       dim_ent_data_sub_class_variance_earned_hours_nk,
			   dim_ent_data_class_hours_sk,
		       dim_ent_data_class_hours_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,VarianceEarnedHrs),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
			   --where isnull(convert(float,VarianceEarnedHrs),0) <> 0 
			   where isnull(convert(float,VarianceEarnedHrs),-999.999) <> -999.999 AND LEN(TakeOffHrs)>0 --Check for NULL and Empty fact entries.


		--Earned Quantity 
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,
		transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_earned_quantity_sk,
		       dim_ent_data_sub_class_earned_quantity_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_quantity_sk,
		       dim_ent_unit_of_measure_quantity_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,EarnedQty),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
			   --where isnull(convert(float,VarianceEarnedQty),0) <> 0 
		       where isnull(convert(float,EarnedQty),-999.999) <> -999.999 AND LEN(EarnedQty)>0 --Check for NULL and Empty fact entries.


		--Earned Hours
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time
		,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_earned_hours_sk,
		       dim_ent_data_sub_class_earned_hours_nk,
			   dim_ent_data_class_hours_sk,
		       dim_ent_data_class_hours_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,EarnedHrs),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
			   --where isnull(convert(float,VarianceEarnedHrs),0) <> 0 
			   where isnull(convert(float,EarnedHrs),-999.999) <> -999.999 AND LEN(EarnedHrs)>0 --Check for NULL and Empty fact entries.


		--Variance Actual Amount 
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,
		transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_variance_actual_amt_sk,
		       dim_ent_data_sub_class_variance_actual_amt_nk,
			   dim_ent_data_class_amount_sk,
		       dim_ent_data_class_amount_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_amount_sk,
		       dim_ent_unit_of_measure_amount_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,VarianceActualAmt),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
		       where isnull(convert(float,VarianceActualAmt),-999.999) <> -999.999 AND LEN(VarianceActualAmt)>0 --Check for NULL and Empty fact entries.


		--Variance Actual Hours
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time
		,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_ent_work_unit_sk,
		       dim_ent_work_unit_nk,
			   dim_ent_work_area_sk,
		       dim_ent_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_variance_actual_hours_sk,
		       dim_ent_data_sub_class_variance_actual_hours_nk,
			   dim_ent_data_class_hours_sk,
		       dim_ent_data_class_hours_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(CutOff,19)),
			   convert(float,VarianceActualHrs),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_MCPM_ProgressItems_Onshore]
			   where isnull(convert(float,VarianceActualHrs),-999.999) <> -999.999 AND LEN(VarianceActualHrs)>0 --Check for NULL and Empty fact entries.



		
	truncate table [gpd].[NCSA_MCPM_ProgressItems_Onshore]

	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO


