/****** Object:  StoredProcedure [Stage].[fact_lookup_based_on_many_key]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [Stage].[fact_lookup_based_on_many_key] @p_stage_fact_table_name [varchar](240),@p_stage_fact_view_name [varchar](240),@p_stage_fact_table_sk_name [varchar](240),@p_stage_fact_table_reference_sk_name [varchar](240),@p_stage_fact_table_reference_nk_name [varchar](240),@p_reference_dim_table_name [varchar](240),@p_reference_dim_table_sk_name [varchar](240),@p_reference_dim_table_nk_name [varchar](240),@p_stage_fact_table_compare_column_name1 [varchar](240),@p_dim_table_compare_column_name1 [varchar](240),@p_stage_fact_table_compare_column_name2 [varchar](240),@p_dim_table_compare_column_name2 [varchar](240),@p_stage_fact_table_compare_column_name3 [varchar](240),@p_dim_table_compare_column_name3 [varchar](240),@p_stage_fact_table_compare_column_name4 [varchar](240),@p_dim_table_compare_column_name4 [varchar](240),@p_stage_fact_table_compare_column_name5 [varchar](240),@p_dim_table_compare_column_name5 [varchar](240),@p_first_last_call_indicator [varchar](2),@p_stage_transaction_date_column_name [date] AS

begin	
	-- F stands for FIRST iteration
	-- L stands for LAST iteration
	-- FL stands for FIRST and LAST iteration
	if @p_first_last_call_indicator in ('F', 'FL') 
	begin
		begin try
			drop table #temp_config_header;
		end try
		begin catch
		end catch;

		exec('
		create table #temp_config_header (
			header_id											int,
			fact_table_reference_sk_name						varchar(240),
			fact_table_reference_nk_name						varchar(240),
			reference_dim_table_name							varchar(240),
			reference_dim_table_sk_name							varchar(240),
			reference_dim_table_nk_name							varchar(240),
			fact_table_compare_column_name1						varchar(240),
			dim_table_compare_column_name1						varchar(240),
			fact_table_compare_column_name2						varchar(240),
			dim_table_compare_column_name2						varchar(240),
			fact_table_compare_column_name3						varchar(240),
			dim_table_compare_column_name3						varchar(240),
			fact_table_compare_column_name4						varchar(240),
			dim_table_compare_column_name4						varchar(240),
			fact_table_compare_column_name5						varchar(240),
			dim_table_compare_column_name5						varchar(240),
			update_sql											varchar(8000),
			stage_transaction_date_column_name					varchar(240)
			);');
	end;

	--logic to populate the header_id when we insert record ingo #temp_config_header
	declare @header_id int = 1;
	if exists (select 1 from #temp_config_header) 
	begin	
		select @header_id = max(header_id) from #temp_config_header;
		set @header_id = @header_id + 1;
	end;

	-- insert to #temp_config_header
	insert into #temp_config_header (	header_id,
										fact_table_reference_sk_name,
										fact_table_reference_nk_name,
										reference_dim_table_name,
										reference_dim_table_sk_name,
										reference_dim_table_nk_name,
										fact_table_compare_column_name1,
										dim_table_compare_column_name1,
										fact_table_compare_column_name2,
										dim_table_compare_column_name2,
										fact_table_compare_column_name3,
										dim_table_compare_column_name3,
										fact_table_compare_column_name4,
										dim_table_compare_column_name4,
										fact_table_compare_column_name5,
										dim_table_compare_column_name5,
										stage_transaction_date_column_name
										)
					values			(@header_id,
									 @p_stage_fact_table_reference_sk_name,
									 @p_stage_fact_table_reference_nk_name,
									 @p_reference_dim_table_name,
									 @p_reference_dim_table_sk_name,
									 @p_reference_dim_table_nk_name,
									 @p_stage_fact_table_compare_column_name1,
									 @p_dim_table_compare_column_name1,
									 @p_stage_fact_table_compare_column_name2,
									 @p_dim_table_compare_column_name2,
									 @p_stage_fact_table_compare_column_name3,
									 @p_dim_table_compare_column_name3,
									 @p_stage_fact_table_compare_column_name4,
									 @p_dim_table_compare_column_name4,
									 @p_stage_fact_table_compare_column_name5,
									 @p_dim_table_compare_column_name5,
									 @p_stage_transaction_date_column_name
									 );

	-- all the SK and NK population would happen only when the LAST iteration is encountered									
	if @p_first_last_call_indicator  in ('L', 'FL')
	begin
		-- creating temp stage table to hold records from stage
		begin try
			drop table #temp_stage;
		end try
		begin catch
		end catch;

		declare @reprocessing_reason		varchar(5000) = ':';

		declare @maxRowId int;
		select @maxRowId = count(*) from #temp_config_header;

		declare @createTempStageSQL			varchar(8000) = 'create table #temp_stage (x_stage_sk int, x_reprocessing_reason varchar(8000) ';
		declare @tempStageInsertSQL			varchar(8000) = 'insert into #temp_stage(x_stage_sk,  x_reprocessing_reason ';
		declare @tempStageInsertValueSQL	varchar(8000) = 'select '+@p_stage_fact_table_sk_name+', '''+@reprocessing_reason+'''';
		declare @finalUpdate				varchar(8000) = 'update '+@p_stage_fact_table_name+' set ';
		
		

		declare @currentRowId int = 1;
		while @currentRowId <= @maxRowId
		begin
			declare @fact_table_reference_sk_name		varchar(240);
			declare @fact_table_reference_nk_name		varchar(240);
			declare @reference_dim_table_name			varchar(240);
			declare @reference_dim_table_sk_name		varchar(240);
			declare @reference_dim_table_nk_name		varchar(240);
			declare @fact_table_compare_column_name1	varchar(240);
			declare @dim_table_compare_column_name1		varchar(240);
			declare @fact_table_compare_column_name2	varchar(240);
			declare @dim_table_compare_column_name2		varchar(240);
			declare @fact_table_compare_column_name3	varchar(240);
			declare @dim_table_compare_column_name3		varchar(240);
			declare @fact_table_compare_column_name4	varchar(240);
			declare @dim_table_compare_column_name4		varchar(240);
			declare @fact_table_compare_column_name5	varchar(240);
			declare @dim_table_compare_column_name5		varchar(240);
			declare @stage_transaction_date_column_name varchar(240);

			
			select	@fact_table_reference_sk_name					= fact_table_reference_sk_name,
					@fact_table_reference_nk_name					= fact_table_reference_nk_name,
					@reference_dim_table_name						= reference_dim_table_name,
					@reference_dim_table_sk_name					= reference_dim_table_sk_name,
					@reference_dim_table_nk_name					= reference_dim_table_nk_name,
					@fact_table_compare_column_name1				= fact_table_compare_column_name1,
					@dim_table_compare_column_name1					= dim_table_compare_column_name1,
					@fact_table_compare_column_name2				= fact_table_compare_column_name2,
					@dim_table_compare_column_name2 				= dim_table_compare_column_name2,
					@fact_table_compare_column_name3				= fact_table_compare_column_name3,
					@dim_table_compare_column_name3 				= dim_table_compare_column_name3,
					@fact_table_compare_column_name4				= fact_table_compare_column_name4,
					@dim_table_compare_column_name4					= dim_table_compare_column_name4,
					@fact_table_compare_column_name5				= fact_table_compare_column_name5,
					@dim_table_compare_column_name5					= dim_table_compare_column_name5,
					@stage_transaction_date_column_name				= stage_transaction_date_column_name
			from	#temp_config_header
			where	header_id = @currentRowId;
			
			-- corresponding update statments: from dimensions to temp
			declare @tempUpdateSQL1 varchar(8000) = 'update #temp_stage set ';
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' x_'+@fact_table_reference_sk_name+' = a.'+@reference_dim_table_sk_name+', ';
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' x_'+@fact_table_reference_nk_name+' = a.'+@reference_dim_table_nk_name+', ';
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' x_reprocessing_reason = replace(x_reprocessing_reason, '':'+@reference_dim_table_name+':'', '''')';
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' from '+@reference_dim_table_name+' a'
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' where a.'+@dim_table_compare_column_name1+' = x_'+@fact_table_compare_column_name1;

			if @fact_table_compare_column_name2 is not null
			begin
				set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and a.'+@dim_table_compare_column_name2+' = x_'+@fact_table_compare_column_name2;
			end;

			if @fact_table_compare_column_name3 is not null
			begin
				set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and a.'+@dim_table_compare_column_name3+' = x_'+@fact_table_compare_column_name3;
			end;

			if @fact_table_compare_column_name4 is not null
			begin
				set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and a.'+@dim_table_compare_column_name4+' = x_'+@fact_table_compare_column_name4;
			end;

			if @fact_table_compare_column_name5 is not null
			begin
				set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and a.'+@dim_table_compare_column_name5+' = x_'+@fact_table_compare_column_name5;
			end;
			
			if replace(replace(@reference_dim_table_name, '[', ''), ']', '') not in ('dbo.dim_ent_date', 'dim_ent_date') 
			begin
				if @stage_transaction_date_column_name is null
				begin
					-- links to the latest record in the dimension table
					set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and getdate() between a.start_date and a.end_date ';
				end
				else
				begin
					-- links to the as-of record
					set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and x_'+ltrim(rtrim(@stage_transaction_date_column_name))+' between a.start_date and a.end_date ';
				end;
			end;
			set @tempUpdateSQL1 = @tempUpdateSQL1 + ' and  x_'+@fact_table_reference_sk_name+' is null ';

			update  #temp_config_header 
			set	update_sql  	= @tempUpdateSQL1
			where	header_id	= @currentRowId;

			-- corresponding update statments: from temp to stage
			if @currentRowId = 1
			begin
				-- set @finalUpdate	= @finalUpdate + @fact_table_reference_sk_name+' = x_'+@reference_dim_table_sk_name;
				set @finalUpdate	= @finalUpdate + @fact_table_reference_sk_name+' = x_'+@fact_table_reference_sk_name;
			end
			else
			begin
				-- set @finalUpdate	= @finalUpdate +', '++ @fact_table_reference_sk_name+' = x_'+@reference_dim_table_sk_name;
				set @finalUpdate	= @finalUpdate +', '+ @fact_table_reference_sk_name+' = x_'+@fact_table_reference_sk_name;
			end
			-- set @finalUpdate	= @finalUpdate +', '+@fact_table_reference_nk_name+' = x_'+@reference_dim_table_nk_name;
			set @finalUpdate	= @finalUpdate +', '+@fact_table_reference_nk_name+' = x_'+@fact_table_reference_nk_name;					
			
			-- table declaration
			set @createTempStageSQL = @createTempStageSQL + ',' +'x_'+@fact_table_reference_sk_name+'  int';
			set @createTempStageSQL = @createTempStageSQL + ',' +'x_'+@fact_table_reference_nk_name+'  int';
			
			-- stage_transaction_date_column_name
			if @stage_transaction_date_column_name is not null
			begin
				if @createTempStageSQL not like '%x_'+@stage_transaction_date_column_name+' %'
				begin
					set @createTempStageSQL				= @createTempStageSQL		+ ','	+'x_'+@stage_transaction_date_column_name+' date';
					set @tempStageInsertSQL				= @tempStageInsertSQL		+', '	+'x_'+@stage_transaction_date_column_name;
					set @tempStageInsertValueSQL		= @tempStageInsertValueSQL	+ ','	+@stage_transaction_date_column_name;
				end;
			end;

			declare @dataType varchar(200);
			select	@dataType = data_type+ case when character_maximum_length is not null then '('+trim(str(character_maximum_length))+')' else '' end 
			from	information_schema.columns
			where	table_schema+'.'+table_name = @p_stage_fact_view_name
			and     column_name = @fact_table_compare_column_name1;

			if @createTempStageSQL not like '%x_'+@fact_table_compare_column_name1+' %'
			begin
				set @createTempStageSQL			= @createTempStageSQL		+ ','	+'x_'+@fact_table_compare_column_name1+' '+@dataType;
				set @tempStageInsertSQL			= @tempStageInsertSQL		+', '	+'x_'+@fact_table_compare_column_name1;
				set @tempStageInsertValueSQL		= @tempStageInsertValueSQL	+ ','	+@fact_table_compare_column_name1;
			end;

			if @fact_table_compare_column_name2 is not null
			begin
				set @dataType = null;
				select	@dataType = data_type+ case when character_maximum_length is not null then '('+trim(str(character_maximum_length))+')' else '' end 
				from	information_schema.columns
				where	table_schema+'.'+table_name = @p_stage_fact_view_name
				and     column_name = @fact_table_compare_column_name2;

				if @createTempStageSQL not like '%x_'+@fact_table_compare_column_name2+' %'
				begin
					set @createTempStageSQL			= @createTempStageSQL		+ ','	+'x_'+@fact_table_compare_column_name2+' '+@dataType;
					set @tempStageInsertSQL			= @tempStageInsertSQL		+', '	+'x_'+@fact_table_compare_column_name2;
					set @tempStageInsertValueSQL	= @tempStageInsertValueSQL	+ ','	+@fact_table_compare_column_name2;
				end;
			end;

			if @fact_table_compare_column_name3 is not null
			begin
				set @dataType = null;
				select	@dataType = data_type+ case when character_maximum_length is not null then '('+trim(str(character_maximum_length))+')' else '' end 
				from	information_schema.columns
				where	table_schema+'.'+table_name = @p_stage_fact_view_name
				and     column_name = @fact_table_compare_column_name3;

				if @createTempStageSQL not like '%x_'+@fact_table_compare_column_name3+' %'
				begin
					set @createTempStageSQL			= @createTempStageSQL		+ ','	+'x_'+@fact_table_compare_column_name3+' '+@dataType;
					set @tempStageInsertSQL			= @tempStageInsertSQL		+', '	+'x_'+@fact_table_compare_column_name3;
					set @tempStageInsertValueSQL	= @tempStageInsertValueSQL	+ ','	+@fact_table_compare_column_name3;
				end;
			end;

			if @fact_table_compare_column_name4 is not null
			begin
				set @dataType = null;
				select	@dataType = data_type+ case when character_maximum_length is not null then '('+trim(str(character_maximum_length))+')' else '' end 
				from	information_schema.columns
				where	table_schema+'.'+table_name = @p_stage_fact_view_name
				and     column_name = @fact_table_compare_column_name4;

				if @createTempStageSQL not like '%x_'+@fact_table_compare_column_name4+' %'
				begin
					set @createTempStageSQL			= @createTempStageSQL		+ ','	+'x_'+@fact_table_compare_column_name4+' '+@dataType;
					set @tempStageInsertSQL			= @tempStageInsertSQL		+', '	+'x_'+@fact_table_compare_column_name4;
					set @tempStageInsertValueSQL	= @tempStageInsertValueSQL	+ ','	+@fact_table_compare_column_name4;
				end;
			end;

			if @fact_table_compare_column_name5 is not null
			begin
				set @dataType = null;
				select	@dataType = data_type+ case when character_maximum_length is not null then '('+trim(str(character_maximum_length))+')' else '' end 
				from	information_schema.columns
				where	table_schema+'.'+table_name = @p_stage_fact_view_name
				and     column_name = @fact_table_compare_column_name5;

				if @createTempStageSQL not like '%x_'+@fact_table_compare_column_name5+' %'
				begin
					set @createTempStageSQL			= @createTempStageSQL		+ ','	+'x_'+@fact_table_compare_column_name5+' '+@dataType;
					set @tempStageInsertSQL			= @tempStageInsertSQL		+', '	+'x_'+@fact_table_compare_column_name5;
					set @tempStageInsertValueSQL	= @tempStageInsertValueSQL	+ ','	+@fact_table_compare_column_name5;
				end;
			end;
			

			set @reprocessing_reason = @reprocessing_reason + @reference_dim_table_name + ':';

			set @currentRowId = @currentRowId + 1;
		end;
		set @finalUpdate = @finalUpdate + ' from  #temp_stage'+' ';
		set @finalUpdate = @finalUpdate + ' where '+@p_stage_fact_table_sk_name+' = x_stage_sk';

		set @createTempStageSQL				 = @createTempStageSQL + ')';
		set @tempStageInsertSQL				 = @tempStageInsertSQL + ')';
		set @tempStageInsertValueSQL		 	= @tempStageInsertValueSQL + ' from '+@p_stage_fact_view_name;

		begin try
			drop table  #temp_stage;
		end try
		begin catch
		end catch;

SELECT 'STAGE 0';
SELECT * FROM #temp_config_header;
select 'create: temp: table';
select ISNULL(@createTempStageSQL, 'BECAME NULL');

		--table creation;
		exec (@createTempStageSQL);

		-- data populate from stage to temp
		exec (@tempStageInsertSQL+' '+@tempStageInsertValueSQL);

select 'INSERT';
select @tempStageInsertSQL+' '+@tempStageInsertValueSQL;
select 'stage 1';

		-- reference keys populate to temp table
		set @currentRowId = 1;
		while @currentRowId <= @maxRowId
		begin
			declare @update_sql varchar(8000);

			select	@update_sql = update_sql
			from	#temp_config_header
			where	header_id = @currentRowId;

select 'individual update';
select @update_sql;

			exec(@update_sql);

			set @currentRowId = @currentRowId + 1;
		end;

select 'stage 2';
select @finalUpdate;

		-- update stage back
		exec (@finalUpdate);

select 'stage 3: done';
	end;
end;

/*
begin
execute [stage].[fact_lookup_based_on_many_key] 'Stage.ts_kronos', 'Stage.ts_kronos_v', 'ts_row_id', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'ts_source'	, 'source_name', null, null, null, null, null, null, null, null, 'FL';
-- execute [stage].[fact_lookup_based_on_one_key] null, null, null, null, null, null, null, null, 'L';
select * from #temp_config_header;
select * from #temp_stage;
end;
*/
GO
