/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_P6_Project_Milestones]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_fact_P6_Project_Milestones] @project_id [varchar](20) AS

update  [gpd].[NCSA_P6_ProjectMilestones]
set project_id = @project_id

update  [gpd].[NCSA_P6_ProjectMilestones]
set FinishDate = substring(ltrim(rtrim(FinishDate)),1,len(ltrim(rtrim(FinishDate))) - 1)
where right(ltrim(rtrim(FinishDate)),1) = 'A'


update  [gpd].[NCSA_P6_ProjectMilestones]
set StartDate = substring(ltrim(rtrim(StartDate)),1,len(ltrim(rtrim(StartDate))) - 1)
where right(ltrim(rtrim(StartDate)),1) = 'A'

update  [gpd].[NCSA_P6_ProjectMilestones]
set FinishDate = convert(varchar(20),convert(datetime,FinishDate),101)

update  [gpd].[NCSA_P6_ProjectMilestones]
set StartDate = convert(varchar(20),convert(datetime,StartDate),101)

update  [gpd].[NCSA_P6_ProjectMilestones]
set StartDate = FinishDate
where year(StartDate) = 1900

update  [gpd].[NCSA_P6_ProjectMilestones]
set FinishDate = StartDate
where year(FinishDate) = 1900

update  [gpd].[NCSA_P6_ProjectMilestones]
set ScheduleWorkArea = 'ZZZ',
CWP = 'ZZZ',
ScheduleResource = 'ZZZ'


GO
