/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_WeeklyPlan_validate]    Script Date: 4/16/2021 7:18:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_fact_WeeklyPlan_validate] AS
BEGIN
    
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

	DECLARE @Date DATETIME;
	SET @Date = GETDATE();

	

	--------------------------------------------------------------------------------------
	--Step 1: Set the load_date for Stage records. 
	--------------------------------------------------------------------------------------

	UPDATE [gpd].[NCSA_Work_Plan]
	set load_date_time = @Date
	
	
	--------------------------------------------------------------------------------------
	-- Step 2: setup any pre=processing values as required.
	--------------------------------------------------------------------------------------

	select @processed_count=0 --temp entry

	
	--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
	--'gpd.NCSA_Work_Plan', 'dim_entp_project', 'dim_ent_project_sk', 'dim_ent_project_nk', 'dim_entp_project_sk', 
	--'dim_entp_project_nk', 'ProjectNumber', 'project_number', 'load_date_time', 'fact_ops', 1



	--------------------------------------------------------------------------------------
	--Step 3: Update the DIM  [Not applicable for Weekly Plan]
	--------------------------------------------------------------------------------------
	
		

	--------------------------------------------------------------------------------------
	--Step 4: Combine date from the Reprocess table for the current run
	--------------------------------------------------------------------------------------
	
	INSERT INTO [gpd].[NCSA_Work_Plan]
	([ProjectNumber],[IWP],[Hrs],[WED],[PIM_CODE],[ROC_CODE],[FUNCTION_CODE],[source_code],[sub_source_code],[unit_of_measure_code_hours],[data_class_plan_code],[data_sub_class_weeklyPlan_code],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_data_sub_class_weeklyplan_sk],[dim_ent_data_sub_class_weeklyplan_nk],[dim_ent_data_class_plan_sk],[dim_ent_data_class_plan_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_hours_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time])
	SELECT
	[ProjectNumber],[IWP],[Hrs],[WED],[PIM_CODE],[ROC_CODE],[FUNCTION_CODE],[source_code],[sub_source_code],[unit_of_measure_code_hours],[data_class_plan_code],[data_sub_class_weeklyPlan_code],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_data_sub_class_weeklyplan_sk],[dim_ent_data_sub_class_weeklyplan_nk],[dim_ent_data_class_plan_sk],[dim_ent_data_class_plan_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_hours_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[created_date_time]
	FROM [gpd].[reprocess_NCSA_Work_Plan]
	

	DELETE FROM [gpd].[reprocess_NCSA_Work_Plan]

	-------------------------------------------------------------------------------------------------------------
	

	-----------------------------------------------------------------
	--Step 5: Update the SK/NK values within the Synapse table.
	-----------------------------------------------------------------
	
	--setup Project SK/NK
	execute [stage].[fact_lookup_based_on_one_key]
            'gpd.NCSA_Work_Plan', 'gpd.NCSA_Work_Plan',  'WWP_ID', 'dim_ent_project_sk', 'dim_ent_project_nk',
            'dim_entp_project', 'dim_entp_project_sk', 'dim_entp_project_nk', 'ProjectNumber', 'project_number', 'F',NULL ;
	


	--Update Function Key : Hardcoded value coming from ADF
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--		'gpd.NCSA_Work_Plan', 'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'dim_ent_function_sk', 
		--		'dim_ent_function_nk', 'function_code', 'function_code', 'load_date_time', 'fact_ops', 1

	execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Work_Plan', 'gpd.NCSA_Work_Plan',  'WWP_ID', 'dim_ent_function_sk', 'dim_ent_function_nk',
                'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'function_code', 'function_code', NULL,NULL ;

	--Update Data Class for Plan
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--		'gpd.NCSA_Work_Plan', 'dim_ent_data_class', 'dim_ent_data_class_plan_sk	', 'dim_ent_data_class_plan_nk', 'dim_ent_data_class_sk', 
		--		'dim_ent_data_class_nk', 'data_class_plan_code', 'data_class_name', 'load_date_time', 'fact_ops', 1
		

	execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Work_Plan', 'gpd.NCSA_Work_Plan',  'WWP_ID', 'dim_ent_data_class_plan_sk', 'dim_ent_data_class_plan_nk',
                'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'data_class_plan_code', 'data_class_name', NULL,NULL ;
				

	--Update Source
	--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
	--		'gpd.NCSA_Work_Plan', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source_sk', 
	--		'dim_ent_source_nk', 'source_code', 'source_name', 'load_date_time', 'fact_ops', 1

	execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Work_Plan', 'gpd.NCSA_Work_Plan',  'WWP_ID', 'dim_ent_source_sk', 'dim_ent_source_nk',
                'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'source_code', 'source_name', NULL,NULL ;


	--Update Unit of Measure - Hours
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--		   'gpd.NCSA_Work_Plan', 'dim_ent_unit_of_measure', 
		--		   'dim_ent_unit_of_measure_hours_sk', 'dim_ent_unit_of_measure_hours_nk', 
		--		   'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--		   'unit_of_measure_code_hours', 'unit_of_measure_code', 
		--		   'load_date_time', 'fact_ops', 1


	execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Work_Plan', 'gpd.NCSA_Work_Plan',  'WWP_ID', 'dim_ent_unit_of_measure_hours_sk', 'dim_ent_unit_of_measure_hours_nk',
                'dim_ent_unit_of_measure', 'dim_ent_unit_of_measure_sk', 'dim_ent_unit_of_measure_nk', 'unit_of_measure_code_hours', 'unit_of_measure_code', 'L',NULL ;

	--Update sub_soure

	update [gpd].[NCSA_Work_Plan]
	set dim_ent_sub_source_sk = b.dim_ent_sub_source_sk,
	dim_ent_sub_source_nk = b.dim_ent_sub_source_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_ent_sub_source b
	where a.dim_ent_source_nk = b.dim_ent_source_nk
	and a.sub_source_code = b.sub_source_name
	and b.active = 1




	-- Subclasses
	--Update Data Sub Class - Weekly Plan

	update [gpd].[NCSA_Work_Plan]
	set dim_ent_data_sub_class_weeklyplan_sk = b.dim_ent_data_sub_class_sk,
	dim_ent_data_sub_class_weeklyplan_nk = b.dim_ent_data_sub_class_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_ent_data_sub_class b
	where a.dim_ent_data_class_plan_nk = b.dim_ent_data_class_nk
	and a.data_sub_class_weeklyplan_code = b.data_sub_class_name
	and b.active = 1
	
		
	--Update other NK/SK

	--Update IWP

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_iwp_sk = b.dim_entp_iwp_sk,
	dim_entp_iwp_nk = b.dim_entp_iwp_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_iwp b
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.IWP = b.iwp_code
	and b.active = 1

	--Update Schedule Resource
	--NOTE: No direct value for Schedule Resource, so derieved based on iwp

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
	dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_schedule_resource b
	,dbo.dim_entp_iwp d
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.dim_entp_iwp_nk = d.dim_entp_iwp_nk
	and b.dim_entp_schedule_resource_nk=d.dim_entp_schedule_resource_nk
	and b.active = 1
	and d.active = 1

	--Update Activity
	--NOTE: No direct value for Activity, so derieved based on iwp

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_activity_sk = b.dim_entp_activity_sk,
	dim_entp_activity_nk = b.dim_entp_activity_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_activity b, dbo.dim_entp_iwp d
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.dim_entp_iwp_nk = d.dim_entp_iwp_nk
	and b.dim_entp_activity_nk = d.dim_entp_activity_nk
	and b.active = 1
	and d.active = 1

	-- Update Work Area
	--NOTE: No direct value for Work Area, so derieved based on activity_nk

	update [gpd].[NCSA_Work_Plan]
	set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
	dim_entp_work_area_nk = b.dim_entp_work_area_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_work_area b ,dbo.dim_entp_activity d
	where a.dim_ent_project_nk = b.dim_entp_project_nk 
	and a.dim_entp_activity_nk = d.dim_entp_activity_nk
	and b.dim_entp_work_area_nk = d.dim_entp_work_area_nk
	and b.active = 1
	and d.active = 1

	--Update Work Unit
	--NOTE: No direct value for workUnit, so derieved based on Workarea

	update [gpd].[NCSA_Work_Plan]
	set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
	dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_work_unit b ,dbo.dim_entp_work_area d
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.dim_entp_work_area_nk = d.dim_entp_work_area_nk
	and b.dim_entp_work_unit_nk  = d.dim_entp_work_unit_nk
	and b.active = 1
	and d.active = 1



	-- Update Phase
	--NOTE: No direct value for phase, so derieved based on Workarea

	update [gpd].[NCSA_Work_Plan]
	set dim_entp_phase_sk = b.dim_entp_phase_sk,
	dim_entp_phase_nk = b.dim_entp_phase_nk
	from [gpd].[NCSA_Work_Plan] a, [dbo].[dim_entp_phase] b, dbo.dim_entp_work_area d
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.dim_entp_work_area_nk = d.dim_entp_work_area_nk
	and b.dim_entp_phase_nk  = d.dim_entp_phase_nk
	and b.active = 1
	and d.active = 1

	
	----Update CWP (Defaulted value)

	--UPDATE [gpd].[NCSA_Work_Plan]
	--set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
	--dim_entp_cwp_nk = b.dim_entp_cwp_nk
	--from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_cwp b
	--where a.dim_ent_project_nk = b.dim_entp_project_nk
	--and a.CWP_CODE = b.cwp_code
	--and b.active = 1

	--Update CWP
	--NOTE: No direct value for CWP, so derieved based on Activity

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
	dim_entp_cwp_nk = b.dim_entp_cwp_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_cwp b ,dbo.dim_entp_activity d
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.dim_entp_activity_nk = d.dim_entp_activity_nk
	and b.dim_entp_cwp_nk = d.dim_entp_cwp_nk
	and b.active = 1
	and d.active = 1


	--Update PIM

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_pim_sk = b.dim_entp_pim_sk,
	dim_entp_pim_nk = b.dim_entp_pim_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_pim b
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.PIM_CODE = b.pim_code
	and b.active = 1

	--Update ROC

	UPDATE [gpd].[NCSA_Work_Plan]
	set dim_entp_roc_sk = b.dim_entp_roc_sk,
	dim_entp_roc_nk = b.dim_entp_roc_nk
	from [gpd].[NCSA_Work_Plan] a,dbo.dim_entp_roc b
	where a.dim_ent_project_nk = b.dim_entp_project_nk
	and a.ROC_CODE = b.roc_code
	--and a.step = b.rocs_step
	and b.active = 1


	--Update CoA [No applicable for this load]
	
	--update [gpd].[NCSA_Work_Plan]
	--set dim_ent_jde_coa_sk = b.dim_ent_jde_coa_sk,
	--dim_ent_jde_coa_nk = b.dim_ent_jde_coa_nk
	--from [gpd].[NCSA_Work_Plan] a,dbo.DIM_ENT_JDE_COA b
	--where LTRIM(RTRIM(b.account_code)) = a.CoA
	--and b.active = 1
	
	

	-----------------------------------------------------------------
	--Step 6: Checking for null entries for NK/SK; Isolating those records into reprocess tables.
	-----------------------------------------------------------------


	SELECT @unprocessed_count  = count(*)  FROM [gpd].[NCSA_Work_Plan]
	WHERE [dim_ent_function_sk]  IS NULL
	OR [dim_ent_function_nk]   IS NULL
	OR [dim_ent_project_sk]   IS NULL
	OR [dim_ent_project_nk]   IS NULL
	OR [dim_entp_phase_sk]   IS NULL
	OR [dim_entp_phase_nk]   IS NULL
	OR [dim_entp_work_unit_sk]   IS NULL
	OR [dim_entp_work_unit_nk]   IS NULL
	OR [dim_entp_work_area_sk]   IS NULL
	OR [dim_entp_work_area_nk]   IS NULL
	OR [dim_entp_cwp_sk]   IS NULL
	OR [dim_entp_cwp_nk]   IS NULL
	OR [dim_entp_schedule_resource_sk]   IS NULL
	OR [dim_entp_schedule_resource_nk]   IS NULL
	OR [dim_entp_activity_sk]   IS NULL
	OR [dim_entp_activity_nk]   IS NULL
	OR [dim_entp_iwp_sk]   IS NULL
	OR [dim_entp_iwp_nk]   IS NULL
	OR [dim_entp_pim_sk]   IS NULL
	OR [dim_entp_pim_nk]   IS NULL
	OR [dim_entp_roc_sk]   IS NULL
	OR [dim_entp_roc_nk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_sk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_nk]   IS NULL
	OR [dim_ent_data_class_plan_sk]   IS NULL
	OR [dim_ent_data_class_plan_nk]   IS NULL
	OR [dim_ent_sub_source_sk]   IS NULL
	OR [dim_ent_sub_source_nk]   IS NULL
	OR [dim_ent_source_sk]   IS NULL
	OR [dim_ent_source_nk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_sk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_nk]   IS NULL
	--OR [dim_ent_jde_coa_sk]   IS NULL
	--OR [dim_ent_jde_coa_nk]   IS NULL


	SELECT @processed_count  = count(*)  FROM [gpd].[NCSA_Work_Plan]
	WHERE [dim_ent_function_sk]  IS NOT NULL
	AND [dim_ent_function_nk]   IS NOT NULL
	AND [dim_ent_project_sk]   IS NOT NULL
	AND [dim_ent_project_nk]   IS NOT NULL
	AND [dim_entp_phase_sk]   IS NOT NULL
	AND [dim_entp_phase_nk]   IS NOT NULL
	AND [dim_entp_work_unit_sk]   IS NOT NULL
	AND [dim_entp_work_unit_nk]   IS NOT NULL
	AND [dim_entp_work_area_sk]   IS NOT NULL
	AND [dim_entp_work_area_nk]   IS NOT NULL
	AND [dim_entp_cwp_sk]   IS NOT NULL
	AND [dim_entp_cwp_nk]   IS NOT NULL
	AND [dim_entp_schedule_resource_sk]   IS NOT NULL
	AND [dim_entp_schedule_resource_nk]   IS NOT NULL
	AND [dim_entp_activity_sk]   IS NOT NULL
	AND [dim_entp_activity_nk]   IS NOT NULL
	AND [dim_entp_iwp_sk]   IS NOT NULL
	AND [dim_entp_iwp_nk]   IS NOT NULL
	AND [dim_entp_pim_sk]   IS NOT NULL
	AND [dim_entp_pim_nk]   IS NOT NULL
	AND [dim_entp_roc_sk]   IS NOT NULL
	AND [dim_entp_roc_nk]   IS NOT NULL
	AND [dim_ent_data_sub_class_weeklyplan_sk]   IS NOT NULL
	AND [dim_ent_data_sub_class_weeklyplan_nk]   IS NOT NULL
	AND [dim_ent_data_class_plan_sk]   IS NOT NULL
	AND [dim_ent_data_class_plan_nk]   IS NOT NULL
	AND [dim_ent_sub_source_sk]   IS NOT NULL
	AND [dim_ent_sub_source_nk]   IS NOT NULL
	AND [dim_ent_source_sk]   IS NOT NULL
	AND [dim_ent_source_nk]   IS NOT NULL
	AND [dim_ent_unit_of_measure_hours_sk]   IS NOT NULL
	AND [dim_ent_unit_of_measure_hours_nk]   IS NOT NULL
	--AND [dim_ent_jde_coa_sk]   IS NOT NULL
	--AND [dim_ent_jde_coa_nk]   IS NOT NULL



	INSERT INTO [gpd].[reprocess_NCSA_Work_Plan]
	([ProjectNumber],[IWP],[Hrs],[WED],[PIM_CODE],[ROC_CODE],[FUNCTION_CODE],[source_code],[sub_source_code],[unit_of_measure_code_hours],[data_class_plan_code],[data_sub_class_weeklyPlan_code],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_data_sub_class_weeklyplan_sk],[dim_ent_data_sub_class_weeklyplan_nk],[dim_ent_data_class_plan_sk],[dim_ent_data_class_plan_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_hours_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[created_date_time])
	SELECT 
	[ProjectNumber],[IWP],[Hrs],[WED],[PIM_CODE],[ROC_CODE],[FUNCTION_CODE],[source_code],[sub_source_code],[unit_of_measure_code_hours],[data_class_plan_code],[data_sub_class_weeklyPlan_code],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_data_sub_class_weeklyplan_sk],[dim_ent_data_sub_class_weeklyplan_nk],[dim_ent_data_class_plan_sk],[dim_ent_data_class_plan_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_hours_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time]
	FROM [gpd].[NCSA_Work_Plan]
	WHERE [dim_ent_function_sk]  IS NULL
	OR [dim_ent_function_nk]   IS NULL
	OR [dim_ent_project_sk]   IS NULL
	OR [dim_ent_project_nk]   IS NULL
	OR [dim_entp_phase_sk]   IS NULL
	OR [dim_entp_phase_nk]   IS NULL
	OR [dim_entp_work_unit_sk]   IS NULL
	OR [dim_entp_work_unit_nk]   IS NULL
	OR [dim_entp_work_area_sk]   IS NULL
	OR [dim_entp_work_area_nk]   IS NULL
	OR [dim_entp_cwp_sk]   IS NULL
	OR [dim_entp_cwp_nk]   IS NULL
	OR [dim_entp_schedule_resource_sk]   IS NULL
	OR [dim_entp_schedule_resource_nk]   IS NULL
	OR [dim_entp_activity_sk]   IS NULL
	OR [dim_entp_activity_nk]   IS NULL
	OR [dim_entp_iwp_sk]   IS NULL
	OR [dim_entp_iwp_nk]   IS NULL
	OR [dim_entp_pim_sk]   IS NULL
	OR [dim_entp_pim_nk]   IS NULL
	OR [dim_entp_roc_sk]   IS NULL
	OR [dim_entp_roc_nk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_sk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_nk]   IS NULL
	OR [dim_ent_data_class_plan_sk]   IS NULL
	OR [dim_ent_data_class_plan_nk]   IS NULL
	OR [dim_ent_sub_source_sk]   IS NULL
	OR [dim_ent_sub_source_nk]   IS NULL
	OR [dim_ent_source_sk]   IS NULL
	OR [dim_ent_source_nk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_sk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_nk]   IS NULL
	--OR [dim_ent_jde_coa_sk]   IS NULL
	--OR [dim_ent_jde_coa_nk]   IS NULL
	


	--------------------------------------------------------------------------------------
	-- Add logic to populate the 'rk_failure_info' info column with details of missing SK/NK
	--------------------------------------------------------------------------------------

	update [gpd].[reprocess_NCSA_Work_Plan]
	set rk_failure_info = 
	case when dim_ent_function_nk  is null then 'Missing Function : ' + isnull(function_code,'') + ',' else '' end +
	case when dim_ent_project_nk   is null then 'Missing Project Number : ' + isnull(ProjectNumber,'') + ',' else '' end +
	case when dim_entp_phase_nk   is null then 'Missing Phase : ' + isnull('Derieved thru Work Area','') + ',' else '' end +
	case when dim_entp_work_unit_nk   is null then 'Missing Work Unit : ' + isnull('Derieved thru Work Area','') + ',' else '' end +
	case when dim_entp_work_area_nk   is null then 'Missing Work Area : ' + isnull('Derieved thru Activity','') + ',' else '' end +
	case when dim_entp_cwp_nk   is null then 'Missing CWP : ' + isnull('Derieved thru Activity','') + ',' else '' end +
	case when dim_entp_schedule_resource_nk   is null then 'Missing Schedule Resource : ' + isnull('Derieved thru IWP','') + ',' else '' end +
	case when dim_entp_activity_nk   is null then 'Missing Activity : ' + isnull('Derieved thru IWP','') + ',' else '' end +
	case when dim_entp_iwp_nk   is null then 'Missing IWP Code : ' + isnull(IWP,'') + ',' else '' end +
	case when dim_entp_pim_nk   is null then 'Missing PMID : ' + isnull(PIM_CODE,'') + ',' else '' end +
	case when dim_entp_roc_nk   is null then 'Missing ROC : ' + isnull(ROC_CODE,'') + ',' else '' end +
	case when dim_ent_data_sub_class_weeklyplan_nk   is null then 'Missing Data Sub Class - Weekly Plan Hours : ' + isnull(data_sub_class_weeklyplan_code,'') + ',' else '' end +
	case when dim_ent_data_class_plan_nk   is null then 'Missing Data Class - Plan : ' + isnull(data_class_plan_code,'') + ',' else '' end +
	case when dim_ent_sub_source_nk   is null then 'Missing Sub Source : ' + isnull(sub_source_code,'') + ',' else '' end +
	case when dim_ent_source_nk   is null then 'Missing Source : ' + isnull(source_code,'') + ',' else '' end +
	case when dim_ent_unit_of_measure_hours_nk   is null then 'Missing UOM - Hours : ' + isnull(unit_of_measure_code_hours,'') + ',' else '' end +
	case when dim_ent_jde_coa_nk   is null then 'Missing JDE CoA : ' + isnull('NA','') + ',' else '' end 


	

	---------------------------------------------------------------------------

	DELETE FROM [gpd].[NCSA_Work_Plan]
	WHERE [dim_ent_function_sk]  IS NULL
	OR [dim_ent_function_nk]   IS NULL
	OR [dim_ent_project_sk]   IS NULL
	OR [dim_ent_project_nk]   IS NULL
	OR [dim_entp_phase_sk]   IS NULL
	OR [dim_entp_phase_nk]   IS NULL
	OR [dim_entp_work_unit_sk]   IS NULL
	OR [dim_entp_work_unit_nk]   IS NULL
	OR [dim_entp_work_area_sk]   IS NULL
	OR [dim_entp_work_area_nk]   IS NULL
	OR [dim_entp_cwp_sk]   IS NULL
	OR [dim_entp_cwp_nk]   IS NULL
	OR [dim_entp_schedule_resource_sk]   IS NULL
	OR [dim_entp_schedule_resource_nk]   IS NULL
	OR [dim_entp_activity_sk]   IS NULL
	OR [dim_entp_activity_nk]   IS NULL
	OR [dim_entp_iwp_sk]   IS NULL
	OR [dim_entp_iwp_nk]   IS NULL
	OR [dim_entp_pim_sk]   IS NULL
	OR [dim_entp_pim_nk]   IS NULL
	OR [dim_entp_roc_sk]   IS NULL
	OR [dim_entp_roc_nk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_sk]   IS NULL
	OR [dim_ent_data_sub_class_weeklyplan_nk]   IS NULL
	OR [dim_ent_data_class_plan_sk]   IS NULL
	OR [dim_ent_data_class_plan_nk]   IS NULL
	OR [dim_ent_sub_source_sk]   IS NULL
	OR [dim_ent_sub_source_nk]   IS NULL
	OR [dim_ent_source_sk]   IS NULL
	OR [dim_ent_source_nk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_sk]   IS NULL
	OR [dim_ent_unit_of_measure_hours_nk]   IS NULL
	--OR [dim_ent_jde_coa_sk]   IS NULL
	--OR [dim_ent_jde_coa_nk]   IS NULL 
	




	-----------------------------------------------------------------
	--Step 7: Loading valid records into the FACT table.
	-----------------------------------------------------------------

	--DECLARE @Date DATETIME;
	--SET @Date = GETDATE();

	--





if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@unprocessed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
		
	
	end

	if isnull(@unprocessed_count,0) = 0 --isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null 
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;







--End of Stored Procedure
END
GO
