/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_progress_fact_load]    Script Date: 6/22/2021 9:45:13 PM ******/
DROP PROCEDURE [dbo].[load_NCSA_fact_sitepro_progress_fact_load]
GO

/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_progress_fact_load]    Script Date: 6/22/2021 9:45:13 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[load_NCSA_fact_sitepro_progress_fact_load] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int

/* Change Log
06/22/2021: Satish: Aggregate logic added to the data_sub_class Sitepro Installed Quantity,Sitepro Earned Hours,Sitepro Earned Quantity
*/

	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

		--Deleting from Fact table since the routine is changed to full load all the time
		--This is a temporeary code to be removed when the Increment Generic Routine implemented
		
       delete from fact_ops
       where dim_entp_data_sub_class_nk in 
       (select dim_ent_data_sub_class_nk from dim_ent_data_sub_class
       where data_sub_class_name in
       ('Sitepro Installed Quantity',
       'Sitepro Earned Hours',
       'Sitepro Earned Quantity'))

		update [dbo].[plp_parameter_value]
		set parameter_value = '2000-06-08 17:23:09'
		where pipeline_code = 'pl_progress_sitepro_source_to_stage'
		and parameter_code = 'start_date'

		update [dbo].[plp_parameter_value]
		set parameter_value = '2030-06-08 17:23:09'
		where pipeline_code = 'pl_progress_sitepro_source_to_stage'
		and parameter_code = 'end_date'


		--------Code till this to be removed

		
		--Inserting Good records to Fact Table
		--Budget Hours
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_budget_hours_sk,
		       dim_ent_data_sub_class_budget_hours_nk,
			   dim_ent_data_class_time_sk,
		       dim_ent_data_class_time_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(progressDate,19)),
			   convert(float,Budget_Hrs),
			   convert(datetime,left(max_date,19)),
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,Budget_Hrs),0) <> 0 
		
		--select convert(datetime,left(progressDate,19)) from [Stage].[NCSA_Sitepro_Progress]

		--Budget Quantity
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time
		,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
	select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_budget_quantity_sk,
		       dim_ent_data_sub_class_budget_quantity_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_quantity_sk,
		       dim_ent_unit_of_measure_quantity_nk,
			   convert(datetime,left(progressDate,19)),
			   convert(float,Budget_Qty),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,Budget_Qty),0) <> 0 

		--Progress Hours
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time,
		dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_progress_hours_sk,
		       dim_ent_data_sub_class_progress_hours_nk,
			   dim_ent_data_class_time_sk,
		       dim_ent_data_class_time_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_hours_sk,
		       dim_ent_unit_of_measure_hours_nk,
			   convert(datetime,left(progressDate,19)),
			   SUM(convert(float,progressed_Hrs)),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,progressed_Hrs),0) <> 0 
			    GROUP BY dim_ent_function_sk,dim_ent_function_nk,dim_ent_project_sk,dim_ent_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_ent_data_sub_class_progress_hours_sk,dim_ent_data_sub_class_progress_hours_nk,dim_ent_data_class_time_sk,dim_ent_data_class_time_nk,dim_ent_sub_source_sk,dim_ent_sub_source_nk,dim_ent_source_sk,dim_ent_source_nk,dim_ent_unit_of_measure_hours_sk,dim_ent_unit_of_measure_hours_nk,convert(datetime,left(progressDate,19)) 	,load_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk



		--Progress Quantity
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_progress_quantity_sk,
		       dim_ent_data_sub_class_progress_quantity_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_quantity_sk,
		       dim_ent_unit_of_measure_quantity_nk,
			   convert(datetime,left(progressDate,19)),
			   SUM(convert(float,Progressed_Qty)),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,Progressed_Qty),0) <> 0
			    GROUP BY dim_ent_function_sk, dim_ent_function_nk, dim_ent_project_sk, dim_ent_project_nk, dim_entp_phase_sk, dim_entp_phase_nk, dim_entp_work_unit_sk, dim_entp_work_unit_nk, dim_entp_work_area_sk, dim_entp_work_area_nk, dim_entp_cwp_sk, dim_entp_cwp_nk, dim_entp_schedule_resource_sk, dim_entp_schedule_resource_nk, dim_entp_activity_sk, dim_entp_activity_nk, dim_entp_iwp_sk, dim_entp_iwp_nk, dim_entp_pim_sk, dim_entp_pim_nk, dim_entp_roc_sk, dim_entp_roc_nk, dim_ent_data_sub_class_progress_quantity_sk, dim_ent_data_sub_class_progress_quantity_nk, dim_ent_data_class_quantity_sk, dim_ent_data_class_quantity_nk, dim_ent_sub_source_sk, dim_ent_sub_source_nk, dim_ent_source_sk, dim_ent_source_nk, dim_ent_unit_of_measure_quantity_sk, dim_ent_unit_of_measure_quantity_nk, convert(datetime,left(progressDate,19)) ,load_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk			   




		--Progress Installed Quantity
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_class_progress_installed_quantity_sk,
		       dim_ent_data_sub_class_progress_installed_quantity_nk,
			   dim_ent_data_class_quantity_sk,
		       dim_ent_data_class_quantity_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_quantity_sk,
		       dim_ent_unit_of_measure_quantity_nk,
			   convert(datetime,left(progressDate,19)),
			   SUM(convert(float,Install_Qty)),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,Install_Qty),0) <> 0 
			    GROUP BY dim_ent_function_sk, dim_ent_function_nk, dim_ent_project_sk, dim_ent_project_nk, dim_entp_phase_sk, dim_entp_phase_nk, dim_entp_work_unit_sk, dim_entp_work_unit_nk, dim_entp_work_area_sk, dim_entp_work_area_nk, dim_entp_cwp_sk, dim_entp_cwp_nk, dim_entp_schedule_resource_sk, dim_entp_schedule_resource_nk, dim_entp_activity_sk, dim_entp_activity_nk, dim_entp_iwp_sk, dim_entp_iwp_nk, dim_entp_pim_sk, dim_entp_pim_nk, dim_entp_roc_sk, dim_entp_roc_nk, dim_ent_data_sub_class_progress_installed_quantity_sk, dim_ent_data_sub_class_progress_installed_quantity_nk, dim_ent_data_class_quantity_sk, dim_ent_data_class_quantity_nk, dim_ent_sub_source_sk, dim_ent_sub_source_nk, dim_ent_source_sk, dim_ent_source_nk, dim_ent_unit_of_measure_quantity_sk, dim_ent_unit_of_measure_quantity_nk, convert(datetime,left(progressDate,19)) ,load_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk	

       
		--Step Percentage
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time,dim_ent_jde_coa_sk,dim_ent_jde_coa_nk)
		select dim_ent_function_sk,
		       dim_ent_function_nk,
			   dim_ent_project_sk,
		       dim_ent_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_ent_data_sub_Percentage_sk,
		       dim_ent_data_sub_Percentage_nk,
			   dim_ent_data_Percentage_sk,
		       dim_ent_data_Percentage_nk,
			   dim_ent_sub_source_sk,
		       dim_ent_sub_source_nk,
			   dim_ent_source_sk,
		       dim_ent_source_nk,
			   dim_ent_unit_of_measure_percentage_sk,
		       dim_ent_unit_of_measure_percentage_nk,
			   convert(datetime,left(progressDate,19)),
			   convert(float,Step_Percent),
			   load_date_time,
			   dim_ent_jde_coa_sk,dim_ent_jde_coa_nk
			   from [gpd].[NCSA_Sitepro_Progress]
			   where isnull(convert(float,Step_Percent),0) <> 0 

	truncate table [gpd].[NCSA_Sitepro_Progress]

	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO


