/****** Object:  StoredProcedure [dbo].[usp_document_status_into_stage_insert]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_document_status_into_stage_insert] AS 
insert into stage.NCSA_Document_Status (document_status_desc) 
select  distinct(issue_state) from [Stage].[iDocs_P24A_ConsDocMaster]

--select * from [Stage].[iDocs_P24A_ConsDocMaster]
--select * from [dbo].[dim_ent_document_status]
----select * from stage.NCSA_Document_Status
--select * from [dbo].[dim_ent_idocs]
--select row_number() over(order by t_rowid ),
--                     status 
--       from   #tempdb 
      

--       declare @total_records int = 0;
--       select @total_records = count(*)
--       from #tempdb;

--       declare @ctr int = 1;
--       while @ctr <= @total_records
--       begin
--		declare @statusnew varchar(100)
--			--select @statusnew = status from #tempdb 

--			print @statusnew
--			print @ctr
--			if @ctr >= 1
--				select @statusnew = status from #tempdb where t_rowid = @ctr
--              begin
--			  IF NOT EXISTS (select description from #temp2 where description = @statusnew)
--                     insert into #temp2 values(@statusnew)
--              end;
              
--              set @ctr = @ctr + 1;
--	   end



GO
