/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_P6_labor_units_fact_load]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[load_NCSA_fact_P6_labor_units_fact_load] AS


		--Inserting Good records to Fact Table	
		insert into [dbo].[fact_ops]
		(dim_entp_function_sk,dim_entp_function_nk,dim_entp_project_sk,dim_entp_project_nk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_sk,dim_entp_activity_nk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_sk,dim_entp_pim_nk,dim_entp_roc_sk,dim_entp_roc_nk,dim_entp_data_sub_class_sk,dim_entp_data_sub_class_nk,dim_entp_data_class_sk,dim_entp_data_class_nk,dim_entp_sub_source_sk,dim_entp_sub_source_nk,dim_entp_source_sk,dim_entp_source_nk,dim_entp_unit_of_measure_sk,dim_entp_unit_of_measure_nk,transaction_date,transaction_quantity,created_date_time)
		select dim_entp_function_sk,
		       dim_entp_function_nk,
			   dim_entp_project_sk,
		       dim_entp_project_nk,
			   dim_entp_phase_sk,
		       dim_entp_phase_nk,
			   dim_entp_work_unit_sk,
		       dim_entp_work_unit_nk,
			   dim_entp_work_area_sk,
		       dim_entp_work_area_nk,
			   dim_entp_cwp_sk,
		       dim_entp_cwp_nk,
			   dim_entp_schedule_resource_sk,
		       dim_entp_schedule_resource_nk,
			   dim_entp_activity_sk,
		       dim_entp_activity_nk,
			   dim_entp_iwp_sk,
		       dim_entp_iwp_nk,
			   dim_entp_pim_sk,
		       dim_entp_pim_nk,
			   dim_entp_roc_sk,
		       dim_entp_roc_nk,
			   dim_entp_data_sub_class_sk,
		       dim_entp_data_sub_class_nk,
			   dim_entp_data_class_sk,
		       dim_entp_data_class_nk,
			   dim_entp_sub_source_sk,
		       dim_entp_sub_source_nk,
			   dim_entp_source_sk,
		       dim_entp_source_nk,
			   dim_entp_unit_of_measure_sk,
		       dim_entp_unit_of_measure_nk,
			   LU_Date,
			   Units, 
			   load_date_time
			   from [gpd].[NCSA_P6_Labor_Units_v]
		
	truncate table [gpd].[NCSA_P6_Labor_Units]

--	if isnull(@processed_count,0) > 0 
--	begin
--		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
--	end
--	select @error_message = isnull(@error_message,'')
--	if isnull(@processed_count,0) > 0 
--	begin
--		select @error_message = @error_message + 'Total records failed valication ' + convert(varchar(40),@unprocessed_count)
--	end

--	if isnull(@error_message,'') = '' 
--	begin
--	  select 'Success'; 
--	end
--	else
--	begin
--      select @error_message ;
--	end

--end try
--begin catch
--	if @errorMessage is not null
--	begin
--		select 'Failed', @errorMessage;
--	end
--	else
--	begin
--		select 'Falied', error_message()
--	end;
--end catch;
--end;		
--GO


GO
