/****** Object:  StoredProcedure [dbo].[usp_project_number_idocs_doc_update]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_project_number_idocs_doc_update] AS 
UPDATE [gpd].[iDocs_P24A_ConsDocMaster] 
SET PROJECT_NUMBER = '99'+PROJECT_NUMBER
GO
