/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_progress_validate]    Script Date: 5/21/2021 3:12:40 AM ******/
DROP PROCEDURE [dbo].[load_NCSA_fact_sitepro_progress_validate]
GO

/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_progress_validate]    Script Date: 5/21/2021 3:12:40 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[load_NCSA_fact_sitepro_progress_validate] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);
	--This code to be removed once we implement the increment logic
	delete from gpd.reprocess_NCSA_Sitepro_Progress
	---------



	-- validation
	--if @pContractNumber is null
	--begin
	--	set @errorMessage = 'Contract Number must be specified';
	--	select @exceptionRaiser = '1';
	--end;
		
		----update project Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_entp_project', 'dim_ent_project_sk', 'dim_ent_project_nk', 'dim_entp_project_sk', 
		--	'dim_entp_project_nk', 'project_number', 'project_number', 'ProgressDate', 'fact_ops', 1


			
		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_project_sk', 'dim_ent_project_nk',
                'dim_entp_project', 'dim_entp_project_sk', 'dim_entp_project_nk', 'project_number', 'project_number', 'FL',NULL ;


	truncate table [gpd].[NSCA_pim]

	declare @load_date_time datetime
	select @load_date_time = getdate()
	
	update gpd.NCSA_Sitepro_Progress set  load_date_time = @load_date_time


	insert into [gpd].[NSCA_pim]
	(	project_number ,
		[PMID],
		[PMID_Description],
		[contract],
		[cost_code],
		[Cost_Code_Description],
		[costing_coa],
		[Drawing_no],
		[Tag_no],
		[spool],
		[line],
		[spec],
		[sub_system],
		[piece_mark],
		[cost_type],
		[number_of_pieces],
		[system],
		[text5],
		[level6],
		[planned_status],
		[progress_status],
		[IWP_Code],
		dim_entp_project_nk)
		select distinct project_number,PMID,PMID_Description,contract,Cost_Code,Cost_Code_Description,COsting_COA,Drawing_no,Tag_no,spool,line,spec,system,
		piece_mark,cost_type,number_of_pieces,system,text5,level6,planned_status,progress_status,iwp_code,dim_ent_project_nk
		from [gpd].[NCSA_Sitepro_Progress]

		execute [dbo].[generic_load_dim_v2 ] 'dim_entp_pim','Y','N','Y' 

		
		--Update Phase for missing reprocess records
		update gpd.reprocess_NCSA_Sitepro_Progress
		set phase_code = p.phase_code
		from gpd.reprocess_NCSA_Sitepro_Progress a,
		[dbo].[dim_entp_work_area] wa,
		[dbo].[dim_entp_phase] p
		where a.work_area_code = wa.work_area_code
		and wa.dim_entp_project_nk = a.dim_ent_project_nk
		and wa.dim_entp_phase_nk = p.dim_entp_phase_nk


		insert into [gpd].[NCSA_Sitepro_Progress]
		([project_number],[function_code],[source_code],[sub_source_code],[data_class_budget_code],[data_class_progress_code],[data_class_quantity_name],[data_class_time_name],[sub_class_budget_hours_code],[sub_class_budget_quantity_code],[sub_class_progress_hours_code],[sub_class_progress_quantity_code],[sub_class_progress_installed_quantity_code],[unit_of_measure_code_quantity],[unit_of_measure_code_hours],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[IWP_Status_Code],[IWP_StatusDescription],[PMID],[PMID_Description],[Contract],[Cost_Code],[Cost_Code_Description],[Costing_COA],[Drawing_No],[Tag_No],[spool],[line],[spec],[system],[Piece_Mark],[Cost_Type],[Number_Of_Pieces],[Subsystem],[Text5],[Bom_Node_ID],[Doc_ID],[Staging_Reference],[Level6],[planned_Status],[progress_Status],[workpack_status],[IFC],[ProgressHistoryID],[ROCCode],[Step],[Is_Driving],[Name],[Capture_Origin],[UserName],[Progress_Entry_Date_Time],[TimestampShift],[ProgressDate],[ProgressDelta],[ProgressCumulative],[Step_Percent],[Budget_Hrs],[Progressed_Hrs],[Budget_Qty],[Progressed_Qty],[Install_Qty],[max_date],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_budget_sk],[dim_ent_data_class_budget_nk],[dim_ent_data_class_progress_sk],[dim_ent_data_class_progress_nk],[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],[dim_ent_data_sub_class_budget_hours_sk],[dim_ent_data_sub_class_budget_hours_nk],[dim_ent_data_sub_class_budget_quantity_sk],[dim_ent_data_sub_class_budget_quantity_nk],[dim_ent_data_sub_class_progress_hours_sk],[dim_ent_data_sub_class_progress_hours_nk],[dim_ent_data_sub_class_progress_quantity_sk],[dim_ent_data_sub_class_progress_quantity_nk],[dim_ent_data_sub_class_progress_installed_quantity_sk],[dim_ent_data_sub_class_progress_installed_quantity_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_quantity_nk],[dim_ent_unit_of_measure_quantity_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_unit_of_measure_hours_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[CWP_Code],[dim_ent_unit_of_measure_percentage_sk],[dim_ent_unit_of_measure_percentage_nk],[dim_ent_data_Percentage_sk],[dim_ent_data_Percentage_nk],[dim_ent_data_sub_Percentage_sk],[dim_ent_data_sub_Percentage_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time],[data_class_percentage_code],[sub_class_percentage_code],[unit_of_measure_code_percentage])
		select 
		[project_number],[function_code],[source_code],[sub_source_code],[data_class_budget_code],[data_class_progress_code],[data_class_quantity_name],[data_class_time_name],[sub_class_budget_hours_code],[sub_class_budget_quantity_code],[sub_class_progress_hours_code],[sub_class_progress_quantity_code],[sub_class_progress_installed_quantity_code],[unit_of_measure_code_quantity],[unit_of_measure_code_hours],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[IWP_Status_Code],[IWP_StatusDescription],[PMID],[PMID_Description],[Contract],[Cost_Code],[Cost_Code_Description],[Costing_COA],[Drawing_No],[Tag_No],[spool],[line],[spec],[system],[Piece_Mark],[Cost_Type],[Number_Of_Pieces],[Subsystem],[Text5],[Bom_Node_ID],[Doc_ID],[Staging_Reference],[Level6],[planned_Status],[progress_Status],[workpack_status],[IFC],[ProgressHistoryID],[ROCCode],[Step],[Is_Driving],[Name],[Capture_Origin],[UserName],[Progress_Entry_Date_Time],[TimestampShift],[ProgressDate],[ProgressDelta],[ProgressCumulative],[Step_Percent],[Budget_Hrs],[Progressed_Hrs],[Budget_Qty],[Progressed_Qty],[Install_Qty],[max_date],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_budget_sk],[dim_ent_data_class_budget_nk],[dim_ent_data_class_progress_sk],[dim_ent_data_class_progress_nk],[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],[dim_ent_data_sub_class_budget_hours_sk],[dim_ent_data_sub_class_budget_hours_nk],[dim_ent_data_sub_class_budget_quantity_sk],[dim_ent_data_sub_class_budget_quantity_nk],[dim_ent_data_sub_class_progress_hours_sk],[dim_ent_data_sub_class_progress_hours_nk],[dim_ent_data_sub_class_progress_quantity_sk],[dim_ent_data_sub_class_progress_quantity_nk],[dim_ent_data_sub_class_progress_installed_quantity_sk],[dim_ent_data_sub_class_progress_installed_quantity_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_quantity_nk],[dim_ent_unit_of_measure_quantity_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_unit_of_measure_hours_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[CWP_Code],[dim_ent_unit_of_measure_percentage_sk],[dim_ent_unit_of_measure_percentage_nk],[dim_ent_data_Percentage_sk],[dim_ent_data_Percentage_nk],[dim_ent_data_sub_Percentage_sk],[dim_ent_data_sub_Percentage_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time],[data_class_percentage_code],[sub_class_percentage_code],[unit_of_measure_code_percentage]
		from gpd.reprocess_NCSA_Sitepro_Progress

		delete from gpd.reprocess_NCSA_Sitepro_Progress




		  
		--Make sure the data is unique
		select project_number,function_code,source_code,sub_source_code,data_class_budget_code,data_class_progress_code,sub_class_budget_hours_code,sub_class_budget_quantity_code,sub_class_progress_hours_code,sub_class_progress_quantity_code,sub_class_progress_installed_quantity_code,
		unit_of_measure_code_quantity,unit_of_measure_code_hours,phase_code,schedule_resource_code,work_unit_code,work_area_code,activity_code,IWP_Code,IWP_Status_Code,IWP_StatusDescription,PMID,PMID_Description,Contract,Cost_Code,Cost_Code_Description,Costing_COA,Drawing_No,Tag_No,spool,line
		,spec,system,Piece_Mark,Cost_Type,Number_Of_Pieces,Subsystem,Text5,Bom_Node_ID,Doc_ID,Staging_Reference,Level6,planned_Status,progress_Status,workpack_status,IFC,0 ProgressHistoryID,ROCCode,Step,Is_Driving,Name,max(Capture_Origin) Capture_Origin,max(UserName) UserName,max(Progress_Entry_Date_Time) Progress_Entry_Date_Time,TimestampShift,ProgressDate
		,sum(convert(float,ProgressDelta)) ProgressDelta,sum(convert(float,ProgressCumulative)) ProgressCumulative,sum(convert(float,Step_Percent)) Step_Percent,sum(convert(float,Budget_Hrs)) Budget_Hrs,sum(convert(float,Progressed_Hrs)) Progressed_Hrs,sum(convert(float,Budget_Qty)) Budget_Qty,
		sum(convert(float,Progressed_Qty)) Progressed_Qty,sum(convert(float,Install_Qty)) Install_Qty,max_date,dim_ent_function_sk,dim_ent_function_nk,dim_ent_project_sk,dim_ent_project_nk,dim_ent_data_class_budget_sk,dim_ent_data_class_budget_nk,dim_ent_data_class_progress_sk
		,dim_ent_data_class_progress_nk,dim_ent_data_sub_class_budget_hours_sk,dim_ent_data_sub_class_budget_hours_nk,dim_ent_data_sub_class_budget_quantity_sk,dim_ent_data_sub_class_budget_quantity_nk,dim_ent_data_sub_class_progress_hours_sk,dim_ent_data_sub_class_progress_hours_nk,dim_ent_data_sub_class_progress_quantity_sk,
		dim_ent_data_sub_class_progress_quantity_nk,dim_ent_data_sub_class_progress_installed_quantity_sk,dim_ent_data_sub_class_progress_installed_quantity_nk,dim_ent_sub_source_sk,dim_ent_sub_source_nk,dim_ent_source_sk,dim_ent_source_nk,dim_ent_unit_of_measure_quantity_nk,dim_ent_unit_of_measure_quantity_sk
		,dim_ent_unit_of_measure_hours_nk,dim_ent_unit_of_measure_hours_sk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_nk,
		dim_entp_activity_sk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_nk,dim_entp_pim_sk,dim_entp_roc_sk,dim_entp_roc_nk,CWP_Code,dim_ent_unit_of_measure_percentage_sk,dim_ent_unit_of_measure_percentage_nk,dim_ent_data_Percentage_sk,dim_ent_data_Percentage_nk,dim_ent_data_sub_Percentage_sk,dim_ent_data_sub_Percentage_nk,
		dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,load_date_time,data_class_percentage_code,sub_class_percentage_code,unit_of_measure_code_percentage,[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],
		data_class_quantity_name,data_class_time_name
		into #summary_trans
	 from [gpd].[NCSA_Sitepro_Progress]
		group by project_number,function_code,source_code,sub_source_code,data_class_budget_code,data_class_progress_code,sub_class_budget_hours_code,sub_class_budget_quantity_code,sub_class_progress_hours_code,sub_class_progress_quantity_code,sub_class_progress_installed_quantity_code,
		unit_of_measure_code_quantity,unit_of_measure_code_hours,phase_code,schedule_resource_code,work_unit_code,work_area_code,activity_code,IWP_Code,IWP_Status_Code,IWP_StatusDescription,PMID,PMID_Description,Contract,Cost_Code,Cost_Code_Description,Costing_COA,Drawing_No,Tag_No,spool,line
		,spec,system,Piece_Mark,Cost_Type,Number_Of_Pieces,Subsystem,Text5,Bom_Node_ID,Doc_ID,Staging_Reference,Level6,planned_Status,progress_Status,workpack_status,IFC,ROCCode,Step,Is_Driving,Name,TimestampShift,ProgressDate
		,max_date,dim_ent_function_sk,dim_ent_function_nk,dim_ent_project_sk,dim_ent_project_nk,dim_ent_data_class_budget_sk,dim_ent_data_class_budget_nk,dim_ent_data_class_progress_sk
		,dim_ent_data_class_progress_nk,dim_ent_data_sub_class_budget_hours_sk,dim_ent_data_sub_class_budget_hours_nk,dim_ent_data_sub_class_budget_quantity_sk,dim_ent_data_sub_class_budget_quantity_nk,dim_ent_data_sub_class_progress_hours_sk,dim_ent_data_sub_class_progress_hours_nk,dim_ent_data_sub_class_progress_quantity_sk,
		dim_ent_data_sub_class_progress_quantity_nk,dim_ent_data_sub_class_progress_installed_quantity_sk,dim_ent_data_sub_class_progress_installed_quantity_nk,dim_ent_sub_source_sk,dim_ent_sub_source_nk,dim_ent_source_sk,dim_ent_source_nk,dim_ent_unit_of_measure_quantity_nk,dim_ent_unit_of_measure_quantity_sk
		,dim_ent_unit_of_measure_hours_nk,dim_ent_unit_of_measure_hours_sk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_nk,
		dim_entp_activity_sk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_nk,dim_entp_pim_sk,dim_entp_roc_sk,dim_entp_roc_nk,CWP_Code,dim_ent_unit_of_measure_percentage_sk,dim_ent_unit_of_measure_percentage_nk,dim_ent_data_Percentage_sk,dim_ent_data_Percentage_nk,dim_ent_data_sub_Percentage_sk,dim_ent_data_sub_Percentage_nk,
		dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,load_date_time,data_class_percentage_code,sub_class_percentage_code,unit_of_measure_code_percentage,[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],
		data_class_quantity_name,data_class_time_name
		
		truncate table [gpd].[NCSA_Sitepro_Progress]

		insert into [gpd].[NCSA_Sitepro_Progress]
		(project_number,function_code,source_code,sub_source_code,data_class_budget_code,data_class_progress_code,sub_class_budget_hours_code,sub_class_budget_quantity_code,sub_class_progress_hours_code,sub_class_progress_quantity_code,sub_class_progress_installed_quantity_code,
		unit_of_measure_code_quantity,unit_of_measure_code_hours,phase_code,schedule_resource_code,work_unit_code,work_area_code,activity_code,IWP_Code,IWP_Status_Code,IWP_StatusDescription,PMID,PMID_Description,Contract,Cost_Code,Cost_Code_Description,Costing_COA,Drawing_No,Tag_No,spool,line
		,spec,system,Piece_Mark,Cost_Type,Number_Of_Pieces,Subsystem,Text5,Bom_Node_ID,Doc_ID,Staging_Reference,Level6,planned_Status,progress_Status,workpack_status,IFC,ProgressHistoryID,ROCCode,Step,Is_Driving,Name,Capture_Origin,UserName,Progress_Entry_Date_Time,TimestampShift,ProgressDate
		,ProgressDelta,ProgressCumulative,Step_Percent,Budget_Hrs,Progressed_Hrs,Budget_Qty,Progressed_Qty,Install_Qty,max_date,dim_ent_function_sk,dim_ent_function_nk,dim_ent_project_sk,dim_ent_project_nk,dim_ent_data_class_budget_sk,dim_ent_data_class_budget_nk,dim_ent_data_class_progress_sk
		,dim_ent_data_class_progress_nk,dim_ent_data_sub_class_budget_hours_sk,dim_ent_data_sub_class_budget_hours_nk,dim_ent_data_sub_class_budget_quantity_sk,dim_ent_data_sub_class_budget_quantity_nk,dim_ent_data_sub_class_progress_hours_sk,dim_ent_data_sub_class_progress_hours_nk,dim_ent_data_sub_class_progress_quantity_sk,
		dim_ent_data_sub_class_progress_quantity_nk,dim_ent_data_sub_class_progress_installed_quantity_sk,dim_ent_data_sub_class_progress_installed_quantity_nk,dim_ent_sub_source_sk,dim_ent_sub_source_nk,dim_ent_source_sk,dim_ent_source_nk,dim_ent_unit_of_measure_quantity_nk,dim_ent_unit_of_measure_quantity_sk
		,dim_ent_unit_of_measure_hours_nk,dim_ent_unit_of_measure_hours_sk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_nk,
		dim_entp_activity_sk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_nk,dim_entp_pim_sk,dim_entp_roc_sk,dim_entp_roc_nk,CWP_Code,dim_ent_unit_of_measure_percentage_sk,dim_ent_unit_of_measure_percentage_nk,dim_ent_data_Percentage_sk,dim_ent_data_Percentage_nk,dim_ent_data_sub_Percentage_sk,dim_ent_data_sub_Percentage_nk,
		dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,load_date_time,data_class_percentage_code,sub_class_percentage_code,unit_of_measure_code_percentage,[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],
		data_class_quantity_name,data_class_time_name)
		select 
		project_number,function_code,source_code,sub_source_code,data_class_budget_code,data_class_progress_code,sub_class_budget_hours_code,sub_class_budget_quantity_code,sub_class_progress_hours_code,sub_class_progress_quantity_code,sub_class_progress_installed_quantity_code,
		unit_of_measure_code_quantity,unit_of_measure_code_hours,phase_code,schedule_resource_code,work_unit_code,work_area_code,activity_code,IWP_Code,IWP_Status_Code,IWP_StatusDescription,PMID,PMID_Description,Contract,Cost_Code,Cost_Code_Description,Costing_COA,Drawing_No,Tag_No,spool,line
		,spec,system,Piece_Mark,Cost_Type,Number_Of_Pieces,Subsystem,Text5,Bom_Node_ID,Doc_ID,Staging_Reference,Level6,planned_Status,progress_Status,workpack_status,IFC,ProgressHistoryID,ROCCode,Step,Is_Driving,Name,Capture_Origin,UserName,Progress_Entry_Date_Time,TimestampShift,ProgressDate
		,convert(varchar(50),ProgressDelta),convert(varchar(50),ProgressCumulative),convert(varchar(50),Step_Percent),convert(varchar(50),Budget_Hrs),convert(varchar(50),Progressed_Hrs),convert(varchar(50),Budget_Qty),convert(varchar(50),Progressed_Qty),convert(varchar(50),Install_Qty),max_date,dim_ent_function_sk,dim_ent_function_nk,dim_ent_project_sk,dim_ent_project_nk,dim_ent_data_class_budget_sk,dim_ent_data_class_budget_nk,dim_ent_data_class_progress_sk
		,dim_ent_data_class_progress_nk,dim_ent_data_sub_class_budget_hours_sk,dim_ent_data_sub_class_budget_hours_nk,dim_ent_data_sub_class_budget_quantity_sk,dim_ent_data_sub_class_budget_quantity_nk,dim_ent_data_sub_class_progress_hours_sk,dim_ent_data_sub_class_progress_hours_nk,dim_ent_data_sub_class_progress_quantity_sk,
		dim_ent_data_sub_class_progress_quantity_nk,dim_ent_data_sub_class_progress_installed_quantity_sk,dim_ent_data_sub_class_progress_installed_quantity_nk,dim_ent_sub_source_sk,dim_ent_sub_source_nk,dim_ent_source_sk,dim_ent_source_nk,dim_ent_unit_of_measure_quantity_nk,dim_ent_unit_of_measure_quantity_sk
		,dim_ent_unit_of_measure_hours_nk,dim_ent_unit_of_measure_hours_sk,dim_entp_phase_sk,dim_entp_phase_nk,dim_entp_work_unit_sk,dim_entp_work_unit_nk,dim_entp_work_area_sk,dim_entp_work_area_nk,dim_entp_cwp_sk,dim_entp_cwp_nk,dim_entp_schedule_resource_sk,dim_entp_schedule_resource_nk,dim_entp_activity_nk,
		dim_entp_activity_sk,dim_entp_iwp_sk,dim_entp_iwp_nk,dim_entp_pim_nk,dim_entp_pim_sk,dim_entp_roc_sk,dim_entp_roc_nk,CWP_Code,dim_ent_unit_of_measure_percentage_sk,dim_ent_unit_of_measure_percentage_nk,dim_ent_data_Percentage_sk,dim_ent_data_Percentage_nk,dim_ent_data_sub_Percentage_sk,dim_ent_data_sub_Percentage_nk,
		dim_ent_jde_coa_sk,dim_ent_jde_coa_nk,load_date_time,data_class_percentage_code,sub_class_percentage_code,unit_of_measure_code_percentage,[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],
		data_class_quantity_name,data_class_time_name
		from #summary_trans

		drop table #summary_trans

		---Taking data from reprocesss area
		
		--select * from stage.NCSA_Sitepro_Progress

		--update Function Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'dim_ent_function_sk', 
		--	'dim_ent_function_nk', 'function_code', 'function_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_function_sk', 'dim_ent_function_nk',
                'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'function_code', 'function_name', 'F',NULL ;

		--Update Data class for Budget
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_data_class', 'dim_ent_data_class_budget_sk', 'dim_ent_data_class_budget_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class_budget_code', 'data_class_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_data_class_budget_sk', 'dim_ent_data_class_budget_nk',
                'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'data_class_budget_code', 'data_class_name', NULL,NULL ;

		--Update Data class for progress
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_data_class', 'dim_ent_data_class_progress_sk', 'dim_ent_data_class_progress_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class_progress_code', 'data_class_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_data_class_progress_sk', 'dim_ent_data_class_progress_nk',
                'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'data_class_progress_code', 'data_class_name', NULL,NULL ;

		--Update Data class for Quantity
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_data_class', 'dim_ent_data_class_quantity_sk', 'dim_ent_data_class_quantity_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class_quantity_name', 'data_class_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_data_class_quantity_sk', 'dim_ent_data_class_quantity_nk',
                'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'data_class_quantity_name', 'data_class_name', NULL,NULL ;

		--Update Data class for Time
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_data_class', 'dim_ent_data_class_time_sk', 'dim_ent_data_class_time_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class_time_name', 'data_class_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_data_class_time_sk', 'dim_ent_data_class_time_nk',
                'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'data_class_time_name', 'data_class_name', NULL,NULL ;

		--Update Source
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source_sk', 
		--	'dim_ent_source_nk', 'source_code', 'source_name', 'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_source_sk', 'dim_ent_source_nk',
                'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'source_code', 'source_name', NULL,NULL ;


		--Update Unit of Measure - Hours
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_hours_sk', 'dim_ent_unit_of_measure_hours_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure_code_hours', 'unit_of_measure_code', 
		--	'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_unit_of_measure_hours_sk', 'dim_ent_unit_of_measure_hours_nk',
                'dim_ent_unit_of_measure', 'dim_ent_unit_of_measure_sk', 'dim_ent_unit_of_measure_nk', 'unit_of_measure_code_hours', 'unit_of_measure_code', NULL,NULL ;

		--Update Unit of Measure - Quantity
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Progress', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_quantity_sk', 'dim_ent_unit_of_measure_quantity_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure_code_quantity', 'unit_of_measure_code', 
		--	'ProgressDate', 'fact_ops', 1

		execute [stage].[fact_lookup_based_on_one_key]
                'gpd.NCSA_Sitepro_Progress', 'gpd.NCSA_Sitepro_Progress',  'ncsa_sitepro_prog_id', 'dim_ent_unit_of_measure_quantity_sk', 'dim_ent_unit_of_measure_quantity_nk',
                'dim_ent_unit_of_measure', 'dim_ent_unit_of_measure_sk', 'dim_ent_unit_of_measure_nk', 'unit_of_measure_code_quantity', 'unit_of_measure_code', 'L',NULL ;



        --Update Data Sub Class - Budget Hours

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_class_budget_hours_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_budget_hours_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_unit_of_measure_hours_nk = b.dim_ent_data_class_nk
		and a.sub_class_budget_hours_code = b.data_sub_class_name
		and b.active = 1
        --Update Data Sub Class - Budget Quantity

		--select * from dbo.dim_ent_data_sub_class

		--select top 10 * from [gpd].[NCSA_Sitepro_Progress]
		--select * from dbo.dim_ent_data_sub_class where data_sub_class_name in ('Sitepro Earned Hours','Sitepro Earned Quantity',

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_class_budget_quantity_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_budget_quantity_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_quantity_nk = b.dim_ent_data_class_nk
		and a.sub_class_budget_quantity_code = b.data_sub_class_name
		and b.active = 1

        --Update Data Sub Class - Progress Hours

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_class_progress_hours_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_progress_hours_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_time_nk = b.dim_ent_data_class_nk
		and a.sub_class_progress_hours_code = b.data_sub_class_name
		and b.active = 1

        --Update Data Sub Class - Progress Quantity

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_class_progress_quantity_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_progress_quantity_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_quantity_nk = b.dim_ent_data_class_nk
		and a.sub_class_progress_quantity_code = b.data_sub_class_name
		and b.active = 1

		--Update Data Sub Class - Progress Installed Quantity

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_class_progress_installed_quantity_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_progress_installed_quantity_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_quantity_nk = b.dim_ent_data_class_nk
		and a.sub_class_progress_installed_quantity_code = b.data_sub_class_name
		and b.active = 1

		--Update Sub Source

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_sub_source_sk = b.dim_ent_sub_source_sk,
		dim_ent_sub_source_nk = b.dim_ent_sub_source_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_sub_source b
		where a.dim_ent_source_nk = b.dim_ent_source_nk
		and a.sub_source_code = b.sub_source_name
		and b.active = 1

		--Update Phase

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_phase b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.phase_code = b.phase_code
		and b.active = 1

		--Update Work Unit

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_work_unit b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.work_unit_code = b.work_unit_code
		and b.active = 1

		--Update Work Area

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
		dim_entp_work_area_nk = b.dim_entp_work_area_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_work_area b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.work_area_code = b.work_area_code
		and b.active = 1

		--Update CWP

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_cwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.cwp_code = b.cwp_code
		and b.active = 1

		
		--Update Schedule Resource

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_schedule_resource b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.schedule_resource_code = b.schedule_resource_code
		and b.active = 1

		--Update Activity

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_activity_sk = b.dim_entp_activity_sk,
		dim_entp_activity_nk = b.dim_entp_activity_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_activity b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.activity_code = b.activity_code
		and b.active = 1

		--Update IWP

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_iwp_sk = b.dim_entp_iwp_sk,
		dim_entp_iwp_nk = b.dim_entp_iwp_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_iwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.iwp_code = b.iwp_code
		and b.active = 1

		--Update PIM

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_pim_sk = b.dim_entp_pim_sk,
		dim_entp_pim_nk = b.dim_entp_pim_nk,
		coa_value = 'JDE.' + '00' + left(b.contract,3) + '.' + ltrim(rtrim(b.contract)) + '.' + ltrim(rtrim(b.cost_type)) + '.' + ltrim(rtrim(b.costing_coa))
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_pim b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.PMID = b.pim_code
		and b.active = 1

		--Update ROC
		
		update [gpd].[NCSA_Sitepro_Progress]
		set dim_entp_roc_sk = b.dim_entp_roc_sk,
		dim_entp_roc_nk = b.dim_entp_roc_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_entp_roc b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.ROCCODE = b.roc_code
		and a.step = b.rocs_step
		and b.active = 1

		--Update JDE Key

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_jde_coa_sk = b.dim_ent_jde_coa_sk,
		dim_ent_jde_coa_nk = b.dim_ent_jde_coa_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_jde_coa b
		where a.project_number = b.project
		and a.coa_value = b.coa_value
		and b.active = 1


		--Update UOM Percentage

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_unit_of_measure_percentage_sk = b.dim_ent_unit_of_measure_sk,
		dim_ent_unit_of_measure_percentage_nk = b.dim_ent_unit_of_measure_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_unit_of_measure b
		where b.unit_of_measure_code = a.unit_of_measure_code_percentage
		and b.active = 1

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_percentage_sk = b.dim_ent_data_class_sk,
		dim_ent_data_percentage_nk = b.dim_ent_data_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_class b
		where b.data_class_name = a.data_class_percentage_code
		and b.active = 1

		update [gpd].[NCSA_Sitepro_Progress]
		set dim_ent_data_sub_percentage_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_percentage_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_Progress] a,dbo.dim_ent_data_sub_class b
		where b.data_sub_class_name = a.sub_class_percentage_code
		and b.active = 1


		--alter table [gpd].[NCSA_Sitepro_Progress] add unit_of_measure_code_percentage varchar(50)
		--alter table [Stage].[reprocess_NCSA_Sitepro_Progress] add unit_of_measure_code_percentage varchar(50)


		select @unprocessed_count  = count(*)  from [gpd].[NCSA_Sitepro_Progress]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_class_time_sk is null
		or dim_ent_data_class_time_nk is null
		or dim_ent_data_sub_class_budget_hours_sk is null
		or dim_ent_data_sub_class_budget_hours_nk is null
		or dim_ent_data_sub_class_budget_quantity_sk is null
		or dim_ent_data_sub_class_budget_quantity_nk is null
		or dim_ent_data_sub_class_progress_hours_sk is null
		or dim_ent_data_sub_class_progress_hours_nk is null
		or dim_ent_data_sub_class_progress_quantity_sk is null
		or dim_ent_data_sub_class_progress_quantity_nk is null
		or dim_ent_data_sub_class_progress_installed_quantity_sk is null
		or dim_ent_data_sub_class_progress_installed_quantity_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_quantity_nk is null
		or dim_ent_unit_of_measure_quantity_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_unit_of_measure_percentage_sk is null
		or dim_ent_unit_of_measure_percentage_nk is null
		or dim_ent_data_Percentage_sk is null
		or dim_ent_data_Percentage_nk is null
		or dim_ent_data_sub_Percentage_sk is null
		or dim_ent_data_sub_Percentage_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null

		select @processed_count  = count(*)  from [gpd].[NCSA_Sitepro_Progress]
		where 
			dim_ent_function_sk is not null
		and dim_ent_function_nk is not null
		and dim_ent_project_sk is not null
		and dim_ent_project_nk is not null
		and dim_ent_data_class_time_sk is not null
		and dim_ent_data_class_time_nk is not null
		and dim_ent_data_class_quantity_sk is not null
		and dim_ent_data_class_quantity_nk is not null
		and dim_ent_data_sub_class_budget_hours_sk is not null
		and dim_ent_data_sub_class_budget_hours_nk is not null
		and dim_ent_data_sub_class_budget_quantity_sk is not null
		and dim_ent_data_sub_class_budget_quantity_nk is not null
		and dim_ent_data_sub_class_progress_hours_sk is not null
		and dim_ent_data_sub_class_progress_hours_nk is not null
		and dim_ent_data_sub_class_progress_quantity_sk is not null
		and dim_ent_data_sub_class_progress_quantity_nk is not null
		and dim_ent_data_sub_class_progress_installed_quantity_sk is not null
		and dim_ent_data_sub_class_progress_installed_quantity_nk is not null
		and dim_ent_sub_source_sk is not null
		and dim_ent_sub_source_nk is not null
		and dim_ent_source_sk is not null
		and dim_ent_source_nk is not null
		and dim_ent_unit_of_measure_quantity_nk is not null
		and dim_ent_unit_of_measure_quantity_sk is not null
		and dim_ent_unit_of_measure_hours_nk is not null
		and dim_ent_unit_of_measure_hours_sk is not null
		and dim_entp_phase_sk is not null
		and dim_entp_phase_nk is not null
		and dim_entp_work_unit_sk is not null
		and dim_entp_work_unit_nk is not null
		and dim_entp_work_area_sk is not null
		and dim_entp_work_area_nk is not null
		and dim_entp_cwp_sk is not null
		and dim_entp_cwp_nk is not null
		and dim_entp_schedule_resource_sk is not null
		and dim_entp_schedule_resource_nk is not null
		and dim_entp_activity_nk is not null
		and dim_entp_activity_sk is not null
		and dim_entp_iwp_sk is not null
		and dim_entp_iwp_nk is not null
		and dim_entp_pim_nk is not null
		and dim_entp_pim_sk is not null
		and dim_entp_roc_sk is not null
		and dim_entp_roc_nk is not null
		and dim_ent_unit_of_measure_percentage_sk is not null
		and dim_ent_unit_of_measure_percentage_nk is not null
		and dim_ent_data_Percentage_sk is not null
		and dim_ent_data_Percentage_nk is not null
		and dim_ent_data_sub_Percentage_sk is not null
		and dim_ent_data_sub_Percentage_nk is not null
		and dim_ent_jde_coa_sk is not null
		and dim_ent_jde_coa_nk is not null

		

		--select * from [dbo].[dim_entp_activity]

		--select   * from [gpd].[NCSA_Sitepro_Progress]
		--select  * from [dbo].[dim_entp_roc]
		--Moving error data to reprocessing area
		insert into gpd.reprocess_NCSA_Sitepro_Progress
		([project_number],[function_code],[source_code],[sub_source_code],[data_class_budget_code],[data_class_progress_code],[data_class_quantity_name],[data_class_time_name],[sub_class_budget_hours_code],[sub_class_budget_quantity_code],[sub_class_progress_hours_code],[sub_class_progress_quantity_code],[sub_class_progress_installed_quantity_code],[unit_of_measure_code_quantity],[unit_of_measure_code_hours],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[IWP_Status_Code],[IWP_StatusDescription],[PMID],[PMID_Description],[Contract],[Cost_Code],[Cost_Code_Description],[Costing_COA],[Drawing_No],[Tag_No],[spool],[line],[spec],[system],[Piece_Mark],[Cost_Type],[Number_Of_Pieces],[Subsystem],[Text5],[Bom_Node_ID],[Doc_ID],[Staging_Reference],[Level6],[planned_Status],[progress_Status],[workpack_status],[IFC],[ProgressHistoryID],[ROCCode],[Step],[Is_Driving],[Name],[Capture_Origin],[UserName],[Progress_Entry_Date_Time],[TimestampShift],[ProgressDate],[ProgressDelta],[ProgressCumulative],[Step_Percent],[Budget_Hrs],[Progressed_Hrs],[Budget_Qty],[Progressed_Qty],[Install_Qty],[max_date],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_budget_sk],[dim_ent_data_class_budget_nk],[dim_ent_data_class_progress_sk],[dim_ent_data_class_progress_nk],[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],[dim_ent_data_sub_class_budget_hours_sk],[dim_ent_data_sub_class_budget_hours_nk],[dim_ent_data_sub_class_budget_quantity_sk],[dim_ent_data_sub_class_budget_quantity_nk],[dim_ent_data_sub_class_progress_hours_sk],[dim_ent_data_sub_class_progress_hours_nk],[dim_ent_data_sub_class_progress_quantity_sk],[dim_ent_data_sub_class_progress_quantity_nk],[dim_ent_data_sub_class_progress_installed_quantity_sk],[dim_ent_data_sub_class_progress_installed_quantity_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_quantity_nk],[dim_ent_unit_of_measure_quantity_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_unit_of_measure_hours_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[CWP_Code],[dim_ent_unit_of_measure_percentage_sk],[dim_ent_unit_of_measure_percentage_nk],[dim_ent_data_Percentage_sk],[dim_ent_data_Percentage_nk],[dim_ent_data_sub_Percentage_sk],[dim_ent_data_sub_Percentage_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time],[data_class_percentage_code],[sub_class_percentage_code],[unit_of_measure_code_percentage])
		select 
		[project_number],[function_code],[source_code],[sub_source_code],[data_class_budget_code],[data_class_progress_code],[data_class_quantity_name],[data_class_time_name],[sub_class_budget_hours_code],[sub_class_budget_quantity_code],[sub_class_progress_hours_code],[sub_class_progress_quantity_code],[sub_class_progress_installed_quantity_code],[unit_of_measure_code_quantity],[unit_of_measure_code_hours],[phase_code],[schedule_resource_code],[work_unit_code],[work_area_code],[activity_code],[IWP_Code],[IWP_Status_Code],[IWP_StatusDescription],[PMID],[PMID_Description],[Contract],[Cost_Code],[Cost_Code_Description],[Costing_COA],[Drawing_No],[Tag_No],[spool],[line],[spec],[system],[Piece_Mark],[Cost_Type],[Number_Of_Pieces],[Subsystem],[Text5],[Bom_Node_ID],[Doc_ID],[Staging_Reference],[Level6],[planned_Status],[progress_Status],[workpack_status],[IFC],[ProgressHistoryID],[ROCCode],[Step],[Is_Driving],[Name],[Capture_Origin],[UserName],[Progress_Entry_Date_Time],[TimestampShift],[ProgressDate],[ProgressDelta],[ProgressCumulative],[Step_Percent],[Budget_Hrs],[Progressed_Hrs],[Budget_Qty],[Progressed_Qty],[Install_Qty],[max_date],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_budget_sk],[dim_ent_data_class_budget_nk],[dim_ent_data_class_progress_sk],[dim_ent_data_class_progress_nk],[dim_ent_data_class_quantity_sk],[dim_ent_data_class_quantity_nk],[dim_ent_data_class_time_sk],[dim_ent_data_class_time_nk],[dim_ent_data_sub_class_budget_hours_sk],[dim_ent_data_sub_class_budget_hours_nk],[dim_ent_data_sub_class_budget_quantity_sk],[dim_ent_data_sub_class_budget_quantity_nk],[dim_ent_data_sub_class_progress_hours_sk],[dim_ent_data_sub_class_progress_hours_nk],[dim_ent_data_sub_class_progress_quantity_sk],[dim_ent_data_sub_class_progress_quantity_nk],[dim_ent_data_sub_class_progress_installed_quantity_sk],[dim_ent_data_sub_class_progress_installed_quantity_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_quantity_nk],[dim_ent_unit_of_measure_quantity_sk],[dim_ent_unit_of_measure_hours_nk],[dim_ent_unit_of_measure_hours_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[CWP_Code],[dim_ent_unit_of_measure_percentage_sk],[dim_ent_unit_of_measure_percentage_nk],[dim_ent_data_Percentage_sk],[dim_ent_data_Percentage_nk],[dim_ent_data_sub_Percentage_sk],[dim_ent_data_sub_Percentage_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time],[data_class_percentage_code],[sub_class_percentage_code],[unit_of_measure_code_percentage]
		from [gpd].[NCSA_Sitepro_Progress]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_time_sk is null
		or dim_ent_data_class_time_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_sub_class_budget_hours_sk is null
		or dim_ent_data_sub_class_budget_hours_nk is null
		or dim_ent_data_sub_class_budget_quantity_sk is null
		or dim_ent_data_sub_class_budget_quantity_nk is null
		or dim_ent_data_sub_class_progress_hours_sk is null
		or dim_ent_data_sub_class_progress_hours_nk is null
		or dim_ent_data_sub_class_progress_quantity_sk is null
		or dim_ent_data_sub_class_progress_quantity_nk is null
		or dim_ent_data_sub_class_progress_installed_quantity_sk is null
		or dim_ent_data_sub_class_progress_installed_quantity_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_quantity_nk is null
		or dim_ent_unit_of_measure_quantity_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_unit_of_measure_percentage_sk is null
		or dim_ent_unit_of_measure_percentage_nk is null
		or dim_ent_data_Percentage_sk is null
		or dim_ent_data_Percentage_nk is null
		or dim_ent_data_sub_Percentage_sk is null
		or dim_ent_data_sub_Percentage_nk is null
		or dim_ent_jde_coa_sk is  null
		or dim_ent_jde_coa_nk is null

		
		update gpd.reprocess_NCSA_Sitepro_Progress
		 set rk_failure_info = 
		 case when dim_ent_function_nk is null then 'Missing Function - ' + isnull(function_code,'') + ',' else '' end +
		 case when dim_ent_project_nk is null then 'Missing Project Number - ' + isnull(project_number,'') + ',' else '' end +
		 case when dim_ent_data_class_time_sk is null then 'Missing Data Class - Time - ' + isnull(data_class_time_name,'') + ',' else '' end +
		 case when dim_ent_data_Percentage_nk is null then 'Missing Data Class - Percentage - ' + isnull(data_class_percentage_code,'') + ',' else '' end +
		 case when dim_ent_data_class_time_nk is null then 'Missing Data Class - Quantity - ' + isnull(data_class_quantity_name,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_budget_hours_nk is null then 'Missing Data Sub Class - Budget Hours - ' + isnull(sub_class_budget_hours_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_budget_quantity_nk is null then 'Missing Data Sub Class - Budget Quantity - ' + isnull(sub_class_budget_quantity_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_progress_hours_nk is null then 'Missing Data Sub Class - Progress Hours - ' + isnull(sub_class_progress_hours_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_progress_quantity_nk is null then 'Missing Data Sub Class - Progress Quantity - ' + isnull(sub_class_progress_quantity_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_class_progress_installed_quantity_nk is null then 'Missing Data Sub Class - Progress Installed Quantity - ' + isnull(sub_class_progress_installed_quantity_code,'') + ',' else '' end +
		 case when dim_ent_data_sub_Percentage_nk is null then 'Missing Data Sub Class - Percentage - ' + isnull(sub_class_percentage_code,'') + ',' else '' end +
		 case when dim_ent_sub_source_nk is null then 'Missing Sub Source - ' + isnull(sub_source_code,'') + ',' else '' end +
		 case when dim_ent_source_nk is null then 'Missing Source - ' + isnull(source_code,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_quantity_sk is null then 'Missing UOM - Quantity - ' + isnull(unit_of_measure_code_quantity,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_hours_sk is null then 'Missing UOM - Hours - ' + isnull(unit_of_measure_code_hours,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_percentage_nk is null then 'Missing UOM - Percentage - ' + isnull(unit_of_measure_code_percentage,'') + ',' else '' end +
		 case when dim_entp_phase_nk is null then 'Missing Phase - ' + isnull(phase_code,'') + ',' else '' end +
		 case when dim_entp_work_unit_nk is null then 'Missing Work Unit - ' +  + isnull(work_unit_code,'') + ',' else '' end +
		 case when dim_entp_work_area_nk is null then 'Missing Work Area - ' +  + isnull(work_area_code,'') + ',' else '' end +
		 case when dim_entp_cwp_nk is null then 'Missing CWP Code - ' +  + isnull(CWP_Code,'') + ',' else '' end +  
		 case when dim_entp_schedule_resource_nk is null then 'Missing Schedule Resource - ' +  + isnull(schedule_resource_code,'') + ',' else '' end +
		 case when dim_entp_activity_sk is null then 'Missing Activity Code - ' +  + isnull(activity_code,'') + ',' else '' end +
		 case when dim_entp_iwp_nk is null then 'Missing IWP Code - ' +  + isnull(IWP_code,'') + ',' else '' end +
		 case when dim_entp_pim_sk is null then 'Missing PMID - ' +  + isnull(PMID,'') + ',' else '' end +
		 case when dim_entp_roc_nk is null then 'Missing ROC - ' +  + isnull(ROCcode,'') + ',' else '' end +
		 case when dim_ent_jde_coa_nk is null then 'Missing JDE COA - ' +  + isnull(coa_value,'') + ',' else '' end


		delete from [gpd].[NCSA_Sitepro_Progress]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_time_sk is null
		or dim_ent_data_class_time_nk is null
		or dim_ent_data_class_quantity_sk is null
		or dim_ent_data_class_quantity_nk is null
		or dim_ent_data_sub_class_budget_hours_sk is null
		or dim_ent_data_sub_class_budget_hours_nk is null
		or dim_ent_data_sub_class_budget_quantity_sk is null
		or dim_ent_data_sub_class_budget_quantity_nk is null
		or dim_ent_data_sub_class_progress_hours_sk is null
		or dim_ent_data_sub_class_progress_hours_nk is null
		or dim_ent_data_sub_class_progress_quantity_sk is null
		or dim_ent_data_sub_class_progress_quantity_nk is null
		or dim_ent_data_sub_class_progress_installed_quantity_sk is null
		or dim_ent_data_sub_class_progress_installed_quantity_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_quantity_nk is null
		or dim_ent_unit_of_measure_quantity_sk is null
		or dim_ent_unit_of_measure_hours_nk is null
		or dim_ent_unit_of_measure_hours_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_unit_of_measure_percentage_sk is null
		or dim_ent_unit_of_measure_percentage_nk is null
		or dim_ent_data_Percentage_sk is null
		or dim_ent_data_Percentage_nk is null
		or dim_ent_data_sub_Percentage_sk is null
		or dim_ent_data_sub_Percentage_nk is null
		or dim_ent_jde_coa_sk is  null
		or dim_ent_jde_coa_nk is null


	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Falied', error_message()
	end;
end catch;
end;		
GO


