/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_timesheet_validate]    Script Date: 6/21/2021 2:13:08 AM ******/
DROP PROCEDURE [dbo].[load_NCSA_fact_sitepro_timesheet_validate]
GO

/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_sitepro_timesheet_validate]    Script Date: 6/21/2021 2:13:08 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[load_NCSA_fact_sitepro_timesheet_validate] AS

begin
begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int
    --To be removed once implemented the incremntal 
	delete from gpd.reprocess_NCSA_Sitepro_timesheet
	-------------

	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

	declare @load_date_time datetime
	select @load_date_time = getdate()

	
	update [gpd].[NCSA_Sitepro_timesheet]
	set load_date_time = @load_date_time

	

	-- validation
	--if @pContractNumber is null
	--begin
	--	set @errorMessage = 'Contract Number must be specified';
	--	select @exceptionRaiser = '1';
	--end;
		update [gpd].[NCSA_Sitepro_timesheet]
		set pim_code = 'ZZZ',roc_code = 'ZZZ'


		--Update Phase 
		update gpd.reprocess_NCSA_Sitepro_timesheet
		set phase_code = p.phase_code
		from gpd.reprocess_NCSA_Sitepro_timesheet a,
		[dbo].[dim_entp_work_area] wa,
		[dbo].[dim_entp_phase] p
		where a.workarea_code = wa.work_area_code
		and wa.dim_entp_project_nk = a.dim_ent_project_nk
		and wa.dim_entp_phase_nk = p.dim_entp_phase_nk


		--Pull reprocess records into the stage table to check if they can be lo loaded across		
		insert into [gpd].[NCSA_Sitepro_timesheet]
		([Project_id],[function_code],[source_name],[sub_source_name],[class_name],[sub_class_name],[unit_of_measure],[pim_code],[roc_code],[Phase_Code],[WorkArea_Code],[WorkUnit_Code],[ScheduleResource_Code],[cwp_code],[Activity],[iwp_Code],[DateWorked],[EmployeeID],[Spent_Hours],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_nk],[dim_ent_unit_of_measure_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_employee_sk],[dim_ent_employee_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time])
		select 
		[Project_id],[function_code],[source_name],[sub_source_name],[class_name],[sub_class_name],[unit_of_measure],[pim_code],[roc_code],[Phase_Code],[WorkArea_Code],[WorkUnit_Code],[ScheduleResource_Code],[cwp_code],[Activity],[iwp_Code],[DateWorked],[EmployeeID],[Spent_Hours],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_nk],[dim_ent_unit_of_measure_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_employee_sk],[dim_ent_employee_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time]
		from gpd.reprocess_NCSA_Sitepro_timesheet

		delete from gpd.reprocess_NCSA_Sitepro_timesheet
		  
		---Taking data from reprocesss area
		


		--update project Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Timesheet', 'dim_entp_project', 'dim_ent_project_sk', 'dim_ent_project_nk', 'dim_entp_project_sk', 
		--	'dim_entp_project_nk', 'project_id', 'project_number', 'DateWorked', 'fact_ops', 1
		----update Function Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Timesheet', 'dim_ent_function', 'dim_ent_function_sk', 'dim_ent_function_nk', 'dim_ent_function_sk', 
		--	'dim_ent_function_nk', 'function_code', 'function_code', 'DateWorked', 'fact_ops', 1
		----Update Data class for Budget
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Timesheet', 'dim_ent_data_class', 'dim_ent_data_class_sk', 'dim_ent_data_class_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'class_name', 'data_class_name', 'DateWorked', 'fact_ops', 1
		----Update Source
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Timesheet', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source_sk', 
		--	'dim_ent_source_nk', 'source_name', 'source_name', 'DateWorked', 'fact_ops', 1
		----Update Unit of Measure - Hours
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_Sitepro_Timesheet', 'dim_ent_unit_of_measure', 
		--	'dim_ent_unit_of_measure_sk', 'dim_ent_unit_of_measure_nk', 
		--	'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk', 
		--	'unit_of_measure', 'unit_of_measure_code', 
		--	'DateWorked', 'fact_ops', 1

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_timesheet','gpd.NCSA_Sitepro_timesheet','ncsa_sitepro_timesheet_id', 
       'dim_ent_project_sk','dim_ent_project_nk','dim_entp_project','dim_entp_project_sk','dim_entp_project_nk', 
       'project_id','project_number','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_timesheet','gpd.NCSA_Sitepro_timesheet','ncsa_sitepro_timesheet_id', 
       'dim_ent_function_sk','dim_ent_function_nk','dim_ent_function','dim_ent_function_sk','dim_ent_function_nk', 
       'function_code','function_code','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_timesheet','gpd.NCSA_Sitepro_timesheet','ncsa_sitepro_timesheet_id', 
       'dim_ent_data_class_sk','dim_ent_data_class_nk','dim_ent_data_class','dim_ent_data_class_sk','dim_ent_data_class_nk', 
       'class_name','data_class_name','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_timesheet','gpd.NCSA_Sitepro_timesheet','ncsa_sitepro_timesheet_id', 
       'dim_ent_source_sk','dim_ent_source_nk','dim_ent_source','dim_ent_source_sk','dim_ent_source_nk', 
       'source_name','source_name','FL',null;

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_Sitepro_timesheet','gpd.NCSA_Sitepro_timesheet','ncsa_sitepro_timesheet_id', 
       'dim_ent_unit_of_measure_sk','dim_ent_unit_of_measure_nk','dim_ent_unit_of_measure','dim_ent_unit_of_measure_sk',
	   'dim_ent_unit_of_measure_nk', 'unit_of_measure','unit_of_measure_code','FL',null;


        --Update Data Sub Class - Budget Hours

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_ent_data_sub_class_sk = b.dim_ent_data_sub_class_sk,
		dim_ent_data_sub_class_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_ent_data_sub_class b
		where a.dim_ent_data_class_nk = b.dim_ent_data_class_nk
		and a.sub_class_name = b.data_sub_class_name
		and b.active = 1

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_ent_sub_source_sk = b.dim_ent_sub_source_sk,
		dim_ent_sub_source_nk = b.dim_ent_sub_source_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_ent_sub_source b
		where a.dim_ent_source_nk = b.dim_ent_source_nk
		and a.sub_source_name = b.sub_source_name
		and b.active = 1

		--Update Phase

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_phase b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.phase_code = b.phase_code
		and b.active = 1

		--Update Work Unit

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_work_unit b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.workunit_code = b.work_unit_code
		and b.active = 1

		--Update Work Area

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
		dim_entp_work_area_nk = b.dim_entp_work_area_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_work_area b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.workarea_code = b.work_area_code
		and b.active = 1

		--Update CWP

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_cwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.cwp_code = b.cwp_code
		and b.active = 1

		
		--Update Schedule Resource

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_schedule_resource b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.scheduleresource_code = b.schedule_resource_code
		and b.active = 1

		--Update Activity

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_activity_sk = b.dim_entp_activity_sk,
		dim_entp_activity_nk = b.dim_entp_activity_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_activity b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.activity = b.activity_code
		and b.active = 1

		--Update IWP

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_iwp_sk = b.dim_entp_iwp_sk,
		dim_entp_iwp_nk = b.dim_entp_iwp_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_iwp b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.iwp_code = b.iwp_code
		and b.active = 1

		--Update PIM

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_pim_sk = b.dim_entp_pim_sk,
		dim_entp_pim_nk = b.dim_entp_pim_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_pim b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.pim_code = b.pim_code
		and b.active = 1

		--Update ROC

		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_entp_roc_sk = b.dim_entp_roc_sk,
		dim_entp_roc_nk = b.dim_entp_roc_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_entp_roc b
		where a.dim_ent_project_nk = b.dim_entp_project_nk
		and a.ROC_CODE = b.roc_code
		and b.rocs_step = 1
		and b.active = 1

		--Update Employee ID

		--update [gpd].[NCSA_Sitepro_timesheet]
		--set dim_ent_employee_sk = b.dim_ent_employee_sk,
		--dim_ent_employee_nk = b.dim_ent_employee_nk
		--from [gpd].[NCSA_Sitepro_timesheet] a,[dbo].[dim_ent_employee] b
		--where a.EmployeeID = b.employee_legacy_number
		--and b.active = 1

		-- Employee Logic refreshed as of 06/21/2021 to accomodate the possiblity that a particular onshore employee can have multiple employee_number. so the check has to be made against multiple columns.
			update [gpd].[NCSA_Sitepro_timesheet] 
			set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				[gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
			(select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.employee_legacy_number = s.EmployeeID  and d.active = 1 ) a
			Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        

		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from                
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.employee_number = s.EmployeeID and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from                
		   ( select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.jde_number = s.EmployeeID and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
                            

		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from                
		   ( select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.peoplesoft_number = s.EmployeeID and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
                                  
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from                         
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.sap_global_number = s.EmployeeID and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s where d.sap_person_number = s.EmployeeID and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and  [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        

	   --Looping through reference table jde_employee_xref 
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, gpd.NCSA_Sitepro_timesheet s, dbo.jde_employee_xref x  
			 where x.jde_number = s.EmployeeID and x.hcm_external_number = d.employee_legacy_number  and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.jde_number = s.EmployeeID and x.hcm_external_number = d.employee_number  and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        

		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.jde_number = s.EmployeeID and x.hcm_external_number = d.jde_number  and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.jde_number = s.EmployeeID and x.hcm_external_number = d.peoplesoft_number  and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        

	   --Looping through reference table jde_employee_xref in REVERSE
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.hcm_external_number = s.EmployeeID and x.jde_number = d.employee_legacy_number and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.hcm_external_number = s.EmployeeID and x.jde_number = d.employee_number and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        

		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.hcm_external_number = s.EmployeeID and x.jde_number = d.jde_number and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null;        
       
		   update [gpd].[NCSA_Sitepro_timesheet] 
			 set [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk = a.dim_ent_employee_sk, 
				 [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk = a.dim_ent_employee_nk 
			from 
		   (select d.dim_ent_employee_sk, d.dim_ent_employee_nk, s.EmployeeID from dim_ent_employee d, [gpd].[NCSA_Sitepro_timesheet] s, dbo.jde_employee_xref x  
			 where x.hcm_external_number = s.EmployeeID and x.jde_number = d.peoplesoft_number and d.active = 1 ) a 
		   Where [gpd].[NCSA_Sitepro_timesheet].EmployeeID = a.EmployeeID  and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_sk is null and [gpd].[NCSA_Sitepro_timesheet].dim_ent_employee_nk is null; 





		---Jde Chart Of acocunt
		
		update [gpd].[NCSA_Sitepro_timesheet]
		set dim_ent_jde_coa_sk = b.dim_ent_jde_coa_sk,
		dim_ent_jde_coa_nk = b.dim_ent_jde_coa_nk
		from [gpd].[NCSA_Sitepro_timesheet] a,dbo.dim_ent_jde_coa b
		where a.project_id = b.project
		and a.coa_value = b.coa_value
		and b.active = 1

		select @unprocessed_count  = count(*)  from [gpd].[NCSA_Sitepro_timesheet]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_employee_sk is null
		or dim_ent_employee_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null


		

		select @processed_count  = count(*)  from [gpd].[NCSA_Sitepro_timesheet]
		where 
			dim_ent_function_sk is not null
		and dim_ent_function_nk is not null
		and dim_ent_project_sk is not null
		and dim_ent_project_nk is not null
		and dim_ent_data_class_sk is not null
		and dim_ent_data_class_nk is not null
		and dim_ent_data_sub_class_sk is not null
		and dim_ent_data_sub_class_nk is not null
		and dim_ent_sub_source_sk is not null
		and dim_ent_sub_source_nk is not null
		and dim_ent_source_sk is not null
		and dim_ent_source_nk is not null
		and dim_ent_unit_of_measure_nk is not null
		and dim_ent_unit_of_measure_sk is not null
		and dim_entp_phase_sk is not null
		and dim_entp_phase_nk is not null
		and dim_entp_work_unit_sk is not null
		and dim_entp_work_unit_nk is not null
		and dim_entp_work_area_sk is not null
		and dim_entp_work_area_nk is not null
		and dim_entp_cwp_sk is not null
		and dim_entp_cwp_nk is not null
		and dim_entp_schedule_resource_sk is not null
		and dim_entp_schedule_resource_nk is not null
		and dim_entp_activity_nk is not null
		and dim_entp_activity_sk is not null
		and dim_entp_iwp_sk is not null
		and dim_entp_iwp_nk is not null
		and dim_entp_pim_nk is not null
		and dim_entp_pim_sk is not null
		and dim_entp_roc_sk is not null
		and dim_entp_roc_nk is not null
		and dim_ent_employee_sk is not null
		and dim_ent_employee_nk is not null
		and dim_ent_jde_coa_sk is not null
		and dim_ent_jde_coa_nk is not null


		

		--select * from [dbo].[dim_entp_activity]

		--select   * from [Stage].[NCSA_Sitepro_Progress]
		--select  * from [dbo].[dim_entp_roc]
		--Moving error data to reprocessing area
		insert into gpd.reprocess_NCSA_Sitepro_timesheet
		([Project_id],[function_code],[source_name],[sub_source_name],[class_name],[sub_class_name],[unit_of_measure],[pim_code],[roc_code],[Phase_Code],[WorkArea_Code],[WorkUnit_Code],[ScheduleResource_Code],[cwp_code],[Activity],[iwp_Code],[DateWorked],[EmployeeID],[Spent_Hours],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_nk],[dim_ent_unit_of_measure_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_employee_sk],[dim_ent_employee_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time])
		select 
		[Project_id],[function_code],[source_name],[sub_source_name],[class_name],[sub_class_name],[unit_of_measure],[pim_code],[roc_code],[Phase_Code],[WorkArea_Code],[WorkUnit_Code],[ScheduleResource_Code],[cwp_code],[Activity],[iwp_Code],[DateWorked],[EmployeeID],[Spent_Hours],[dim_ent_function_sk],[dim_ent_function_nk],[dim_ent_project_sk],[dim_ent_project_nk],[dim_ent_data_class_sk],[dim_ent_data_class_nk],[dim_ent_data_sub_class_sk],[dim_ent_data_sub_class_nk],[dim_ent_sub_source_sk],[dim_ent_sub_source_nk],[dim_ent_source_sk],[dim_ent_source_nk],[dim_ent_unit_of_measure_nk],[dim_ent_unit_of_measure_sk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_nk],[dim_entp_activity_sk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_nk],[dim_entp_pim_sk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_ent_employee_sk],[dim_ent_employee_nk],[rk_failure_info],[coa_value],[dim_ent_jde_coa_sk],[dim_ent_jde_coa_nk],[load_date_time]
		from [gpd].[NCSA_Sitepro_timesheet]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_employee_sk is null
		or dim_ent_employee_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null

		update gpd.reprocess_NCSA_Sitepro_timesheet
		 set rk_failure_info = 
		 case when dim_ent_function_sk is null then 'Missing Function - ' + isnull(function_code,'') + ',' else '' end +
		 case when dim_ent_project_nk is null then 'Missing Project Number - ' + isnull(project_id,'') + ',' else '' end +
		 case when dim_ent_data_class_sk is null then 'Missing Data Class - ' + isnull(class_name,'') + ',' else '' end +
		 case when dim_ent_sub_source_nk is null then 'Missing Sub Source - ' + isnull(sub_source_name,'') + ',' else '' end +
		 case when dim_ent_source_nk is null then 'Missing Source - ' + isnull(source_name,'') + ',' else '' end +
		 case when dim_ent_unit_of_measure_sk is null then 'Missing UOM -  ' + isnull(unit_of_measure,'') + ',' else '' end +
		 case when dim_entp_phase_nk is null then 'Missing Phase - ' + isnull(phase_code,'') + ',' else '' end +
		 case when dim_entp_work_unit_nk is null then 'Missing Work Unit - ' +  + isnull(workunit_code,'') + ',' else '' end +
		 case when dim_entp_work_area_nk is null then 'Missing Work Area - ' +  + isnull(workarea_code,'') + ',' else '' end +
		 case when dim_entp_cwp_nk is null then 'Missing CWP Code - ' +  + isnull(CWP_Code,'') + ',' else '' end +  
		 case when dim_entp_schedule_resource_nk is null then 'Missing Schedule Resource - ' +  + isnull(scheduleresource_code,'') + ',' else '' end +
		 case when dim_entp_activity_nk is null then 'Missing Activity Code - ' +  + isnull(activity,'') + ',' else '' end +
		 case when dim_entp_iwp_nk is null then 'Missing IWP Code - ' +  + isnull(IWP_code,'') + ',' else '' end +
		 case when dim_entp_pim_sk is null then 'Missing PMID - ' +  + isnull(pim_code,'') + ',' else '' end +
		 case when dim_entp_roc_nk is null then 'Missing ROC - ' +  + isnull(ROC_code,'') + ',' else '' end +
		 case when dim_ent_jde_coa_nk is null then 'Missing JDE COA - ' +  + isnull(coa_value,'') + ',' else '' end +
		 case when dim_ent_employee_nk is null then 'Missing Employee ID - ' +  + isnull(EmployeeID,'') + ',' else '' end



		delete from [gpd].[NCSA_Sitepro_timesheet]
		where 
			dim_ent_function_sk is null
		or dim_ent_function_nk is null
		or dim_ent_project_sk is null
		or dim_ent_project_nk is null
		or dim_ent_data_class_sk is null
		or dim_ent_data_class_nk is null
		or dim_ent_data_sub_class_sk is null
		or dim_ent_data_sub_class_nk is null
		or dim_ent_sub_source_sk is null
		or dim_ent_sub_source_nk is null
		or dim_ent_source_sk is null
		or dim_ent_source_nk is null
		or dim_ent_unit_of_measure_nk is null
		or dim_ent_unit_of_measure_sk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_iwp_sk is null
		or dim_entp_iwp_nk is null
		or dim_entp_pim_nk is null
		or dim_entp_pim_sk is null
		or dim_entp_roc_sk is null
		or dim_entp_roc_nk is null
		or dim_ent_employee_sk is null
		or dim_ent_employee_nk is null
		or dim_ent_jde_coa_sk is null
		or dim_ent_jde_coa_nk is null



	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
	end
	select @error_message = isnull(@error_message,'')
	if isnull(@processed_count,0) > 0 
	begin
		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
	end

	if isnull(@error_message,'') = '' 
	begin
	  select 'Success'; 
	end
	else
	begin
      select @error_message ;
	end

end try
begin catch
	if @errorMessage is not null
	begin
		select 'Failed', @errorMessage;
	end
	else
	begin
		select 'Failed', error_message()
	end;
end catch;
end;		
GO


