/****** Object:  StoredProcedure [dbo].[usp_idocs_work_package_update]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_idocs_work_package_update] AS 
update  [gpd].[iDocs_P24A_ConsDocMaster] set WORK_PACKAGE = SUBSTRING(DOCUMENT_NUMBER,13,8)
where title = 'PIPING ISOMETRIC SHA FILE'
GO
