/****** Object:  StoredProcedure [dbo].[usp_idocs_discipline_update]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_idocs_discipline_update] AS 

update [gpd].[iDocs_P24A_ConsDocMaster] 
set discipline = RIGHT(discipline, len(discipline)-3)
GO
