/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_P6_labor_units_validate]    Script Date: 6/7/2021 2:13:04 AM ******/
DROP PROCEDURE [dbo].[load_NCSA_fact_P6_labor_units_validate]
GO

/****** Object:  StoredProcedure [dbo].[load_NCSA_fact_P6_labor_units_validate]    Script Date: 6/7/2021 2:13:04 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[load_NCSA_fact_P6_labor_units_validate] AS

--begin
--begin try
	
declare @error_message varchar(1000)
declare @processed_count  int
declare @unprocessed_count  int


	declare @exceptionRaiser	int;
	declare @errorMessage		varchar(4000);

	declare @load_date_time datetime 
	select @load_date_time = getdate()

	update [gpd].[NCSA_P6_Labor_Units]
	set load_date_time = @load_date_time



	insert into [gpd].[NCSA_P6_Labor_Units]
	select 
	   [Activity_ID]
      ,[Activity_Name]
      ,[Resource_ID_Name]
      ,[Global_Executed_By_Type]
      ,[Start]
      ,[Finish]
      ,[Spreadsheet_Field]
      ,[Period]
      ,[Units]
      ,[fx]
      ,[project]
      ,[phase]
      ,[work_unit]
      ,[work_area]
      ,[cwp]
      ,[schedule_resource]
      ,[activity]
      ,[iwp]
      ,[pim]
      ,[roc]
      ,[data_sub_class]
      ,[data_class]
      ,[sub_source]
      ,[source]
      ,[unit_of_measure]
      ,[dim_entp_function_sk]
      ,[dim_entp_function_nk]
      ,[dim_entp_project_sk]
      ,[dim_entp_project_nk]
      ,[dim_entp_phase_sk]
      ,[dim_entp_phase_nk]
      ,[dim_entp_work_unit_sk]
      ,[dim_entp_work_unit_nk]
      ,[dim_entp_work_area_sk]
      ,[dim_entp_work_area_nk]
      ,[dim_entp_cwp_sk]
      ,[dim_entp_cwp_nk]
      ,[dim_entp_schedule_resource_sk]
      ,[dim_entp_schedule_resource_nk]
      ,[dim_entp_activity_sk]
      ,[dim_entp_activity_nk]
      ,[dim_entp_iwp_sk]
      ,[dim_entp_iwp_nk]
      ,[dim_entp_pim_sk]
      ,[dim_entp_pim_nk]
      ,[dim_entp_roc_sk]
      ,[dim_entp_roc_nk]
      ,[dim_entp_data_sub_class_sk]
      ,[dim_entp_data_sub_class_nk]
      ,[dim_entp_data_class_sk]
      ,[dim_entp_data_class_nk]
      ,[dim_entp_sub_source_sk]
      ,[dim_entp_sub_source_nk]
      ,[dim_entp_source_sk]
      ,[dim_entp_source_nk]
      ,[dim_entp_unit_of_measure_sk]
      ,[dim_entp_unit_of_measure_nk]
      ,[LU_Date]
	  ,[Planned_Start]
	  ,[Planned_End]
	  ,rk_failure_info,
	  load_date_time
	from gpd.reprocess_P6_Labor_Units

	delete from gpd.reprocess_P6_Labor_Units

		update gpd.NCSA_P6_Labor_Units
	set LU_Date = format(cast(Period as SmallDateTime),'yyyy-MM-dd')
	where LU_Date is null


	--update project Key
	--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
	--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_project', 'dim_entp_project_sk', 'dim_entp_project_nk', 'dim_entp_project_sk', 
	--	'dim_entp_project_nk', 'project', 'project_number', 'LU_Date', 'fact_ops', 1

execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_P6_Labor_Units','gpd.NCSA_P6_Labor_Units','stage_ncsa_p6_labor_units_id', 
       'dim_entp_project_sk','dim_entp_project_nk','dim_entp_project','dim_entp_project_sk','dim_entp_project_nk', 
       'project','project_number','FL',null;



	update gpd.NCSA_P6_Labor_Units
	set [data_sub_class] = [Spreadsheet_Field]
	   
		---Taking data from reprocesss area

				--Add to schedule resource table
		
		insert into gpd.tmpresource (Code, Name, project_id,dim_entp_project_nk,project)
		select left(Resource_ID_Name, 100), left(Resource_ID_Name, 50), trim(project) ,[gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk,project from [gpd].[NCSA_P6_Labor_Units]
		LEFT JOIN [dbo].[dim_entp_schedule_resource] ON [dbo].[dim_entp_schedule_resource].schedule_resource_code = [gpd].[NCSA_P6_Labor_Units].Resource_ID_Name
		WHERE [dbo].[dim_entp_schedule_resource].schedule_resource_code IS NULL



		exec generic_load_dim_v2 'dim_ent_temp_schedule_resource', 'Y', 'N', 'Y'


		truncate table gpd.tmpresource
		truncate table gpd.tmpreprocess_dim_ops_schedule_resource

			--Add to Activity table
		insert into gpd.tmp_NCSA_Activity (activity, Description, ExecutedByType, Project, Projectid, IsOnCriticalPath, ScheduleWorkArea, CWP, ScheduleResource,dim_entp_project_nk)
		SELECT distinct Activity_ID, Activity_Name, Global_Executed_By_Type, project, project, 0, 'ZZZ','ZZZ', left(Resource_ID_Name, 100),[gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk
		FROM [gpd].[NCSA_P6_Labor_Units]
		LEFT JOIN [dbo].[dim_entp_activity] ON [dbo].[dim_entp_activity].activity_code = [gpd].[NCSA_P6_Labor_Units].Activity_ID
		WHERE [dbo].[dim_entp_activity].activity_code IS NULL
		
	
		exec generic_load_dim_v2 'dim_entp_temp_activity', 'Y', 'N', 'Y'

		truncate table gpd.tmp_NCSA_Activity
		truncate table [gpd].[tmpreprocess_NCSA_Activity]

		--Update Actual and Planned Dates in Stage table

		update [gpd].[NCSA_P6_Labor_Units]
		set Finish = format(cast(Finish as SmallDateTime),'yyyy-MM-dd') from [gpd].[NCSA_P6_Labor_Units]
		where Right(Finish,1) <> 'A'

		update [gpd].[NCSA_P6_Labor_Units]
		set Planned_End = format(cast(left(Finish, 10) as SmallDateTime),'yyyy-MM-dd') from [gpd].[NCSA_P6_Labor_Units]
		where Right(Finish,1) = 'A'

		update [gpd].[NCSA_P6_Labor_Units]
		set Finish =  null
		where Right(Finish,1) = 'A'

		update [gpd].[NCSA_P6_Labor_Units]
		set Start = format(cast(Start as SmallDateTime),'yyyy-MM-dd') from [gpd].[NCSA_P6_Labor_Units]
		where Right(Start,1) <> 'A'

		update [gpd].[NCSA_P6_Labor_Units]
		set Planned_Start = format(cast(left(Start, 10) as SmallDateTime),'yyyy-MM-dd') from [gpd].[NCSA_P6_Labor_Units]
		where Right(Start,1) = 'A'

		update [gpd].[NCSA_P6_Labor_Units]
		set Start = null
		where Right(Start,1) = 'A'

		--Update Activity table dates
		update dim_entp_activity
		set dim_entp_activity.actual_start = format(cast([gpd].[NCSA_P6_Labor_Units].Start as Datetime),'yyyy-MM-dd')
		from [gpd].[NCSA_P6_Labor_Units]
		join dim_entp_activity on trim([gpd].[NCSA_P6_Labor_Units].activity_id) = trim(dim_entp_activity.activity_code)
		and [gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk = dim_entp_activity.dim_entp_project_nk
		and dim_entp_activity.active = 1
		where [gpd].[NCSA_P6_Labor_Units].Start is not null

		update dim_entp_activity
		set dim_entp_activity.actual_finish = format(cast([gpd].[NCSA_P6_Labor_Units].Finish as Datetime),'yyyy-MM-dd')
		from [gpd].[NCSA_P6_Labor_Units]
		join dim_entp_activity on trim([gpd].[NCSA_P6_Labor_Units].activity_id) = trim(dim_entp_activity.activity_code)
		and [gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk = dim_entp_activity.dim_entp_project_nk
		and dim_entp_activity.active = 1
		where [gpd].[NCSA_P6_Labor_Units].Finish is not null

		update dim_entp_activity
		set dim_entp_activity.planned_start = format(cast([gpd].[NCSA_P6_Labor_Units].Planned_Start as Datetime),'yyyy-MM-dd') from [gpd].[NCSA_P6_Labor_Units]
		join dim_entp_activity on trim([gpd].[NCSA_P6_Labor_Units].activity_id) = trim(dim_entp_activity.activity_code)
		and [gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk = dim_entp_activity.dim_entp_project_nk
		and dim_entp_activity.active = 1
		where [gpd].[NCSA_P6_Labor_Units].planned_start is not null

		update dim_entp_activity
		set dim_entp_activity.planned_finish = format(cast([gpd].[NCSA_P6_Labor_Units].Planned_end as Datetime),'yyyy-MM-dd')
		from [gpd].[NCSA_P6_Labor_Units]
		join dim_entp_activity on trim([gpd].[NCSA_P6_Labor_Units].activity_id) = trim(dim_entp_activity.activity_code)
		and [gpd].[NCSA_P6_Labor_Units].dim_entp_project_nk = dim_entp_activity.dim_entp_project_nk
		and dim_entp_activity.active = 1
		where [gpd].[NCSA_P6_Labor_Units].Planned_End is not null

		--update Function Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_ent_function', 'dim_entp_function_sk', 'dim_entp_function_nk', 'dim_ent_function_sk', 
		--	'dim_ent_function_nk', 'fx', 'function_name', 'LU_Date', 'fact_ops', 1


execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_P6_Labor_Units','gpd.NCSA_P6_Labor_Units','stage_ncsa_p6_labor_units_id', 
       'dim_entp_function_sk','dim_entp_function_nk','dim_ent_function','dim_ent_function_sk','dim_ent_function_nk', 
       'fx','function_name','FL',null;


			--update activity
		update [gpd].[NCSA_P6_Labor_Units]
		set activity = Activity_ID 

		update [gpd].[NCSA_P6_Labor_Units]
		set work_area   = wa.work_area_code
		from [gpd].[NCSA_P6_Labor_Units] lu,
		[dbo].[dim_entp_work_area] wa,
		[dbo].[dim_entp_activity] a
		where wa.active  = 1
		and a.active = 1
		and a.dim_entp_project_nk = lu.dim_entp_project_nk
		and wa.dim_entp_project_nk = lu.dim_entp_project_nk
		and a.activity_code = lu.activity
		and wa.dim_entp_work_area_nk = a.dim_entp_work_area_nk
		and isnull(work_area,'') = ''

		update [gpd].[NCSA_P6_Labor_Units]
		set cwp = wa.cwp_code
		from [gpd].[NCSA_P6_Labor_Units] lu,
		[dbo].[dim_entp_cwp] wa,
		[dbo].[dim_entp_activity] a
		where wa.active  = 1
		and a.active = 1
		and a.dim_entp_project_nk = lu.dim_entp_project_nk
		and wa.dim_entp_project_nk = lu.dim_entp_project_nk
		and a.activity_code = lu.activity
		and wa.dim_entp_cwp_nk = a.dim_entp_cwp_nk
		and isnull(cwp,'') = ''

		update [gpd].[NCSA_P6_Labor_Units]
		set phase = wa.phase_code
		from [gpd].[NCSA_P6_Labor_Units] lu,
		[dbo].[dim_entp_phase] wa,
		[dbo].[dim_entp_work_area] a
		where wa.active  = 1
		and a.active = 1
		and a.dim_entp_project_nk = lu.dim_entp_project_nk
		and wa.dim_entp_project_nk = lu.dim_entp_project_nk
		and a.work_area_code = lu.work_area
		and wa.dim_entp_phase_nk = a.dim_entp_phase_nk
		and isnull(phase,'') = ''

		update [gpd].[NCSA_P6_Labor_Units]
		set work_unit = wa.work_unit_code
		from [gpd].[NCSA_P6_Labor_Units] lu,
		[dbo].[dim_entp_work_unit] wa,
		[dbo].[dim_entp_work_area] a
		where wa.active  = 1
		and a.active = 1
		and a.dim_entp_project_nk = lu.dim_entp_project_nk
		and wa.dim_entp_project_nk = lu.dim_entp_project_nk
		and a.work_area_code = lu.work_area
		and wa.dim_entp_work_unit_nk = a.dim_entp_work_unit_nk
		and isnull(work_unit,'') = ''

		--Update CWP
		update [gpd].[NCSA_P6_Labor_Units]
		set cwp = b.cwp_code
		from [gpd].[NCSA_P6_Labor_Units] a, 
		dbo.dim_entp_cwp b, 
		dim_entp_activity c
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and b.dim_entp_project_nk = c.dim_entp_project_nk
		and a.activity = c.activity_code
		and c.dim_entp_cwp_nk = b.dim_entp_cwp_nk
		and b.active = 1 
		and c.active = 1

		--Update Schedule Resource
		update [gpd].[NCSA_P6_Labor_Units]
		set schedule_resource = b.schedule_resource_code
		from [gpd].[NCSA_P6_Labor_Units] a, dbo.dim_entp_schedule_resource b, dim_entp_activity c
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.dim_entp_project_nk = c.dim_entp_project_nk
		and a.activity = c.activity_code
		and c.dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		and b.active = 1 
		and c.active = 1

		--Update phase
		update [gpd].[NCSA_P6_Labor_Units]
		set phase = d.phase_code
		from [gpd].[NCSA_P6_Labor_Units] a, 
			dbo.dim_entp_work_area b, 
			dim_entp_activity c,
			dim_entp_phase d
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and b.dim_entp_project_nk = c.dim_entp_project_nk
		and c.dim_entp_project_nk = d.dim_entp_project_nk
		and a.activity = c.activity_code
		and c.dim_entp_work_area_nk = b.dim_entp_work_area_nk
		and b.dim_entp_phase_nk = d.dim_entp_phase_nk
		and b.active = 1
		and c.active = 1
		and d.active = 1

		
		--update phase Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_phase', 'dim_entp_phase_sk', 'dim_entp_phase_nk', 'dim_entp_phase_sk', 
		--	'dim_entp_phase_nk', 'phase', 'phase_code', 'LU_Date', 'fact_ops', 1
		update gpd.NCSA_P6_Labor_Units
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_phase b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.phase = b.phase_code
		and b.active = 1


		--update work unit Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_work_unit', 'dim_entp_work_unit_sk', 'dim_entp_work_unit_nk', 'dim_entp_work_unit_sk', 
		--	'dim_entp_work_unit_nk', 'work_unit', 'work_unit_code', 'LU_Date', 'fact_ops', 1

		update gpd.NCSA_P6_Labor_Units
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_work_unit b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.work_unit = b.work_unit_code
		and b.active = 1


		--update cwp Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_cwp', 'dim_entp_cwp_sk', 'dim_entp_cwp_nk', 'dim_entp_cwp_sk', 
		--	'dim_entp_cwp_nk', 'cwp', 'cwp_code', 'LU_Date', 'fact_ops', 1
		update gpd.NCSA_P6_Labor_Units
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_cwp b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.cwp = b.cwp_code
		and b.active = 1


		--update schedule resource Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_schedule_resource', 'dim_entp_schedule_resource_sk', 'dim_entp_schedule_resource_nk', 'dim_entp_schedule_resource_sk', 
		--	'dim_entp_schedule_resource_nk', 'schedule_resource', 'schedule_resource_code', 'LU_Date', 'fact_ops', 1
			update gpd.NCSA_P6_Labor_Units
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_schedule_resource b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.schedule_resource = b.schedule_resource_code
		and b.active = 1

	
	
		--update activity Key
		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_activity_nk = b.dim_entp_activity_nk, 
		dim_entp_activity_sk = b.dim_entp_activity_sk
		from [gpd].[NCSA_P6_Labor_Units] a, dbo.dim_entp_activity b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.activity = b.activity_code
		and b.active = 1
	

		--Insert into Data sub Class table
		declare @count_sub_class int

		--update work area Key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_work_area', 'dim_entp_work_area_sk', 'dim_entp_work_area_nk', 'dim_entp_work_area_sk', 
		--	'dim_entp_work_area_nk', 'work_area', 'work_area_code', 'LU_Date', 'fact_ops', 1


		update gpd.NCSA_P6_Labor_Units
		set dim_entp_work_area_sk = b.dim_entp_work_area_sk,
		dim_entp_work_area_nk = b.dim_entp_work_area_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_work_area b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.work_area = b.work_area_code
		and b.active = 1



		IF OBJECT_ID('tempdb..#tmp_sub_class') IS NOT NULL
		BEGIN
			DROP TABLE #tmp_sub_class
		END

		select distinct data_class,data_sub_class into #tmp_sub_class from [gpd].[NCSA_P6_Labor_Units]


		delete from #tmp_sub_class
		where data_sub_class in (select data_sub_class_name from dim_ent_data_sub_class)

		declare @dim_ent_data_class_nk int
		declare @data_sub_class varchar(200)
		declare  @counter bigint
		declare  @max_key bigint
		declare  @mx_val bigint
		declare @dim_ent_data_sub_class_nk int
		declare @cur_date datetime
		declare @check_count int
		declare @data_class varchar(20)
		select @cur_date  = getdate()

		select @mx_val = count(*) from #tmp_sub_class
		select @counter = 0

		while @counter <= @mx_val
		begin
			set rowcount 1
			select @data_class = data_class,@data_sub_class = data_sub_class from #tmp_sub_class
			delete from #tmp_sub_class
			set rowcount 0

			if isnull(@data_sub_class,'') = '' 
			begin
				break
			end

			select @dim_ent_data_class_nk = dim_ent_data_class_nk from dim_ent_data_class where data_class_name = @data_class and active = 1

			select @dim_ent_data_sub_class_nk =  max(dim_ent_data_sub_class_nk) from dim_ent_data_sub_class
			select @dim_ent_data_sub_class_nk = isnull(@dim_ent_data_sub_class_nk,0) + 1

			select @check_count = count(*) from dim_ent_data_sub_class where data_sub_class_name = @data_sub_class

			if isnull(@check_count,0) = 0 
			begin
				insert into dim_ent_data_sub_class
				(dim_ent_data_sub_class_nk,start_date,end_date,hash_code,active,created_date_time ,modified_date_time,late_arrival_flag,dim_ent_data_class_nk,data_class_name,data_sub_class_name,gpd_level)
				values (@dim_ent_data_sub_class_nk,'01/01/2000','01/01/2050',@data_sub_class,1,@cur_date ,@cur_date ,
				'N',@dim_ent_data_class_nk,@data_class,@data_sub_class,'By IWP Split/Activity')
			end
			set rowcount 1
				select @counter =  @counter + 1
			set rowcount 0


		end


		----Update Data class key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_ent_data_class', 'dim_entp_data_class_sk', 'dim_entp_data_class_nk', 'dim_ent_data_class_sk', 
		--	'dim_ent_data_class_nk', 'data_class', 'data_class_name', 'LU_Date', 'fact_ops', 1
		
execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_P6_Labor_Units','gpd.NCSA_P6_Labor_Units','stage_ncsa_p6_labor_units_id', 
       'dim_entp_data_class_sk','dim_entp_data_class_nk','dim_ent_data_class','dim_ent_data_class_sk','dim_ent_data_class_nk', 
       'data_class','data_class_name','FL',null;
		
		----Update Data sub class key
		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_data_sub_class_sk = b.dim_ent_data_sub_class_sk,
		dim_entp_data_sub_class_nk = b.dim_ent_data_sub_class_nk
		from [gpd].[NCSA_P6_Labor_Units] a, dbo.dim_ent_data_sub_class b
		where a.dim_entp_data_class_nk = b.dim_ent_data_class_nk
		and a.data_sub_class = b.data_sub_class_name
		and b.active = 1
	
		--Update source key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_ent_source', 'dim_entp_source_sk', 'dim_entp_source_nk', 'dim_ent_source_sk', 
		--	'dim_ent_source_nk', 'source', 'source_name', 'LU_Date', 'fact_ops', 1


execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_P6_Labor_Units','gpd.NCSA_P6_Labor_Units','stage_ncsa_p6_labor_units_id', 
       'dim_entp_source_sk','dim_entp_source_nk','dim_ent_source','dim_ent_source_sk','dim_ent_source_nk', 
       'source','source_name','FL',null;


		--Update sub_source key
		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_sub_source_sk = b.dim_ent_sub_source_sk,
		dim_entp_sub_source_nk = b.dim_ent_sub_source_nk
		from [gpd].[NCSA_P6_Labor_Units] a, dbo.dim_ent_sub_source b
		where a.dim_entp_source_nk = b.dim_ent_source_nk
		and a.sub_source = b.sub_source_name
		and b.active = 1

		----Update Unit of Measure key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_ent_unit_of_measure', 'dim_entp_unit_of_measure_sk', 'dim_entp_unit_of_measure_nk', 'dim_ent_unit_of_measure_sk', 
		--	'dim_ent_unit_of_measure_nk', 'unit_of_measure', 'unit_of_measure_name', 'LU_Date', 'fact_ops', 1

			
execute [stage].[fact_lookup_based_on_one_key] 
       'gpd.NCSA_P6_Labor_Units','gpd.NCSA_P6_Labor_Units','stage_ncsa_p6_labor_units_id', 
       'dim_entp_unit_of_measure_sk','dim_entp_unit_of_measure_nk','dim_ent_unit_of_measure','dim_ent_unit_of_measure_sk',
	   'dim_ent_unit_of_measure_nk', 'unit_of_measure','unit_of_measure_code','FL',null;


		--Update CWP key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_cwp', 'dim_entp_cwp_sk', 'dim_entp_cwp_nk', 'dim_entp_cwp_sk', 
		--	'dim_entp_cwp_nk', 'cwp', 'cwp_code', 'LU_Date', 'fact_ops', 1

		update gpd.NCSA_P6_Labor_Units
		set dim_entp_cwp_sk = b.dim_entp_cwp_sk,
		dim_entp_cwp_nk = b.dim_entp_cwp_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_cwp b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.cwp = b.cwp_code
		and b.active = 1


		--Update schedule resource key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_schedule_resource', 'dim_entp_schedule_resource_sk', 'dim_entp_schedule_resource_nk', 'dim_entp_schedule_resource_sk', 
		--	'dim_entp_schedule_resource_nk', 'schedule_resource', 'schedule_resource_code', 'LU_Date', 'fact_ops', 1
		update gpd.NCSA_P6_Labor_Units
		set dim_entp_schedule_resource_sk = b.dim_entp_schedule_resource_sk,
		dim_entp_schedule_resource_nk = b.dim_entp_schedule_resource_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_schedule_resource b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.schedule_resource = b.schedule_resource_code
		and b.active = 1



		--Update work area key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_work_area', 'dim_entp_work_area_sk', 'dim_entp_work_area_nk', 'dim_entp_work_area_sk', 
		--	'dim_entp_work_area_nk', 'work_area', 'work_area_code', 'LU_Date', 'fact_ops', 1

		--Update phase key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_phase', 'dim_entp_phase_sk', 'dim_entp_phase_nk', 'dim_entp_phase_sk', 
		--	'dim_entp_phase_nk', 'phase', 'phase_code', 'LU_Date', 'fact_ops', 1

		update gpd.NCSA_P6_Labor_Units
		set dim_entp_phase_sk = b.dim_entp_phase_sk,
		dim_entp_phase_nk = b.dim_entp_phase_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_phase b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.phase = b.phase_code
		and b.active = 1


		--Update Unit
		--update [gpd].[NCSA_P6_Labor_Units]
		--set work_unit = c.schedule_unit
		--from [gpd].[NCSA_P6_Labor_Units] a, dim_entp_activity c
		--where a.activity = c.activity_code
		--and c.active = 1

		--Update Unit key
		--execute [Stage].[usp_derive_dim_keys_single_keycol_no_eaf_load] 
		--	'gpd.NCSA_P6_Labor_Units', 'dim_entp_work_unit', 'dim_entp_work_unit_sk', 'dim_entp_work_unit_nk', 'dim_entp_work_unit_sk', 
		--	'dim_entp_work_unit_nk', 'work_unit', 'work_unit_code', 'LU_Date', 'fact_ops', 1

		update gpd.NCSA_P6_Labor_Units
		set dim_entp_work_unit_sk = b.dim_entp_work_unit_sk,
		dim_entp_work_unit_nk = b.dim_entp_work_unit_nk
		from gpd.NCSA_P6_Labor_Units a,dbo.dim_entp_work_unit b
		where a.dim_entp_project_nk = b.dim_entp_project_nk
		and a.work_unit = b.work_unit_code
		and b.active = 1


		--Added By Johnson -  To not to keep the other keys null
		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_iwp_sk = (select [dim_entp_iwp_sk] from  [dbo].[dim_entp_iwp]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1 
		and [iwp_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_iwp_nk = (select [dim_entp_iwp_nk] from  [dbo].[dim_entp_iwp]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1 
		and [iwp_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set [dim_entp_pim_sk] =  (select [dim_entp_pim_sk]  from  [dbo].[dim_entp_pim]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1
		and [pim_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set [dim_entp_pim_nk] =  (select [dim_entp_pim_nk]  from  [dbo].[dim_entp_pim]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1
		and [pim_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set [dim_entp_roc_sk] = (select [dim_entp_roc_sk] from  [dbo].[dim_entp_roc]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1
		and [roc_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set [dim_entp_roc_nk] = (select [dim_entp_roc_nk] from  [dbo].[dim_entp_roc]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1
		and [roc_code] = 'ZZZ')

		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_work_unit_sk = (select [dim_entp_work_unit_sk] from  [dbo].[dim_entp_work_unit]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1 
		and [work_unit_code] = 'ZZZ')
		where dim_entp_work_unit_sk is null


		update [gpd].[NCSA_P6_Labor_Units]
		set dim_entp_work_unit_nk = (select [dim_entp_work_unit_nk] from  [dbo].[dim_entp_work_unit]
		where [dim_entp_project_nk] = [gpd].[NCSA_P6_Labor_Units].[dim_entp_project_nk]
		and [active] = 1 
		and [work_unit_code] = 'ZZZ')
		where dim_entp_work_unit_nk is null



	
		select @unprocessed_count  = count(*)  from [gpd].[NCSA_P6_Labor_Units]
		where 
		   dim_entp_function_sk is null
		or dim_entp_function_nk is null
		or dim_entp_project_sk is null
		or dim_entp_project_nk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_activity_nk is null
		or dim_entp_data_class_sk is null
		or dim_entp_data_class_nk is null
		or dim_entp_data_sub_class_sk is null
		or dim_entp_data_sub_class_nk is null
		or dim_entp_sub_source_sk is null
		or dim_entp_sub_source_nk is null
		or dim_entp_source_sk is null
		or dim_entp_source_nk is null
		or dim_entp_unit_of_measure_nk is null
		or dim_entp_unit_of_measure_sk is null

		select @processed_count  = count(*)  from [gpd].[NCSA_P6_Labor_Units]
		where 
		   dim_entp_function_sk is NOT NULL
		AND dim_entp_function_nk is NOT NULL
		AND dim_entp_project_sk is NOT NULL
		AND dim_entp_project_nk is NOT NULL
		AND dim_entp_phase_sk is NOT NULL
		AND dim_entp_phase_nk is NOT NULL
		AND dim_entp_work_unit_sk is NOT NULL
		AND dim_entp_work_unit_nk is NOT NULL
		AND dim_entp_work_area_sk is NOT NULL
		AND dim_entp_work_area_nk is NOT NULL
		AND dim_entp_cwp_sk is NOT NULL
		AND dim_entp_cwp_nk is NOT NULL
		AND dim_entp_schedule_resource_sk is NOT NULL
		AND dim_entp_schedule_resource_nk is NOT NULL
		AND dim_entp_activity_sk is NOT NULL
		AND dim_entp_activity_nk is NOT NULL
		AND dim_entp_data_class_sk is NOT NULL
		AND dim_entp_data_class_nk is NOT NULL
		AND dim_entp_data_sub_class_sk is NOT NULL
		AND dim_entp_data_sub_class_nk is NOT NULL
		AND dim_entp_sub_source_sk is NOT NULL
		AND dim_entp_sub_source_nk is NOT NULL
		AND dim_entp_source_sk is NOT NULL
		AND dim_entp_source_nk is NOT NULL
		AND dim_entp_unit_of_measure_nk is NOT NULL
		AND dim_entp_unit_of_measure_sk is NOT NULL


--		--select * from [dbo].[dim_entp_activity]

--		--select   TOP 10 * from [Stage].[NCSA_Sitepro_Progress]
--		--select  * from [dbo].[dim_entp_roc]

		--Moving error data to reprocessing area
		insert into [gpd].[reprocess_P6_Labor_Units]
		([Activity_ID],[Activity_Name],[Resource_ID_Name],[Global_Executed_By_Type],[Start],[Finish],[Spreadsheet_Field],[Period],[Units],[fx],[project],[phase],[work_unit],[work_area],[cwp],[schedule_resource],[activity],[iwp],[pim],[roc],[data_sub_class],[data_class],[sub_source],[source],[unit_of_measure],[dim_entp_function_sk],[dim_entp_function_nk],[dim_entp_project_sk],[dim_entp_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_entp_data_sub_class_sk],[dim_entp_data_sub_class_nk],[dim_entp_data_class_sk],[dim_entp_data_class_nk],[dim_entp_sub_source_sk],[dim_entp_sub_source_nk],[dim_entp_source_sk],[dim_entp_source_nk],[dim_entp_unit_of_measure_sk],[dim_entp_unit_of_measure_nk],[LU_Date],[Planned_Start],[Planned_End],[rk_failure_info],[load_date_time])
		select 
		[Activity_ID],[Activity_Name],[Resource_ID_Name],[Global_Executed_By_Type],[Start],[Finish],[Spreadsheet_Field],[Period],[Units],[fx],[project],[phase],[work_unit],[work_area],[cwp],[schedule_resource],[activity],[iwp],[pim],[roc],[data_sub_class],[data_class],[sub_source],[source],[unit_of_measure],[dim_entp_function_sk],[dim_entp_function_nk],[dim_entp_project_sk],[dim_entp_project_nk],[dim_entp_phase_sk],[dim_entp_phase_nk],[dim_entp_work_unit_sk],[dim_entp_work_unit_nk],[dim_entp_work_area_sk],[dim_entp_work_area_nk],[dim_entp_cwp_sk],[dim_entp_cwp_nk],[dim_entp_schedule_resource_sk],[dim_entp_schedule_resource_nk],[dim_entp_activity_sk],[dim_entp_activity_nk],[dim_entp_iwp_sk],[dim_entp_iwp_nk],[dim_entp_pim_sk],[dim_entp_pim_nk],[dim_entp_roc_sk],[dim_entp_roc_nk],[dim_entp_data_sub_class_sk],[dim_entp_data_sub_class_nk],[dim_entp_data_class_sk],[dim_entp_data_class_nk],[dim_entp_sub_source_sk],[dim_entp_sub_source_nk],[dim_entp_source_sk],[dim_entp_source_nk],[dim_entp_unit_of_measure_sk],[dim_entp_unit_of_measure_nk],[LU_Date],[Planned_Start],[Planned_End],[rk_failure_info],[load_date_time]
		from [gpd].[NCSA_P6_Labor_Units]
		where 
		   dim_entp_function_sk is null
		or dim_entp_function_nk is null
		or dim_entp_project_sk is null
		or dim_entp_project_nk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_activity_nk is null
		or dim_entp_data_class_sk is null
		or dim_entp_data_class_nk is null
		or dim_entp_data_sub_class_sk is null
		or dim_entp_data_sub_class_nk is null
		or dim_entp_sub_source_sk is null
		or dim_entp_sub_source_nk is null
		or dim_entp_source_sk is null
		or dim_entp_source_nk is null
		or dim_entp_unit_of_measure_nk is null
		or dim_entp_unit_of_measure_sk is null


		update [gpd].[reprocess_P6_Labor_Units]
		 set rk_failure_info = 
		 case when dim_entp_function_nk is null then 'Missing Function - ' + isnull(fx,'') + ',' else '' end +
		 case when dim_entp_project_nk is null then 'Missing Project Number - ' + isnull(project,'') + ',' else '' end +
		 case when dim_entp_data_class_nk is null then 'Missing Data Class - ' + isnull(data_class,'') + ',' else '' end +
		 case when dim_entp_data_sub_class_nk is null then 'Missing Data Sub Class - ' + isnull(data_sub_class,'') + ',' else '' end +
		 case when dim_entp_sub_source_nk is null then 'Missing Sub Source - ' + isnull(sub_source,'') + ',' else '' end +
		 case when dim_entp_source_nk is null then 'Missing Source - ' + isnull(source,'') + ',' else '' end +
		 case when dim_entp_unit_of_measure_nk is null then 'Missing UOM -  ' + isnull(unit_of_measure,'') + ',' else '' end +
		 case when dim_entp_phase_nk is null then 'Missing Phase - ' + isnull(phase,'') + ',' else '' end +
		 case when dim_entp_work_unit_nk is null then 'Missing Work Unit - ' +  + isnull(work_unit,'') + ',' else '' end +
		 case when dim_entp_work_area_nk is null then 'Missing Work Area - ' +  + isnull(work_area,'') + ',' else '' end +
		 case when dim_entp_cwp_nk is null then 'Missing CWP Code - ' +  + isnull(cwp,'') + ',' else '' end +  
		 case when dim_entp_schedule_resource_nk is null then 'Missing Schedule Resource - ' +  + isnull(schedule_resource,'') + ',' else '' end +
		 case when dim_entp_activity_nk is null then 'Missing Activity Code - ' +  + isnull(activity,'') + ',' else '' end +
		 case when dim_entp_iwp_nk is null then 'Missing IWP Code - ' +  + isnull(iwp,'') + ',' else '' end +
		 case when dim_entp_pim_sk is null then 'Missing PMID - ' +  + isnull(pim,'') + ',' else '' end +
		 case when dim_entp_roc_nk is null then 'Missing ROC - ' +  + isnull(roc,'') + ',' else '' end 



		delete from [gpd].[NCSA_P6_Labor_Units]
		where 
		   dim_entp_function_sk is null
		or dim_entp_function_nk is null
		or dim_entp_project_sk is null
		or dim_entp_project_nk is null
		or dim_entp_phase_sk is null
		or dim_entp_phase_nk is null
		or dim_entp_work_unit_sk is null
		or dim_entp_work_unit_nk is null
		or dim_entp_work_area_sk is null
		or dim_entp_work_area_nk is null
		or dim_entp_cwp_sk is null
		or dim_entp_cwp_nk is null
		or dim_entp_schedule_resource_sk is null
		or dim_entp_schedule_resource_nk is null
		or dim_entp_activity_sk is null
		or dim_entp_activity_nk is null
		or dim_entp_data_class_sk is null
		or dim_entp_data_class_nk is null
		or dim_entp_data_sub_class_sk is null
		or dim_entp_data_sub_class_nk is null
		or dim_entp_sub_source_sk is null
		or dim_entp_sub_source_nk is null
		or dim_entp_source_sk is null
		or dim_entp_source_nk is null
		or dim_entp_unit_of_measure_nk is null
		or dim_entp_unit_of_measure_sk is null




--	if isnull(@processed_count,0) > 0 
--	begin
--		select @error_message = 'Total records processed is ' + convert(varchar(40),@processed_count)
--	end
--	select @error_message = isnull(@error_message,'')
--	if isnull(@unprocessed_count,0) > 0 
--	begin
--		select @error_message = @error_message + 'Total records failed validation ' + convert(varchar(40),@unprocessed_count)
--	end

--	if isnull(@error_message,'') = '' 
--	begin
--	  select 'Success'; 
--	end
--	else
--	begin
--      select @error_message ;
--	end

--end try
--begin catch
--	if @errorMessage is not null
--	begin
--		select 'Failed', @errorMessage;
--	end
--	else
--	begin
--		select 'Falied', error_message()
--	end;
--end catch;
--end;		
--GO


GO


