/****** Object:  StoredProcedure [Stage].[fact_lookup_based_on_one_key]    Script Date: 4/16/2021 7:28:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [Stage].[fact_lookup_based_on_one_key] @p_stage_fact_table_name [varchar](240),@p_stage_fact_view_name [varchar](240),@p_stage_fact_table_sk_name [varchar](240),@p_stage_fact_table_reference_sk_name [varchar](240),@p_stage_fact_table_reference_nk_name [varchar](240),@p_reference_dim_table_name [varchar](240),@p_reference_dim_table_sk_name [varchar](240),@p_reference_dim_table_nk_name [varchar](240),@p_stage_fact_table_compare_column_name1 [varchar](240),@p_dim_table_compare_column_name1 [varchar](240),@p_first_last_call_indicator [varchar](2),@p_stage_transaction_date_column_name [date] AS

begin	
	exec [Stage].[fact_lookup_based_on_many_key]  @p_stage_fact_table_name,
					@p_stage_fact_view_name,
					@p_stage_fact_table_sk_name,
					@p_stage_fact_table_reference_sk_name ,
					@p_stage_fact_table_reference_nk_name ,
					@p_reference_dim_table_name ,
					@p_reference_dim_table_sk_name ,
					@p_reference_dim_table_nk_name ,
					@p_stage_fact_table_compare_column_name1 ,
					@p_dim_table_compare_column_name1 ,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					null,
					@p_first_last_call_indicator,
					@p_stage_transaction_date_column_name;
end;

/*
begin
execute [stage].[fact_lookup_based_on_one_key] 'Stage.ts_kronos', 'Stage.ts_kronos_v', 'ts_row_id', 'dim_ent_source_sk', 'dim_ent_source_nk', 'dim_ent_source', 'dim_ent_source_sk', 'dim_ent_source_nk', 'ts_source'	, 'source_name', 'FL';
-- execute [stage].[fact_lookup_based_on_one_key] null, null, null, null, null, null, null, null, 'L';
select * from #temp_config_header;
select * from #temp_stage;
end;
*/
GO
